
{{> menu-top isBlackText=true}}

<div class="loader">
	<div class="spinner">
	  <div class="double-bounce1"></div>
	  <div class="double-bounce2"></div>
	</div>
</div>
		
<div class="nav-container">
</div>

<div class="main-container">
<section class="no-pad error-page bg-primary fullscreen-element">
		<div class="container align-vertical">
			<div class="row">
				<div class="col-sm-12 text-center">
					<i class="icon icon-compass"></i>
					<h1 class="jumbo">404</h1>
					<h1><strong>Упс, кажется тут что-то не то!</strong><br>Давайте вернёмся обратно...</h1>
					<a href="/" class="btn btn-primary btn-white" onclick="window.history.back();">Назад</a>
					<a href="/" class="btn btn-primary btn-white">На главную</a>
				</div>
			</div>
		</div>
	</section>
</div>

{{> footer}}
		
{{> scripts}}