<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top isBlackText=true}}

<div class="main-container about xs-text-center">
    <section class="text-image-bottom bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>Живые решения и&nbsp;новое качество жизни</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p class="lead">Продукты BFC – результат инноваций и&nbsp;трудоемкой работы лучших микробиологов в&nbsp;своей
                        области. Все&nbsp;наши&nbsp;решения отвечают самым высоким экологическим требованиям и&nbsp;это&nbsp;фундаментальный
                        принцип. Мы&nbsp;создаем новый мир, нового качества. В&nbsp;нашей компании нет&nbsp;места
                        сомнительным
                        продуктам, мы&nbsp;не&nbsp;идем на&nbsp;компромиссы и&nbsp;создаем лучшее.</p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p class="lead">Мы&nbsp;никогда не&nbsp;выпустим что-то, поддавшись на&nbsp;компромисс, ради
                        коммерческого
                        заработка и&nbsp;пополнения товарной линейки. Мы&nbsp;хотим быть&nbsp;верны своим принципам и&nbsp;видеть
                        доверие к&nbsp;нашей работе. Наши&nbsp;лаборатории находятся в&nbsp;нескольких странах мира и&nbsp;объединены
                        общей
                        целью. Мы&nbsp;открыты и&nbsp;работаем на&nbsp;наше&nbsp;общее и&nbsp;здоровое будущее.</p>
                </div>
                <!--<div class="col-xs-12 visible-xs hidden">
                    <p class="lead">Продукты BFC – результат инноваций и&nbsp;трудоемкой работы лучших микробиологов в&nbsp;своей
                        области. Все&nbsp;наши&nbsp;решения отвечают самым высоким экологическим требованиям и&nbsp;это&nbsp;фундаментальный
                        принцип. Мы&nbsp;создаем новый мир, нового качества. В&nbsp;нашей компании нет&nbsp;места
                        сомнительным
                        продуктам, мы&nbsp;не&nbsp;идем на&nbsp;компромиссы и&nbsp;создаем лучшее.
                        Мы&nbsp;никогда не&nbsp;выпустим что-то, поддавшись на&nbsp;компромисс, ради коммерческого
                        заработка и&nbsp;пополнения товарной линейки. Мы&nbsp;хотим быть&nbsp;верны своим принципам и&nbsp;видеть
                        доверие к&nbsp;нашей работе. Наши&nbsp;лаборатории находятся в&nbsp;нескольких странах мира и&nbsp;объединены
                        общей целью. Мы&nbsp;открыты и&nbsp;работаем на&nbsp;наше&nbsp;общее и&nbsp;здоровое будущее.
                    </p>
                </div>-->
            </div>
        </div>
    </section>
    <section class="instagram-feed">
        <div class="container">
            <div class="row text-center">
                <div><span class="alt-font">&nbsp;BFC&nbsp;<i class="icon social_instagram"></i>&nbsp;PROBIOTIC</span>
                </div>
            </div>
        </div>
        <div class="instafeed" data-user-name="bfc_probiotic">
            <ul></ul>
        </div>
    </section>
    <section class="clients-2 hidden">
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-xs-4">
                    <img alt="Client Logo" src="img/bfc.gif">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img style="max-height: 54px;" alt="Client Logo" src="img/PPA.gif">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img style="max-height: 40px; padding-bottom: 5px;" alt="Client Logo" src="img/med.gif">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img style="max-height: 35px;" alt="Client Logo" src="img/GPD.gif">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img style="max-height: 33px;" alt="Client Logo" src="img/ASCG.gif">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img style="max-height: 31px;" alt="Client Logo" src="img/Prime.gif">
                </div>
            </div>
        </div>
    </section>
    <section class="social pad-xsmall">
        <div class="container">
            <div class="row text-center">
                <ul class="social-icons">
                    <li>
                        <a href="https://vk.com/bfc.probiotic">
                            <i class="social-icon vk"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/bfc.probiotic/">
                            <i class="social-icon facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/bfc_probiotic/">
                            <i class="social-icon instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="social-icon youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section data-scroll="#contact" class="contact-thirds">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12">
                    <h1>
                        Мы&nbsp;хотели&nbsp;бы вас&nbsp;слышать</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <p>Мы&nbsp;стараемся активно сотрудничать со&nbsp;своими клиентами и&nbsp;партнерами, внимательно
                        слушать
                        все&nbsp;рекомендации и&nbsp;пожелания. Мы&nbsp;в&nbsp;постоянном развитии решений, улучшении
                        продуктов, поиска
                        и&nbsp;раскрытия новых возможностей.</p>

                    <p class="hidden-xs">Напишите нам о&nbsp;своих идеях, результатах использования, предложениях или&nbsp;задайте
                        вопросы.
                        Мы&nbsp;не&nbsp;оставим их&nbsp;без&nbsp;внимания.</p>
                </div>
                {{>contacts}}
                <hr class="visible-xs">
                <div class="col-sm-4">
                    <p class="visible-xs">Напишите нам о&nbsp;своих идеях, результатах использования, предложениях или&nbsp;задайте
                        вопросы.
                        Мы&nbsp;не&nbsp;оставим их&nbsp;без&nbsp;внимания.</p>
                </div>
                {{>form}}
            </div>
        </div>
    </section>
</div>
{{> footer isAbout=true}}
{{> scripts}}

