<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{{> menu-top isBlackText=false}}

<div class="main-container acsg">
    <header class="title">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/header1.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/header1-mob.jpg">
        </div>

        <div class="container align-bottom no-align-mobile">
            <div class="row">
                <div class="col-xs-11">
                    <h1 class="text-white">Инновационная система очистки</h1>
                </div>
            </div>
        </div>
    </header>
    <section class="hidden">
    </section>
    <section class="duplicatable-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature">
                        <h5>Быстрое внедрение</h5>

                        <p>Мы не требуем дорогостоящих инвестиций в оборудование, долгого и сложного процесса
                            внедрения.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature">
                        <h5>Упрощает задачи</h5>

                        <p>Процесс поверхностной очистки становится более легким, требует меньших трудозатрат и
                            количества персонала.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature">
                        <h5>Сокращает расходы</h5>

                        <p>ACSG оказывает влияние на уменьшение расхода топлива и сокращает эксплуатационные затраты
                            авиакомпании.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="side-image text-heavy clearfix pad-xsmall boy">
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/acsg-boy-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-8 col-md-7 content clearfix">
                    <h1 class="">ACSG — залог безопасности</h1>

                    <p class=" lead">Для профессионалов не является новостью, что очищенная
                        <br class="hidden-xs">поверхность фюзеляжа самолета упрощает предполётный осмотр
                        <br class="hidden-xs">и способствует возможности предотвращения катастроф.</p>
                </div>
            </div>
        </div>
        <div class="image-container col-sm-3 pull-right col-md-5 hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/acsg-boy.jpg">
            </div>
        </div>
    </section>
    <section class="inline-image-right pad-middle acsg-sh">
        <div class="container">
            <div class="row content">
                <div class="col-sm-6 text-center">
                    <h1 class="visible-xs">Простой и эффективный</h1>
                    <img alt="Product Image" class="product-image hidden-xs" src="img/acsg-sh.jpg">
                </div>
                <div class="align-vertical no-align-mobile col-sm-5">
                    <h1 class="hidden-xs">Простой и эффективный</h1>

                    <p class="lead">
                        Наш инновационный подход заключается в реализации метода удаления загрязнений без использования
                        кислотных и щелочных составов. Глубокая проникающая и отделяющая способность ACSG для
                        последующего механического удаления - наиболее эффективный и безопасный способ очистки.</p>
                </div>
                <div class="col-xs-12 text-center visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/acsg-sh-mob.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="inline-image-right pad-large acsg-tx">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" src="img/acsg-tx.jpg"/>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/acsg-tx-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12">
                    <h1 class="text-white">ACSG&nbsp;не&nbsp;вступает в&nbsp;химическую реакцию</h1>

                    <p class="lead text-white">Совершенно безопасен для <br class="visible-xs"/> алюминиевого корпуса самолета <br class="visible-xs"/>и не вредит
                        соединениям. Полностью <br class="visible-xs"/>безопасен для любых материалов. <br class="visible-xs"/>Не стимулирует преждевременное <br class="visible-xs"/>старение
                        поверхностей.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="hidden"></section>
    <section class="inline-image-right">
        <div class="container">
            <div class="row content">
                <div class="align-vertical no-align-mobile col-sm-5 col-md-5 col-md-offset-1">
                    <h1>Превосходит ожидания</h1>

                    <p class="lead">Катионовая составляющая поверхностно-активных веществ в сочетании с ингибиторами
                        придаёт антистатические и антикоррозионные свойства. ACSG не создает жировую пленку и производит
                        обезжиривание поверхности. Абсолютно безопасен при попадании на тормозную систему.</p>
                </div>
                <div class="align-vertical no-align-mobile text-center col-sm-6 col-md-offset-1 col-md-5">
                    <img class="product-image " src="img/acsg-brake.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="kan">
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/acsg-kan-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-white text-center">Два продукта - безграничные возможности</h1>
                </div>
                <div class="col-sm-12 text-white hidden-xs">
                    <table>
                        <tr>
                            <td>
                                <h2 class="text-white">ACCP</h2>
                                <br>
                                <p>
                                    Универстальный очиститель на пенной основе. Применяется при очистке загрязнений на
                                    гладких вертикальных поверхностях и очистке фюзеляжа авиационной техники
                                    <br>
                                    <br>
                                </p>
                            </td>
                            <td>
                                <img alt="Product Image" class="product-image" src="img/acsg-kan.jpg">
                            </td>
                            <td>
                                <h2 class="text-white">ACSG</h2>
                                <br>
                                <p>
                                    Универстальный очиститель на пенной основе. Применяется при очистке загрязнений на
                                    гладких вертикальных поверхностях и очистке фюзеляжа авиационной техники
                                    <br>
                                    <br>
                                    <br>
                                </p>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 visible-xs">
                    <h2 class="text-white">ACCP</h2>

                    <p class="lead">Универстальный очиститель на пенной основе. Применяется при очистке загрязнений на
                        гладких вертикальных поверхностях и очистке фюзеляжа авиационной техники</p>
                </div>
                <div class="col-xs-12 visible-xs">
                    <h2 class="text-white">ACSG</h2>

                    <p class="lead">Универстальный очиститель на пенной основе. Применяется при очистке загрязнений на
                        гладких вертикальных поверхностях и очистке фюзеляжа авиационной техники</p>
                </div>
            </div>
        </div>
    </section>
    <section class="hidden"></section>
    <section class="duplicatable-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="feature">
                        <h5>Безопасные</h5>

                        <p>Абсолютно безопасные, не токсичные, гипоаллергенные составы. Не требуют средств
                            индивидуальной защиты.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature">
                        <h5>Экологичные</h5>

                        <p>Не содержат природа разрушающих компонентов. Биоразлагаемые составы на водной
                            основе.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature">
                        <h5>Многофункциональные</h5>

                        <p>Безопасные отделительные свойства продуктов — сократило необходимость в большом
                            количестве разновидностей средств.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature">
                        <h5>Простые в хранении</h5>

                        <p>Не требую специальных условий хранения. Не боятся перемерзания. Не содержат спирты и
                            растворители. Не горючи.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients ">
        <div class="container ">
            <div class="row ">
                <div class="text-center col-sm-12 ">
                    <h2>Одобрено мировыми экспертами</h2>
                </div>
            </div>
            <div class="row client-row ">
                <div style="padding-top: 20px ">
                    <div  class="col-sm-3 col-sm-offset-1 ">
                        <div class="text-center ">
                            <img style="margin: 15px 0 15px 0 " alt="client " src="img/acsg-douglas.png ">
                        </div>
                    </div>
                    <div style="padding-top: 0 " class="col-sm-4 ">
                        <div class="text-center ">
                            <img style="margin: 50px 0 15px 0" alt="client " src="img/acsg-boeing.png ">
                        </div>
                    </div>
                    <div style="padding-top: 0 " lass="col-sm-3 ">
                        <div class="text-center ">
                            <img style="margin: 20px 0 15px 0" alt="client " src="img/acsg-gos.png ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{> footer isAcsg = true}}
{{> scripts}}
