<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top isBlackText=true}}
<div class="main-container air-clean">
    <section class="side-image text-heavy clearfix pad-large space">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/air-clean-top.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/air-clean-top-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-pl-v-6 col-md-5 col-xs-8">
                    <h1>Дом, работа, автомобиль</h1>

                    <p class="lead">Каждый день человек 80%&nbsp;времени находятся в&nbsp;замкнутом пространстве.
                        Ежедневно пропуская через свои легкие 10&nbsp;тысяч&nbsp;литров воздуха, подвергает себя
                        внешнему влиянию.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix">
        <div class="">
            <div class="hidden-xs">
                <img class="product-image" src="img/air-clean-kachestvo.jpg">
            </div>
            <div class="air-quality">

                <div class="row">

                    <div class="col-md-offset-6 col-sm-7 col-sm-offset-5 content clearfix col-md-6">
                        <h1>Качество воздуха и загрязнение поверхностей</h1>

                        <p class="lead">
                            Уровень загрязнения окружающей среды внутри помещения может быть в&nbsp;100&nbsp;раз
                            сильнее, чем&nbsp;снаружи. Только в&nbsp;одной комнате можно обнаружить сотни&nbsp;тысяч
                            инфекционных бактерий, вирусов, грибковых спор, пылевых клещей и&nbsp;плесени. Они&nbsp;живут
                            и&nbsp;размножаются в&nbsp;системе кондиционирования воздуха, мебели, бытовой технике.
                        </p>
                    </div>
                    <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                        <img class="" alt="Background Image" src="img/air-clean-kachestvo-mob.jpg">
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="side-image text-heavy clearfix">
        <div class="hidden-xs">
            <img class="product-image" src="img/air-clean-sushestvuet.jpg">
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/air-clean-sushestvuet-mob.jpg">
        </div>

        <div class="clean-goals">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-pl-v-6 content clearfix pull-right xs-pull-left">
                    <h1>Существует много решений очистки, но&nbsp;они&nbsp;не&nbsp;работают</h1>

                    <p class="lead">
                        Большинство систем ориентированы на&nbsp;предотвращение проникновения загрязнений. При&nbsp;этом
                        такие системы сами являются источниками распространения заболеваний. Устройства, способные
                        сдерживать микроорганизмы – дорогие и&nbsp;выполняют свою задачу не&nbsp;до&nbsp;конца, вызывают
                        резистентность микроорганизмов и&nbsp;развитие агрессивной среды.</p>
                </div>

            </div>
        </div>
    </section>

    <section class="inline-image-right ubivaya pad-large">

        <div class="container">

            <div class="row">
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/air-clean-ubivaya-mob.jpg">
                </div>
                <div class="col-xs-12 sm-text-center content clearfix col-md-6 xs-text-left">
                    <h1>Убивая живое, мы&nbsp;уничтожаем&nbsp;себя</h1>

                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead">
                                Отсутствие понимания природных процессов и&nbsp;желание уничтожить всё&nbsp;живое,
                                получило противостояние и&nbsp;достойный отпор. Применяя агрессию к&nbsp;микроорганизмам,
                                человек побуждает их&nbsp;приспосабливаться и&nbsp;изменяться.</p>
                            <a href="" class="btn btn-primary">Подробнее</a><br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 text-center pull-right hidden-xs">
                    <img alt="Product Image" class="product-image" src="img/air-clean-ubivaya.jpg">
                </div>
            </div>
        </div>

    </section>

    <section class="side-image text-heavy clearfix prostoe">
        <div class="image-container col-md-12 col-sm-12 hidden-xs">
            <div class="background-image-holder bp-0">
                <img class="background-image" alt="Background Image" src="img/air-clean-prostoe.jpg">
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/air-clean-prostoe-mob.jpg">
                </div>
                <div class="col-md-9 col-sm-11 content clearfix col-lg-7 simple">
                    <h1>Простое и&nbsp;эффективное решение задач, гибкие возможности подключения</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 content visible-lg clearfix col-sm-10">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-md-offset-4 align-vertical no-align-mobile col-sm-8 col-lg-6 content clearfix wide">
                    <h1>Широкий радиус проникновения и&nbsp;заполнение всего пространства</h1>

                    <p class="lead">
                        Распыление спор пробиотических бактерий приводит к&nbsp;постепенному заполнению всего
                        пространства и&nbsp;замещению микрофлоры, устранению источников загрязнений и&nbsp;аллергенов.
                        Наше&nbsp;решение подключается к&nbsp;центральному блоку вентиляции, системы кондиционирования,
                        в&nbsp;каналы вентиляции, устанавливаются внутри помещения.
                    </p>
                </div>
            </div>
            <!--TODO -->
            <!--                <div class="text-center col-sm-7">
                                <img alt="Product Image" class="product-image" src="img/air-clean-prostoe.jpg">
                            </div>-->
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-large approaches">
        <div class="image-container col-md-12 col-sm-12">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/air-clean-iskluchenie.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-8 col-md-6 pull-right text">
                    <h1>Исключение разрушительных и&nbsp;не&nbsp;безопасных подходов</h1>

                    <p class="lead">
                        Наш подход восстанавливает и поддерживает природное равновесие, формирует благоприятную для
                        здоровья человека среду в жилых домах, офисах, школах и иных помещений.
                    </p>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/air-clean-iskluchenie-mob.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-large clean-novye">
        <div class="image-container col-md-12 col-sm-12 hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/air-clean-novye.jpg">
            </div>
        </div>

        <div class="container align-vertical">
            <div class="row">
                <div class="col-sm-7 col-md-5">
                    <h1>Новое возможности</h1>

                    <p class="lead">
                        Мы&nbsp;разрабатываем устройства, обеспечивающие пробиотическую очистку. Наша&nbsp;цель –
                        формирование здорового пространства и&nbsp;развитие иммунной системы человека. Ежедневно мы&nbsp;работаем
                        над&nbsp;созданием новых решений, нацеленных на&nbsp;улучшение качества жизни.</p>
                    <a href="/devices" class="btn btn-primary">Наши устройства</a>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/air-clean-novye-mob.jpg">
                </div>
            </div>
        </div>

    </section>
</div>

{{> footer}}
{{> scripts}}

