<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top isBlackText=true}}
<div class="main-container animal-care">
    <section class="side-image text-heavy clearfix pad-large pet">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/animal-care-top.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/animal-care-top-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-7 col-md-5 col-pl-v-6">
                    <h1>Яркий и&nbsp;жизнерадостный</h1>

                    <p class="lead">My&nbsp;pet – простые и&nbsp;эффективные продукты для&nbsp;ухода за&nbsp;домашними животными, забота о&nbsp;здоровье и&nbsp;защита от&nbsp;влияния патогенных микроорганизмов.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small bezop">
        <div class="image-container col-md-12 col-sm-12 pull-left hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/animal-care-bezop.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/animal-care-bezop-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1 class="">Безопасность для&nbsp;окружения</h1>

                    <p class="lead">
                        Продукты&nbsp;BFC облегчают содержание животных, очищают, формируют здоровую среду, создают комфортные условия для&nbsp;всех обитателей. Используемые пробиотические культуры бактерий нейтрализуют запахи, снижают влияние аллергенов и&nbsp;не&nbsp;позволяют болезнетворным микроорганизмам негативно влиять на&nbsp;окружение.
                    </p>
                    <a href="/home_cleaning" class="btn btn-primary">Об уборке в доме</a><br>

                </div>

            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small purity">
        <div class="image-container col-md-12 col-sm-12 pull-left">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/animal-care-chistota.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/animal-care-chistota-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical content clearfix col-sm-7 col-md-6">
                    <h1>Чистота и&nbsp;гигиена&nbsp;</h1>

                    <p class="lead">Абсолютно безопасный для&nbsp;кожного покрова, пробиотический шампунь глубоко очищает и&nbsp;не&nbsp;вызывает аллергической реакции. Пробиотики, перенесенные на&nbsp;шкуру животного, обеззараживают, ускоряют процесс заживления ран и&nbsp;ссадин, удаляют органические загрязнения, решают проблему слипшейся шерсти и&nbsp;неприятного запаха, становятся защитой от&nbsp;патогенной агрессии на&nbsp;несколько суток.</p>
                    <a href="/probiotic" class="btn btn-primary">Узнать о&nbsp;пробиотиках</a>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small zdorovye">
        <div class="image-container col-md-12 col-sm-12 pull-left">
            <div class="background-image-holder bp-y-100">
                <img class="background-image" alt="Background Image" src="img/animal-care-zdorovye.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/animal-care-zdorovye-mob.jpg">
        </div>
        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-7 col-sm-offset-5 content clearfix col-md-6">
                    <h1>Здоровье питомца</h1>

                    <p class="lead">Как&nbsp;и&nbsp;человек, животные через пищу подвержены влиянию микроорганизмов. Стабилизируя микробное состояние, добавляя пробиотики в&nbsp;питьевую воду, мы&nbsp;помогаем иммунной системе и&nbsp;стимулируем её&nbsp;к&nbsp;развитию. Питомец меньше подвержен болезням и&nbsp;более восприимчив при&nbsp;лечении.</p>
                    <br>


                </div>

            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix myagkaya">
        <div class="image-container col-md-12 col-sm-12 pull-left">
            <div class="background-image-holder bp-y-0">
                <img class="background-image" alt="Background Image" src="img/animal-care-myagkaya.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/animal-care-myagkaya-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="align-vertical content clearfix col-sm-8 col-sm-6">
                    <h1>Мягкая кожа</h1>

                    <p class="lead">
                        Со&nbsp;временем кожа на&nbsp;подушечках лап стареет и&nbsp;теряет эластичность. Трескаясь, она&nbsp;приносит дискомфорт, открывает возможность для&nbsp;легкого проникновения патогенов - причины заражения и&nbsp;заболеваний. Использование пробиотического крема смягчает кожу,  оказывает очищающую и&nbsp;обеззараживающую функцию, стимулирует заживление и&nbsp;восстановление кожи животного.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-xsmall prozrachnaya">
        <div class="image-container col-md-12 col-sm-12 pull-left hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/animal-care-prozrachnaya.jpg">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-7 col-sm-offset-5 content clearfix col-md-6">
                    <h1>Прозрачная вода</h1>

                    <p class="lead">Пробиотическая обработка воды в&nbsp;аквариуме стабилизирует микробное состояние, избавляет обитателей от&nbsp;негативного влияния микроорганизмов, создает комфортные условия для&nbsp;жизни. Вырабатываемые ферменты эффективно очищают воду, удаляют органические загрязнения, делают её&nbsp;прозрачной.</p>
                    <a href="/water_clear" class="btn btn-primary">Об очистке воды</a><br>


                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/animal-care-prozrachnaya-mob.jpg">
                </div>
            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small hidden-xs">
        <div class="image-container col-md-12 col-sm-12 pull-left">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/animal-care-prostaya.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile content clearfix col-sm-6 col-md-5">
                    <h1>Простая уборка&nbsp;</h1>

                    <p class="lead">Мы&nbsp;предлагаем экологически безопасные решения, делаем задачи очистки клетки, мисок и&nbsp;туалета животных простыми и&nbsp;безопасными, нейтрализуем запахи и&nbsp;нормализуем микробное состояние.</p>
                </div>
            </div>
        </div>
    </section>
</div>

{{> footer}}
{{> scripts}}
