{{> menu-top isBlackText=true}}

<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="nav-container">
</div>

<div class="main-container body-care">
    <section class="text-image-bottom bg-white">

        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/care_1-mob.jpg">
        </div>

        <div class="container">

            <div class="row">
                <div class="align-vertical col-md-offset-2 col-pl-v-offset-0 col-pl-h-offset-1 col-pl-v-12 col-pl-h-10 col-sm-10 col-sm-offset-1 text-center col-md-8">
                    <h1>Разрабатывая продукты, основанные на&nbsp;новых свойствах, мы&nbsp;ставили цель сделать их&nbsp;привычными
                        и&nbsp;интуитивно понятными</h1>
                </div>
            </div>


        </div>

        <!--        <div class="text-center care">
                    <img alt="Freelancer Essentials" src="img/care_1.jpg">
                </div>-->
    </section>

    <section class="duplicatable-content pure-text">
        <div class="container">


            <div class="row">
                <div class="col-sm-4">
                    <h6>Защита человека</h6>

                    <p>
                        Кожа человека – важный и&nbsp;самый большой по&nbsp;площади орган. Она защищает тело от&nbsp;внешних
                        воздействий, как&nbsp;механических, так&nbsp;и&nbsp;химических. Предохраняет от&nbsp;проникновения микроорганизмов
                        и&nbsp;ультрафиолетового излучения.</p>
                </div>

                <div class="col-sm-4">
                    <h6>Роль и&nbsp;функции кожи</h6>

                    <p>Кожа участвует в&nbsp;дыхании, терморегуляции, поглощает кислород, излучает тепло. Она&nbsp;принимает
                        непосредственное участие в&nbsp;водно-солевом обмене, выводя с&nbsp;потом соли, токсины,
                        лекарства.</p>
                </div>

                <div class="col-sm-4">
                    <h6>Влияние на&nbsp;здоровье</h6>

                    <p>
                        Кожа осуществляет эндокринную и&nbsp;метаболическую функции, обеспечивает синтез и&nbsp;накопление
                        витаминов. Она&nbsp;обладает своей микрофлорой, участвует в&nbsp;иммунных реакциях и&nbsp;нуждается
                        в&nbsp;уходе.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix xs-background-white">
        <div class="image-container col-sm-3 pull-left col-md-5">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/care_2.jpg">
            </div>
        </div>

        <div class="visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/care_2-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Забота о&nbsp;здоровье и&nbsp;бережное отношение к&nbsp;организму</h1>

                    <p class="lead">Состояние внешней среды оставляет отпечаток на&nbsp;здоровье, работоспособности и&nbsp;иммунитете
                        человека. Мы&nbsp;создаем комплексные решения гигиены от&nbsp;очистки одежды и&nbsp;жилища, до&nbsp;персонального
                        ухода за&nbsp;телом, ногтями и&nbsp;ротовой полостью. Используя пробиотические продукты, мы&nbsp;предупреждаем
                        заболевания, укрепляем здоровье.</p>
                    <a href="/probiotic" class="btn btn-primary">Узнать о&nbsp;пробиотиках</a><br>


                </div>

            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix properties">
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/care_3-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-8 col-md-6 content clearfix">
                    <h1>Новые свойства</h1>

                    <p class="lead xs-no-margin-bottom">Соединив безопасные составы с&nbsp;пробиотической составляющей,
                        впервые были получены продукты для&nbsp;ухода за&nbsp;телом, способные удалять загрязнения и&nbsp;одновременно
                        обеспечивать пролонгированную микробиологическую очистку с&nbsp;защитой организма от&nbsp;болезнетворных
                        бактерий на&nbsp;несколько суток.</p>
                </div>
            </div>
        </div>
        <div class="image-container col-sm-3 pull-right col-md-6">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/care_3.png">
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix xs-background-white">
        <div class="image-container col-xs-4 col-md-6 col-pl-v-5 pull-left hidden-xs">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="img/care_4.png">
            </div>
        </div>
        <div class="visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/care_4-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical pull-right col-sm-8 content clearfix col-md-6 col-pl-v-8 xs-no-margin-bottom">
                    <h1>Биобаланс и&nbsp;защитная способность</h1>

                    <p class="lead xs-no-margin-bottom">Гарантируя микробиологический баланс, пробиотики формируют
                        надежную защиту от&nbsp;всего, что&nbsp;может навредить и&nbsp;вызвать аллергию, развивая
                        способность организма к&nbsp;сопротивлению и&nbsp;выживанию.</p>
                </div>


            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix zhivaya">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/zhivaya.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/zhivaya-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-7 content clearfix ">

                    <h1 class="">Живая основа</h1>

                    <p class="lead xs-no-margin-bottom">Увлажнение кожи лица, использование крема, принятие душа – не&nbsp;имеет
                        значения, в&nbsp;процессе использования какого продукта полезные микроорганизмы попадают на&nbsp;поверхность.
                        Пробиотики мгновенно запускают свой микробиологический процесс, имеющий в&nbsp;основе
                        «природоподобные» свойства очистки, функции защиты и&nbsp;саморегуляции.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix regeneration">
        <div class="image-container col-sm-12 pull-left">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/care_6.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/care_6-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="pull-right col-sm-8 content clearfix col-md-6 col-pl-v-8">
                    <h1>Регенерация кожи на&nbsp;основе природных процессов</h1>

                    <p class="lead">
                        Клетки кожи, как&nbsp;и&nbsp;всё&nbsp;живое, размножаются и&nbsp;отмирают. Погибая, они&nbsp;становятся
                        органическим загрязнением и&nbsp;помехой для&nbsp;развития новых. Предлагая комфортные условия
                        для&nbsp;развития клеток, обеспечивая их&nbsp;большим пространством и&nbsp;поступлением
                        кислорода, пробиотики создают новые условия и&nbsp;стимулируют регенерацию кожи.</p>
                    <br>


                </div>

            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix smells">
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/care_7-mob.png">
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-6 content clearfix">
                    <h1>Источники запахов</h1>

                    <p class="lead">
                        Водно-солевой раствор и&nbsp;органические вещества, выделяемые потовыми железами, являются
                        причиной неприятного запаха и&nbsp;источником заболеваний. Используемые нами микроорганизмы не&nbsp;маскируют
                        запахи, а&nbsp;питаясь, устраняют очаги, не&nbsp;закрывают поры и&nbsp;не&nbsp;нарушают
                        терморегуляцию. Они&nbsp;создают неблагоприятные условия для&nbsp;развития патогенов, забирая у&nbsp;них
                        пространство.</p>
                </div>
            </div>
        </div>
        <div class="image-container col-sm-5 pull-right col-md-5">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/care_7.png">
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix external">
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/care_8-mob.jpg">
        </div>

        <div class="image-container col-md-5 col-sm-4 pull-left">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="img/care_8.jpg">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Внешняя защита</h1>

                    <p class="lead">Остатки пищи и&nbsp;влаги, открытое пространство – факторы, оказывающие
                        положительное влияние на&nbsp;развитие патогенных организмов на&nbsp;щетине зубной щётки
                        Пробиотики, удалив загрязнения, обеспечивают защитные свойства: надежно противостоят попаданию
                        через ротовую полость недоброжелательных микроорганизмов и&nbsp;устраняют возможность развития
                        заболеваний.</p>
                    <br>


                </div>

            </div>

        </div>
    </section>
</div>
{{> footer}}
{{> scripts}}
        