<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top isBlackText=true}}
<div class="main-container cleaning-components">
<section class="first-child pad-middle no-align-mobile">
    <div class="background-image-holder no-bg-mobile">
        <img class="background-image" alt="" src="img/cleaning-top.jpg">
    </div>
    <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
        <img class="" alt="Background Image" src="img/cleaning-top-mob.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-sm-10 col-sm-offset-1 col-md-6 pull-right content">
                <h1 class="">Безопасен для&nbsp;рук и&nbsp;поверхностей</h1>

                <p class="lead">BFC –&nbsp;альтернатива традиционным очистителям на&nbsp;базе растворителей. Глубокая
                    очистка и&nbsp;удаление поверхностного загрязнения без&nbsp;агрессивного воздействия, разрушения
                    материалов и&nbsp;стимулирования старения. Уменьшение рисков развития инфекций, удаление биоплёнок и&nbsp;создание
                    безопасной среды для&nbsp;человеческого организма на&nbsp;микробиологическом уровне.</p>
            </div>
        </div>
    </div>
</section>
<section class="side-image text-heavy clearfix toxic">
    <div class="container">
        <div class="row">
            <div class="align-vertical no-align-mobile col-sm-6 col-xs-12 visible-xs">
                <img alt="App Screenshot" src="img/neagress.jpg">
            </div>
            <div class="align-vertical no-align-mobile no-pad-bottom-mobile col-sm-6 col-xs-12 content clearfix">
                <h1>Неагрессивные, нетоктсичные, безопасные, гипоалергенные</h1>

                <p class="lead no-mar-bottom-mobile">Появление отделительных составов избавило от&nbsp;необходимости
                    постоянного контакта с&nbsp;кислотными и&nbsp;щелочными составами, вызывающими ожоги, разъедание,
                    раздражение кожи, разрушение подкожных тканей и&nbsp;слизистой оболочки. Разбавленные для&nbsp;использования
                    концентрированные составы не&nbsp;вызывают аллергической реакции, не&nbsp;наносят вред здоровью,
                    обеспечивают эффективное удаление загрязнений.</p>
            </div>
            <div class="align-vertical no-align-mobile col-sm-6 col-xs-12 hidden-xs" style="padding: 0;">
                <img alt="App Screenshot" src="img/neagress.jpg">
            </div>
        </div>
    </div>
</section>

<section class="side-image text-heavy clearfix slider">
    <div class="image-container col-sm-3 col-md-12">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/cleaning-components-icons.jpg">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                <img class="" alt="Background Image" src="img/cleaning-components-icons-mob.jpg">
            </div>
            <div class="hidden-xs align-vertical col-md-offset-4 no-align-mobile clearfix col-sm-12 col-md-8"
                 style="padding: 30px 0 94px">
                <div class="row">
                    <div class="col-sm-6 no-pad-left clearfix">
                        <div class="feature feature-icon-small">
                            <i class="icon icon-shield icon-large"></i>
                            <h6>Безопасные</h6>

                            <p>
                                Кислота и&nbsp;щелочь – угроза не&nbsp;только для&nbsp;здоровья человека, но&nbsp;и&nbsp;причина
                                порчи очищаемых поверхностей. В&nbsp;составах&nbsp;BFC отсутствуют агрессивные свойства,
                                риски для&nbsp;здоровья, одежды и&nbsp;поверхностей очистки.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 no-pad-left clearfix">
                        <div class="feature feature-icon-small">
                            <i class="icon icon-global icon-large"></i>
                            <h6>Биоразлагаемые</h6>

                            <p>Составы&nbsp;BFC соответствуют стандартам Европейского законодательства, предъявляемых к&nbsp;первичной
                                биологической разлагаемости поверхностно-активных веществ, и&nbsp;превышают
                                установленный порог.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 no-pad-left clearfix">
                        <div class="feature feature-icon-small">
                            <i class="icon icon-hotairballoon icon-large"></i>
                            <h6>Экологичные</h6>

                            <p>
                                Забота об&nbsp;экологии не&nbsp;заканчивается на&nbsp;содержании флакона. Упаковка
                                многоразового использования из&nbsp;сырья вторичной переработки и&nbsp;минимизация
                                отходов – ещё&nbsp;один вклад в&nbsp;борьбу за&nbsp;её&nbsp;сохранение.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 no-pad-left clearfix">
                        <div class="feature feature-icon-small">
                            <i class="icon icon-heart icon-large"></i>
                            <h6>Заботливые</h6>

                            <p>
                                Отсутствие прямого биоцидного действия на&nbsp;бактерии, использование составов без&nbsp;фосфатов
                                и&nbsp;предотвращение их&nbsp;дальнейшего попадания в&nbsp;стоки – важные факторы для&nbsp;сохранения
                                экологии.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visible-xs hero-slider">
                <ul class="slides">
                    <li class="overlay">
                        <div class="feature feature-icon-small">
                            <i class="icon icon-shield icon-large"></i>
                            <h6>Безопасные</h6>

                            <p>
                                Кислота и&nbsp;щелочь – угроза не&nbsp;только для&nbsp;здоровья человека, но&nbsp;и&nbsp;причина
                                порчи очищаемых поверхностей. В&nbsp;составах&nbsp;BFC отсутствуют агрессивные свойства,
                                риски для&nbsp;здоровья, одежды и&nbsp;поверхностей очистки.</p>
                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-small">
                            <i class="icon icon-global icon-large"></i>
                            <h6>Биоразлагаемые</h6>

                            <p>Составы&nbsp;BFC соответствуют стандартам Европейского законодательства, предъявляемых к&nbsp;первичной
                                биологической разлагаемости поверхностно-активных веществ, и&nbsp;превышают
                                установленный порог.</p>
                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-small">
                            <i class="icon icon-hotairballoon icon-large"></i>
                            <h6>Экологичные</h6>

                            <p>
                                Забота об&nbsp;экологии не&nbsp;заканчивается на&nbsp;содержании флакона. Упаковка
                                многоразового использования из&nbsp;сырья вторичной переработки и&nbsp;минимизация
                                отходов – ещё&nbsp;один вклад в&nbsp;борьбу за&nbsp;её&nbsp;сохранение.</p>
                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-small">
                            <i class="icon icon-heart icon-large"></i>
                            <h6>Заботливые</h6>

                            <p>
                                Отсутствие прямого биоцидного действия на&nbsp;бактерии, использование составов без&nbsp;фосфатов
                                и&nbsp;предотвращение их&nbsp;дальнейшего попадания в&nbsp;стоки – важные факторы для&nbsp;сохранения
                                экологии.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

<section class="side-image text-heavy clearfix new">

    <div class="image-container col-pl-v-7 col-md-6 col-xlg-4 col-sm-3 pull-right visible-sm visible-lg visible-md col-xlg-offset-right-1">
        <div class="background-image-holder bp-0">
            <img class="background-image" alt="Background Image" src="img/cleaning-components-novaya.jpg">
        </div>
    </div>
    <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
        <img class="" alt="Background Image" src="img/cleaning-components-novaya-mob.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 content">
                <h1>Новая, ранее не&nbsp;доступная глубина очистки поверхностей</h1>

                <p class="lead">
                    Инновации позволили создать новый тип очистительных средств, обладающих моющими, отделительными и&nbsp;дезинфицирующими
                    свойствами. Наши составы обеспечивают новую глубину очистки, обеззараживают, формируют защитный
                    барьер пролонгированного действия, не&nbsp;содержат растворителей, не&nbsp;входят в&nbsp;химическую
                    реакцию, не&nbsp;разрушают поверхности.
                    <br>
                </p>

                <div class="row">
                    <div class="col-md-12">
                        <a href="/products-of-cleaning" class="btn btn-primary">Как работают пробиотики</a>

                    </div>
                </div>
            </div>
            <!--                <div class="col-sm-7" data-scroll-reveal="enter from bottom and move 100px">
                                <img alt="App Screenshot" src="img/cleaning-components-novaya.jpg">
                            </div>-->
        </div>
    </div>
</section>
<section class="primary-features duplicatable-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 clearfix col-md-4">
                <div class="feature feature-icon-small">
                    <h6 class="text-white">Моющие отделители</h6>

                    <p class="text-white">
                        Продукты с&nbsp;инновационным решением отделения загрязнений от&nbsp;очищаемой поверхности для&nbsp;дальнейшего
                        удаления. Обладают недосягаемыми для&nbsp;аналогов экологическими безопасными свойствами. Полное
                        отсутствие химической реакции растворения с&nbsp;образованием новых химических веществ и&nbsp;разрушением
                        поверхностей.</p>
                </div>
            </div>
            <div class="col-sm-6 clearfix col-md-4">
                <div class="feature feature-icon-small">
                    <h6 class="text-white">Пробиотические очистители</h6>

                    <p class="text-white">Составы не&nbsp;обладают моющими свойствами. Очистка производится за&nbsp;счёт
                        использования пробиотических спор, удаляющих биоплёнки и&nbsp;разрушающих микробиологические
                        связи вредных и&nbsp;опасных бактерий. Данная очистка способна обезопасить поверхность на&nbsp;микробиологическом
                        уровне и&nbsp;делает её&nbsp;визуально чище.</p>
                </div>
            </div>
            <div class="col-sm-6 clearfix col-md-4">
                <div class="feature feature-icon-small">
                    <h6 class="text-white">Моющие пробиотики</h6>

                    <p class="text-white">
                        Новый класс чистящих средств, созданный в&nbsp;процессе соединения высокоэффективных моющих
                        отделителей и&nbsp;пробиотических очистителей. Данные продукты унаследовали все&nbsp;преимущества,
                        производят высококачественную поверхностную и&nbsp;микробиологическую очистку с&nbsp;формированием
                        пробиотической микрофлоры.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="side-image clearfix ph">
    <div class="image-container col-sm-12 pull-left">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/cleaning-components-ph.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-sm-8 col-sm-offset-4 content clearfix col-md-7">
                <h1>Значение pH</h1>

                <p class="">
                    Диапазон&nbsp;pH характеризует кислотно-щелочное состояние внутренней среды и&nbsp;составляет от&nbsp;0&nbsp;до&nbsp;14&nbsp;pH.
                    Продукты со&nbsp;значением pH менее 3 и&nbsp;более&nbsp;11 считаются очень агрессивными для&nbsp;поверхностей
                    очистки и&nbsp;могут стать причиной опасных кислотных и&nbsp;щелочных ожогов. Большинство продуктов&nbsp;BFC
                    находятся в&nbsp;диапазоне от&nbsp;10,5&nbsp;до&nbsp;13&nbsp;pH, но&nbsp;при&nbsp;этом не&nbsp;опасны
                    и&nbsp;являются поразительным исключением.
                </p>

                <div class="problem-solving-btn">
                    <a href="/problem-solving" class="btn btn-grey btn-primary">Как выбрать состав</a>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12 pt-30">
                        <h5>Безопасность составов</h5>

                        <p>Многочисленные тесты и&nbsp;опыт использования на&nbsp;практике, доказали абсолютную
                            безопасность составов при&nbsp;контакте с&nbsp;кожей и&nbsp;поверхностями очистки.</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 pt-30">
                        <h5>Независимая оценка</h5>

                        <p>Заявления об&nbsp;абсолютной безопасности составов подтверждается отчетами института CEBETOX,
                            выданными паспортами и&nbsp;признаются во&nbsp;всех странах Европы.</p>
                    </div>
                </div>
                <br class="visible-xs">
                <br class="visible-xs">
                <div class="problem-solving-img visible-xs">
                    <img class="" alt="" src="img/cleaning-components-ph-mob.png">
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{{> footer}}
{{> scripts}}
