<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top }}
<div class="main-container directions">
    <header class="page-header">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/bfc_007.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/bfc_007-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-pl-v-7">
                    <h1 class="text-white">Стремление к&nbsp;лучшему</h1>

                    <p class="text-white lead">Мы&nbsp;не&nbsp;делим чистящие средства на&nbsp;профессиональные и&nbsp;бытовые. Работая
                        по&nbsp;трем направлениям, мы&nbsp;создали специализированные продукты для&nbsp;уборки помещений, очистки
                        поверхностей, гигиены и&nbsp;ухода.</p>
                </div>
            </div>
        </div>
    </header>
    <section class="no-pad-bottom no-pad-top projects-gallery">
        <div class="projects-wrapper clearfix">
            <div class="project-directions row">
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/body_care"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-1.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/home_cleaning"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-2.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/animal_care"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-3.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/cleaning-instruments"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-4.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/air-clean"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-5.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder"
                   href="http://www.primebrush.ru/" target="_blank" onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-6.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/GPD_safe_food"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-7.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/horeca"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-8.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/professional"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-9.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/med"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-10.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/pro_active"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-11.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/cleaning-instruments"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-12.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/cleaning-instruments"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-13.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/acsg"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-14.jpg">
                </a>
                <a class="col-xs-12 col-sm-6 col-md-4 col-xl-3 no-pad print image-holder" href="/cleaning-instruments"
                   onclick="$(this).addClass('active');">
                    <img class="background-image" alt="" src="img/directions-15.jpg">
                </a>
            </div>
            <!--                <div class="projects-container">
                                <a href="/body_care">
                                    <div class="col-xs-12 col-sm-6 no-pad project print image-holder col-md-4">
                                        <div class="background-image-holder">
                                            <img class="background-image" alt="Background Image" src="img/bfc_008.jpg">
                                        </div>

                                    </div>
                                </a>
                                <a href="/body">
                                    <div class="col-xs-12 col-sm-6 no-pad project branding image-holder col-md-4">
                                        <div class="background-image-holder">
                                            <img class="background-image" alt="Background Image" src="img/bfc_009.jpg">
                                        </div>

                                    </div>
                                </a>
                                <a href="/jpd">
                                    <div class="col-xs-12 col-sm-6 no-pad project print image-holder col-md-4">
                                        <div class="background-image-holder">
                                            <img class="background-image" alt="Background Image" src="img/bfc_010.jpg">
                                        </div>

                                    </div>
                                </a>

                            </div>
                            <div class="projects-container">
                                <a href="/health">
                                    <div class="col-xs-12 col-sm-6 no-pad project print image-holder col-md-4 col-xs-12">
                                        <div class="background-image-holder">
                                            <img class="background-image" alt="Background Image" src="img/bfc_008.jpg">
                                        </div>

                                    </div>
                                </a>
                                <a href="http://acsg.bfc-pro.com">
                                    <div class="col-xs-12 col-sm-6 no-pad project branding image-holder col-md-4 col-xs-12">
                                        <div class="background-image-holder">
                                            <img class="background-image" alt="Background Image" src="img/bfc_009.jpg">
                                        </div>
                                    </div>
                                </a>
                                <a href="http://primebrush.ru">
                                    <div class="col-xs-12 col-sm-6 no-pad project print image-holder col-md-4 col-xs-12">
                                        <div class="background-image-holder">
                                            <img class="background-image" alt="Background Image" src="img/bfc_010.jpg">
                                        </div>

                                    </div>
                                </a>
                            </div>-->
        </div>
    </section>

</div>
{{> footer}}
{{> scripts}}

