<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top isBlackText=true}}
<div class="main-container duo">
<section class="inline-image-right pad-middle">
    <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/duo-top.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="align-vertical no-align-mobile col-sm-6">
                <h1>Здоровая кожа</h1>

                <p class="lead">Неблагоприятные воздействия внешней среды, несбалансированное питание, возрастные
                    изменения – факторы, влияющие на&nbsp;внешний вид кожи. Её&nbsp;оттенок становится серым, ухудшается
                    кровоснабжение, проявляется склонность к&nbsp;образованию морщин и&nbsp;воспаленным участкам. Кожа
                    теряет ключевые элементы анти-старения: антиоксиданты, микроэлементы, пептиды, жирные кислоты и&nbsp;многое
                    другое.</p>
            </div>

        </div>
    </div>
</section>

<section class="inline-image-right pad-middle">
    <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/duo-blagopr.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="align-vertical no-align-mobile col-sm-6 pull-right">
                <h1>Благоприятное воздействие</h1>

                <p class="lead">
                    Работа устройства направлена на&nbsp;восстановление функции анти-старения, активацию клеточной
                    активности, восстановление иммунитета кожи, обеспечение эффективной профилактической защиты от&nbsp;инфекционных,
                    воспалительных и&nbsp;раздражающих воздействий на&nbsp;кожных покровах.
                </p>
            </div>


        </div>
    </div>
</section>

<section class="duplicatable-content visible-xs">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Двойное решение</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="feature feature-icon-large">
                    <div class="pull-left">
                        <i class="icon icon-desktop"></i>
                    </div>
                    <div class="pull-right">
                        <h5>Увлажнение кожи</h5>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="feature feature-icon-large">
                    <div class="pull-left">
                        <i class="icon icon-desktop"></i>
                    </div>
                    <div class="pull-right">
                        <h5>Антипатогенная защита</h5>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="feature feature-icon-large">
                    <div class="pull-left">
                        <i class="icon icon-desktop"></i>
                    </div>
                    <div class="pull-right">
                        <h5>Обогащение кислородом</h5>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="feature feature-icon-large">
                    <div class="pull-left">
                        <i class="icon icon-tools-2"></i>
                    </div>
                    <div class="pull-right">
                        <h5>Повышение уровня коллагена</h5>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="feature feature-icon-large">
                    <div class="pull-left">
                        <i class="icon icon-linegraph"></i>
                    </div>
                    <div class="pull-right">
                        <h5>Формирование антиоксидантной защиты</h5>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="feature feature-icon-large">
                    <div class="pull-left">
                        <i class="icon icon-genius"></i>
                    </div>
                    <div class="pull-right">
                        <h5>Удаление воспаления и покраснения</h5>

                    </div>
                </div>
            </div>


        </div>
    </div>

</section>

<div class="hidden-xs">

    <img alt="Product Image" class="product-image" src="img/duo-print.jpg">

</div>

<section class="side-image text-heavy clearfix pad-xsmall">
    <div class="image-container col-sm-12">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/duo-pitanie.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="align-vertical no-align-mobile content clearfix col-sm-6 pull-right">
                <h1>Питание и&nbsp;защита</h1>

                <p class="lead">
                    Распыляя пробиотический раствор, устройство превращает его&nbsp;в&nbsp;мельчайшие, нанометровые
                    частицы, которые обволакивают кожу, с&nbsp;легкостью проникая в&nbsp;её&nbsp;слои, освежая, увлажняя
                    и&nbsp;питая кожный покров. Сразу после соприкосновения с&nbsp;кожей, пробиотические бактерии
                    начинают свою работу, препятствуя распространению вредных и&nbsp;опасных микроорганизмов.</p>
            </div>


        </div>
    </div>
</section>

<section class="side-image text-heavy clearfix pad-xsmall">
    <div class="image-container col-sm-12">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/duo-glubokaya.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="align-vertical no-align-mobile content clearfix col-sm-6">
                <h1>Глубокая очистка</h1>

                <p class="lead">
                    Пробиотики вырабатывают ферменты, которые удаляют наслоение погибших клеток, устраняют вредные
                    отложения, растворяют мёртвый белок, переваривают избытки глюкозы, помогают в&nbsp;разрушении
                    уплотненных жиров в&nbsp;порах кожи.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="side-image text-heavy clearfix pad-xsmall">
    <div class="image-container col-sm-3 col-md-5">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/duo-jivye.jpg">
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix">
                <h1>Живые процессы</h1>

                <p class="lead">
                    Используя инновации, мы&nbsp;создаём косметические решения, основанные на&nbsp;пробиотической
                    биоактивности, которая повышает естественную реакцию кожи к&nbsp;восстановлению, обеспечивает
                    чистоту на&nbsp;максимально глубоком, микробиологическом уровне. Пробиотики способствуют регенерацию
                    клеток эпидермиса, усиливается иммунитет, вызывая естественный процесс выработки коллагена. Сила
                    пробиотиков повышает здоровье и&nbsp;внешний вид кожи, делая её&nbsp;молодой и&nbsp;подтянутой.</p>
                <a href="/probiotic" class="btn btn-primary">Узнать о&nbsp;пробиотиках</a><br>


            </div>

        </div>

    </div>
</section>

<section class="side-image text-heavy clearfix pad-xsmall">
    <div class="image-container col-md-5 col-xlg-4 col-sm-3 pull-right">
        <div class="background-image-holder bp-0">
            <img class="background-image" alt="Background Image" src="img/duo-zdorovaya.png">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="align-vertical no-align-mobile col-sm-6 content clearfix">
                <h1>Активация и регенерация</h1>

                <p class="lead">
                    В&nbsp;режиме Ultrasonic&nbsp;SPA устройство безопасно передает в&nbsp;слои кожи 3&nbsp;миллиона
                    ультразвуковых колебаний в&nbsp;секунду, стимулирует клетки, активирует клеточный метаболизм,
                    улучшает работу сальных желез, способствует циркуляции кожи и&nbsp;лимфы, повышает эластичность,
                    уменьшает отеки, заметно разглаживает морщины. Ультразвуковой массаж усиливает интенсивность
                    коллагеногенеза на&nbsp;30%, снимает воспаления, оптимизирует процесс поглощения кожей питательных
                    веществ.</p>
            </div>
        </div>
    </div>
</section>
</div>

{{> footer}}
{{> scripts}}
