<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>


{{> menu-top isBlackText=true}}

<div class="main-container farm">
    <section class="product-right">

        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/grey-bg.jpg">
        </div>

        <div class="container align-vertical" style="z-index: 10; margin-top: 30px;">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-pl-v-7">
                    <h1>Эффективное производство, полезные&nbsp;продукты</h1>

                    <p class="lead">Традиционные знания, существующие в&nbsp;сельскохозяйственном производстве, безнадежно устарели и&nbsp;не&nbsp;соответствуют современным условиям. Появление пробиотической технологии и&nbsp;разработка на&nbsp;её&nbsp;основе отраслевых решений открыли новые возможности, привели к&nbsp;новой экономической эффективности и&nbsp;существенному снижению расходов.</p>

                </div>
            </div>
        </div>

        <div class="product-image">
            <img alt="Product Image" src="img/GPD40.png">
        </div>

    </section>

    <section class="side-image text-heavy clearfix" style="padding: 100px 0;">
        <div class="image-container col-sm-3 pull-left col-md-7">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="img/GPD6.jpg">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="pull-right col-sm-8 col-pl-v-7 content clearfix col-md-6 bp-0 xs-no-padding-bottom">
                    <h1>Здоровье животного</h1>

                    <p class="lead">
                        Пробиотики поддерживают здоровье, а&nbsp;в&nbsp;случае заболевания обеспечивают большую восприимчивость к&nbsp;лечению и&nbsp;возможность к&nbsp;восстановлению. Решается проблема маститов и&nbsp;вирусных заболеваний копыт у&nbsp;коров, улучшается качество молока, растут надои.</p>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/GPD6-mob.jpg">
                </div>

            </div>
        </div>
    </section>

    <section class="side-image pig">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/GPD41.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/GPD41-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 content">

                    <h1 class="">«Чистое»&nbsp;поколение</h1>

                    <p class="lead">Переход на&nbsp;пробиотические продукты стимулирует развитие иммунной системы животных и&nbsp;создает возможность отказа от&nbsp;чрезмерного применения антибиотиков, оставляющих крайне негативные последствия.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix economical">
        <div class="image-container col-sm-4 pull-left col-md-6 col-xl-4">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="img/GPD5.jpg">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="align-middle pull-right col-sm-8 content clearfix col-md-6 col-pl-v-7 xs-no-padding-bottom">
                    <h1>Влияние на&nbsp;экономические показатели и&nbsp;эффективность</h1>

                    <p class="lead">
                        Пробиотическая обработка мест содержания птиц уменьшает расходы при&nbsp;пятикратном сокращении времени. Наши решения приводят к&nbsp;улучшению конверсии корма, птицы лучше растут и&nbsp;не&nbsp;болеют. Постепенно сокращаются вакцинации и&nbsp;отказ от&nbsp;них. Качественно улучшается мясо и&nbsp;яйца, повышается возможность увеличения реализационной стоимости и&nbsp;привлекательности для&nbsp;покупателей. Наш&nbsp;опыт показывает эффективность производства, сокращения издержек на&nbsp;содержание до&nbsp;40% и&nbsp;увеличения доходов от&nbsp;реализации качественной продукции.</p>

                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/GPD5-mob.jpg">
                </div>
            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix tomato pad-small">

        <div class="image-container col-md-6 col-xlg-4 col-sm-3 pull-right visible-sm visible-lg visible-md col-xlg-offset-right-1">
            <div class="background-image-holder bp-0">
                <img class="background-image" alt="Background Image" src="img/GPD7.jpg">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-6 col-pl-v-8 content clearfix">
                    <h1>Натуральные и&nbsp;без&nbsp;ГМО</h1>

                    <p class="lead">Стимулирование роста, увеличение урожайности, улучшение качества растений и&nbsp;устойчивость к&nbsp;заболеваниям –&nbsp;возможности, открываемые пробиотиками без&nbsp;какого-либо химического воздействия и&nbsp;негативных последствий. Сокращая влияние патогенной флоры, пробиотики стимулируют иммунную систему растений и&nbsp;обеспечивают комфортные условия для&nbsp;развития в&nbsp;естественных условиях.</p>
                </div>

                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/GPD7-mob.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="product-right wood-divider fish">
        <div class="background-image-holder bp-0 hidden-xs">
            <img class="background-image" alt="Background Image" src="img/GPD8.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/GPD8-mob.jpg">
        </div>

        <div class="container align-vertical">
            <div class="row">
                <div class="pull-right col-sm-8 content clearfix col-md-5 col-pl-v-12 pl-v-text-center">
                    <h1 class="text-white">На&nbsp;поверхности и&nbsp;под&nbsp;водой</h1>

                    <p class="text-white lead">Пробиотическая обработка пресных водоемов позволяет создать благоприятные условия для&nbsp;развития фауны, способствует увеличению поголовья рыб и&nbsp;других её&nbsp;обитателей. Пробиотики очищают, улучшая среду, снижают возможность развития болезней, положительно влияя на&nbsp;качество продукции.</p>
                </div>
            </div>
        </div>


    </section>
</div>

{{> footer}}

{{> scripts}}
    
