<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>


{{> menu-top isBlackText=true}}

<div class="main-container production-distribution">
    <section class="text-banner bacteria">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">

                    <h1 class="center-block">Треть всей продукции из-за&nbsp;порчи просто выбрасывается в&nbsp;отходы. В&nbsp;большинстве
                        случаев это&nbsp;связано с&nbsp;патогенами</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="lead">
                        Именно вредоносные бактерии, попадая на&nbsp;продукт, совершают свою разрушительную работу,
                        перечеркивают все&nbsp;усилия и&nbsp;затраты компании. Это&nbsp;может возникнуть на&nbsp;любом
                        из&nbsp;этапов переработки, производства, транспортировки или&nbsp;хранения.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="page-header no-overlay quality">
        <div class="background-image-holder parallax-background hidden-xs">
            <img class="background-image" alt="Background Image" src="img/GPD9.jpg">
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/GPD9-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-5">

                    <h1 class="text-white">Качество обработки сокращает риски</h1>

                    <p class="text-white lead">Подготовка зон переработки мяса, рыбы, продукции растениеводства имеет
                        принципиальное значение для&nbsp;сохранности самой продукции.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="duplicatable-content technology">

        <div class="container">
            <div class="row">
                <div class="text-center col-md-12">
                    <h1>Современные технологии пробиотической очистки способны обеспечить эффективную защиту
                        поверхностей от&nbsp;патогенной флоры, сформировать обеззараженное пространство, соответствующее
                        необходимым условиям для&nbsp;производства продуктов питания</h1>
                </div>
            </div>

            <div class="row hidden-xs">


                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-shield icon-large"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Эффективная и&nbsp;безопасная защита</h5>

                            <p>
                                Пробиотические бактерии обеспечивают устойчивую, чистую среду при&nbsp;производстве и&nbsp;упаковке
                                продуктов питания. В&nbsp;процессе очистки наш&nbsp;метод не&nbsp;способен вызвать
                                резистентность и&nbsp;мутацию микроорганизмов, создающих все&nbsp;больше и&nbsp;больше
                                проблем.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-clock icon-large"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Пролонгированный эффект работы</h5>

                            <p>В&nbsp;отличие от&nbsp;краткосрочного действия дезинфектантов, работа которых
                                заканчивается через&nbsp;15-30&nbsp;минут после применения, пробиотические технологии
                                обеспечивают возможность пролонгированной очистки и&nbsp;обеззараживания до&nbsp;7&nbsp;дней
                                в&nbsp;зависимости от&nbsp;созданных условий для&nbsp;микроорганизмов.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-global icon-large"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Отсутствие вредных компонентов&nbsp;</h5>

                            <p>
                                Наши составы содержат «живые» компоненты и&nbsp;именно поэтому не&nbsp;могут быть
                                агрессивными и&nbsp;нести разрушительные воздействия. Являясь биологически безопасными,
                                они&nbsp;избавляют от&nbsp;проблем нанесения вреда здоровью персонала и&nbsp;насыщения
                                продуктов опасными ядами дезинфектантов.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-wallet icon-large"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Увеличение времени хранения</h5>

                            <p>
                                Применение метода пространственной очистки обеспечивает создание конкурентной среды и&nbsp;способствует
                                попаданию пробиотических споровых бактерий на&nbsp;продукты. Это&nbsp;приводит к&nbsp;их&nbsp;длительной
                                защите от&nbsp;действия патогенов и&nbsp;обеспечивает реальное увеличение сроков
                                хранения почти в&nbsp;2-3&nbsp;раза.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="visible-xs hero-slider">
                <ul class="slides">
                    <li class="overlay">
                        <div class="feature feature-icon-large">
                            <i class="icon icon-shield icon-large"></i>

                            <h5>Эффективная и&nbsp;безопасная защита</h5>

                            <p>
                                Пробиотические бактерии обеспечивают устойчивую, чистую среду при&nbsp;производстве
                                и&nbsp;упаковке продуктов питания. В&nbsp;процессе очистки наш&nbsp;метод не&nbsp;способен
                                вызвать резистентность и&nbsp;мутацию микроорганизмов, создающих все&nbsp;больше и&nbsp;больше
                                проблем.</p>
                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-large">
                            <i class="icon icon-clock icon-large"></i>

                            <h5>Пролонгированный эффект работы</h5>

                            <p>В&nbsp;отличие от&nbsp;краткосрочного действия дезинфектантов, работа которых
                                заканчивается через&nbsp;15-30&nbsp;минут после применения, пробиотические
                                технологии обеспечивают возможность пролонгированной очистки и&nbsp;обеззараживания
                                до&nbsp;7&nbsp;дней в&nbsp;зависимости от&nbsp;созданных условий для&nbsp;микроорганизмов.</p>
                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-large">
                            <i class="icon icon-global icon-large"></i>

                            <h5>Отсутствие вредных компонентов&nbsp;</h5>

                            <p>
                                Наши составы содержат «живые» компоненты и&nbsp;именно поэтому не&nbsp;могут быть
                                агрессивными и&nbsp;нести разрушительные воздействия. Являясь биологически
                                безопасными, они&nbsp;избавляют от&nbsp;проблем нанесения вреда здоровью персонала и&nbsp;насыщения
                                продуктов опасными ядами дезинфектантов.
                            </p>
                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-large">
                            <i class="icon icon-wallet icon-large"></i>

                            <h5>Увеличение времени хранения</h5>

                            <p>
                                Применение метода пространственной очистки обеспечивает создание конкурентной среды
                                и&nbsp;способствует попаданию пробиотических споровых бактерий на&nbsp;продукты. Это&nbsp;приводит
                                к&nbsp;их&nbsp;длительной защите от&nbsp;действия патогенов и&nbsp;обеспечивает
                                реальное увеличение сроков хранения почти в&nbsp;2-3&nbsp;раза.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <section class="side-image text-heavy clearfix store">
        <div class="image-container col-sm-3 pull-left col-md-5">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/GPD10.jpg">
            </div>
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/GPD10-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Бережное хранение</h1>

                    <p class="lead">
                        Пробиотические технологии способны обеспечить более долгое и&nbsp;бережное хранение продуктов
                        питания без&nbsp;применения консервантов. Наш&nbsp;опыт подтверждает, что&nbsp;одновременная
                        обработка воздушного пространства и&nbsp;поверхностей зоны длительного хранения семян и&nbsp;плодов
                        растений способна сократить до&nbsp;40% потерь продуктов. Расширение полученной технологической
                        возможности и&nbsp;совмещение с&nbsp;поверхностной очисткой полов, торгового и&nbsp;складского
                        оборудования пробиотическими составами позволило решать ранее невозможные задачи. Используемые
                        нами микроорганизмы эффективно разрушают биоплёнки, устраняют запахи вокруг торговых прилавков
                        мяса, рыбы и&nbsp;овощей, сокращают влияние патогенного сообщества, увеличивая срок хранения.
                    </p>
                    <br class="hidden-xs">


                </div>

            </div>

        </div>
    </section>


    <section class="side-image text-heavy clearfix truck">
        <div class="image-container col-md-6 col-lg-5 col-sm-3 pull-right visible-sm visible-lg visible-md">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/GPD11.png">
            </div>
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/GPD11-mob.png">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-pl-v-offset-0 col-sm-8 content clearfix col-md-offset-1 col-md-6">
                    <br class="hidden-xs"/>
                    <br class="hidden-xs"/>

                    <h1>От&nbsp;добычи сырья до&nbsp;конечного пункта продажи</h1>

                    <p class="lead">
                        Как&nbsp;сырье, так&nbsp;и&nbsp;готовые продукты в&nbsp;момент транспортировки находятся в&nbsp;замкнутом
                        пространстве, в&nbsp;«доме» микроорганизмов, и&nbsp;подвергаются их&nbsp;влиянию. Обеспечивая
                        «здоровое» пространство, сокращаются риски заражения и&nbsp;порчи.
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix beer">
        <div class="image-container col-sm-3 pull-left col-md-5">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/GPD12.jpg">
            </div>
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/GPD12-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Инновационные решения полного спектра отраслевых задач</h1>

                    <p class="lead">
                        Производство продуктов питания сопровождается большим количеством задач и&nbsp;требует разных
                        решений. От&nbsp;уборки производственных площадей, оборудования и&nbsp;промывки систем розлива,
                        до&nbsp;очистки жироуловителей и&nbsp;стоков. Наши&nbsp;продукты и&nbsp;технологии очистки
                        обеспечивают эффективные решения, останавливают развитие и&nbsp;влияние резистентных бактерий,
                        эффективно решают вопросы с&nbsp;жировыми заторами труб, производят очистку вентиляционных
                        систем и&nbsp;других источников загрязнений и&nbsp;распространения патогенов. Мы&nbsp;предлагаем
                        инновации, находимся в&nbsp;постоянно работе и&nbsp;готовы решать самые сложные задачи.</p>
                    <a href="/innovation" class="btn btn-primary">Наши инновации</a><br>


                </div>

            </div>

        </div>
    </section>
</div>

{{> footer}}
{{> scripts}}

        