<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{{> menu-top isBlackText=true}}

<div class="main-container gpd">
    <section class="text-banner top">
        <div class="container text-center">

            <div class="row">
                <div class="col-sm-12 content">
                    <h1 class="center-block">Проблемы очистки и&nbsp;гигиены при&nbsp;выращивании животных, производстве продуктов питания, их&nbsp;транспортировки и&nbsp;хранении накапливались давно и&nbsp;требуют новых и&nbsp;эффективных решений. Мы&nbsp;не&nbsp;отделяем эти&nbsp;задачи друг&nbsp;от&nbsp;друга, а&nbsp;предлагаем решения в&nbsp;единой концепции&nbsp;GPD&nbsp;Safe&nbsp;food</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="lead">
                        Заблуждение и&nbsp;вера в&nbsp;эффективность подхода дезинфицирования, уничтожения плохих бактерий, и&nbsp;повсеместное применение антибиотиков привели в&nbsp;тупик, стимулируя резистентность микроорганизмов и&nbsp;нарастающую активность патогенов. Это&nbsp;не&nbsp;только мешает выращивать здоровых животных, производить качественные и&nbsp;полезные продукты, но&nbsp;и&nbsp;оказывает существенное влияние на&nbsp;экономические показатели и&nbsp;экологическую безопасность.</p>
                </div>
            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix cow">
        <div class="image-container col-sm-4 pull-left col-md-5">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/GPD1.jpg">
            </div>
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/GPD1-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Правильное&nbspотношение, здоровые&nbspпродукты</h1>

                    <p class="lead">
                        Ошибки в&nbsp;организации фермерского хозяйства при&nbsp;неграмотной гигиене и&nbsp;поддержании обитателей на&nbsp;антибиотиках, часто приводят к&nbsp;возникновению эпидемий и&nbsp;необходимости забоя животных. Эти&nbsp;ошибки создают не&nbsp;только риски, но&nbsp;и&nbsp;влияют на&nbsp;издержки и&nbsp;себестоимость продукции, приводят к&nbsp;созданию некачественного мяса, молока, яиц, понижая их&nbsp;конечную стоимость, конкурентоспособность предприятия и&nbsp;ценность продуктов для&nbsp;потребителя. Сегодня не&nbsp;является новостью тот&nbsp;факт, что&nbsp;продукты, выращенные на&nbsp;антибиотиках, имеют разрушительное воздействие на&nbsp;организм человека. Закупки новых, «чистых» животных и&nbsp;инвестиции в&nbsp;дорогостоящее оборудование никогда не&nbsp;решат накопленные вопросы без&nbsp;пересмотра отношения к&nbsp;их&nbsp;содержанию и&nbsp;применению эффективных решений.
                    </p>
                    <a href="/farm" class="btn btn-primary">О решениях для сельского хозяйства</a><br>
                </div>

            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix bg-gray bacteria">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/blue-bacteria-mob.jpg">
                </div>

                <div class="align-vertical content clearfix no-align-mobile col-sm-7">
                    <h1>Применение «живых» технологий без&nbsp;уничтожения бактерий</h1>

                    <p class="lead">
                        Использование полезных микроорганизмов, способных производить глубокую и&nbsp;эффективную очистку поверхностей, всей среды обитания и&nbsp;кожи животного с&nbsp;последующим формированием на&nbsp;ней «здоровой» микрофлоры, позволило нам&nbsp;создать безопасное пространство и&nbsp;влиять на&nbsp;«энергию» роста всего живого, животного или&nbsp;растения. Используемые нами&nbsp;пробиотики усиливают иммунную систему, способную передаваться от&nbsp;поколения к&nbsp;поколению.
                    </p>
                    <a href="/probiotic" class="btn btn-primary">Узнать о&nbsp;пробиотиках</a><br>
                </div>

                <div class="align-vertical col-sm-3 content pull-right col-md-4 hidden-xs">
                    <img alt="Product Image" class="product-image" data-src="img/blue-bacteria.png" style="max-height: 85%;padding-top: 5%;">
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix tomato">
        <div class="image-container col-sm-3 pull-left col-md-5">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/GPD3.jpg">
            </div>
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/GPD3-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Рациональное использование ресурсов и&nbsp;возможностей</h1>

                    <p class="lead">
                        Применение концепции&nbsp;GPD&nbsp;Safe&nbsp;food и&nbsp;осознанное желание сделать лучше, исправить&nbsp;то,&nbsp;что&nbsp;сейчас мешает быть эффективным, открывает принципиально новый подход к&nbsp;продуктовому циклу. Уже&nbsp;сегодня мы&nbsp;можем повлиять на&nbsp;смену экономического расклада, сократив расходы при&nbsp;тех&nbsp;же нормах потребления. Сократится время работы по&nbsp;выращиванию, переработке, хранению и&nbsp;утилизации продукции. Это&nbsp;естественным образом приводит к&nbsp;значительному снижению расходов на&nbsp;производство и&nbsp;позволяет на&nbsp;треть увеличить доходы при&nbsp;заметном улучшении качества произведённой продукции.
                    </p>
                    <a href="/gpd-3" class="btn btn-primary">Об эфективности применения</a><br>
                </div>
            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-middle knowledge">

        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/GPD4.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/GPD4-mob.jpg">
        </div>

        <div class="container align-vertical">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-pl-h-7">
                    <h1>Использование знаний и&nbsp;реализация возможностей</h1>

                    <p class="lead">
                        Мы&nbsp;готовы обучать, отвечать на&nbsp;возникающие вопросы, давать нужные рекомендации каждому отдельному предприятию, независимо от&nbsp;размера и&nbsp;объема задач.
                    </p>

                </div>
            </div>
        </div>

    </section>
</div>

{{> footer}}
{{> scripts}}