{{> menu-top-v2}}
<section class="page__wrapper clean_house">
  <section class="section block-top">
    <div class="block-content">
      <h2 class="title">Уборка в доме без аллергии и&nbsp;вреда для здоровья</h2>
      <p class="fs18">Продукты BFC — современные средства очистки. Решают сложные задачи ухода за&nbsp;домом, борются с&nbsp;болезнетворной флорой, уменьшая негативное влияния на&nbsp;иммунную систему человека.</p><a class="btn buy-btn" href="#"> <span>Перейти в магазин</span><img class="svg arrow" src="i/arrow.svg" alt=""></a>
    </div>
  </section>
  <section class="section block-organisms">
    <div class="block-content">
      <h2 class="title">Основаны на использовании полезных микроорганизмов</h2>
      <p>Пробиотические споры бактерий, входящие в&nbsp;состав продуктов BFC, попадая на&nbsp;поверхность, производят глубокую очистку с&nbsp;пролонгированным действием, обеззараживают и&nbsp;замещают микрофлору, формируют защитный барьер.</p>
      <div class="facts-block">
        <div class="lines"></div>
        <div class="fact n1">
          <div class="text">50&nbsp;млн пробиотических спор в&nbsp;1&nbsp;мл</div>
        </div>
        <div class="fact n2">
          <div class="text">Экологически безопасные компоненты</div>
        </div>
      </div>
    </div>
  </section>
  <section class="section block-long-activity">
    <div class="block-content">
      <h2 class="title">Длительное действие</h2>
      <p>Регулярно убирая свой дом пробиотическими средствами, день за&nbsp;днем выстраивается защитный барьер перед аллергенами, вирусами, плесневыми и&nbsp;дрожжевыми грибками.</p>
      <div class="row">
        <div class="col">
          <div class="icon bacteri disabled"></div>
          <div class="text">Удаление <br>патогенов</div>
        </div>
        <div class="col">
          <div class="icon shield"></div>
          <div class="text">+100 часов защитного барьера</div>
        </div>
        <div class="col">
          <div class="icon infinity"></div>
          <div class="text">Пролонгированный эффект</div>
        </div>
      </div>
    </div>
  </section>
  <section class="section block-properties">
    <div class="block-content">
      <h2 class="title">Универсальные свойства</h2>
      <p>Теперь нет необходимости использовать отдельные составы для&nbsp;керамической плитки, паркета, ковров, для&nbsp;деревянной и&nbsp;лакированной мебели.</p>
      <ul class="list">
        <li>Справляются с&nbsp;разными видами загрязнений</li>
        <li>Не вступают в&nbsp;химическую реакцию</li>
        <li>Не разрушают поверхности очистки</li>
      </ul>
    </div>
  </section>
  <section class="section block-fill-flacon">
    <div class="fill-flacon-ico"></div>
    <div class="block-content">
      <h2>Наполните флакон за 60% от&nbsp;стоимости</h2>
      <p class="fs18">Мы сделали наши средства доступнее отказавшись от &nbsp;необходимости переплачивать за&nbsp;упаковку. Используйте монодозы с&nbsp;концентрированным продуктом. Вылейте её&nbsp;содержимое в&nbsp;пустой флакон и&nbsp;добавьте воды — продукт снова готов к использованию.</p>
    </div>
  </section>
  <section class="section block-healthy-sleep">
    <div class="no-mite">
      <div class="icon"></div>
      <div class="text">Без аллергенов и&nbsp;пылевых клещей</div>
    </div>
    <div class="block-content">
      <h2 class="fs36">Здоровый сон и отсутствие аллергии</h2>
      <p>Периодически обрабатывая постельное белье средством для&nbsp;текстиля с&nbsp;пробиотиком, создаются неблагоприятные условия для обитания пылевых клещей, сокращается их&nbsp;численность и&nbsp;нейтрализуется негативное влияние на&nbsp;здоровье человека.</p>
    </div>
  </section>
  <section class="section block-products"><img class="products-img" src="i/clean_house-products.png">
    <div class="block-content">
      <h2 class="fs36">Уборка в доме на раз, два, три</h2>
      <p>От прихожей до&nbsp;спальни, от&nbsp;фасада здания до&nbsp;бассейна. Продукты BFC помогут очистить любой предмет в&nbsp;вашем доме быстро и&nbsp;эффективно. Узнать подробнее о&nbsp;продуктах, посмотреть применение или совершить покупку можно в&nbsp;нашем магазине прямо сейчас.</p><a class="btn buy-btn" href="#"> <span>Перейти в магазин<img class="svg arrow" src="i/arrow.svg" alt=""></span></a>
    </div>
  </section>
  <section class="section block-guidebook clearfix"><img class="image-guidebook" src="i/clean_house-book.png">
    <div class="block-content">
      <h2 class="fs36">Узнайте об отличиях между традиционными средствами и&nbsp;пробиотическими</h2>
      <form>
        <input type="email" placeholder="Ваш email">
        <input type="submit" value="Получить материалы">
      </form>
    </div>
  </section>
  <section class="section block-readmore">
    <h2>МОЖЕТ БЫТЬ ИНТЕРЕСНО</h2>
    <div class="articles-slider-wrapper">
      <div class="articles-slider crop-text" data-text-length="120"><a class="articles-item" href="http://bfc-pro.com/probiotic"><img src="i/clean_house-article-1.png" alt="">
          <div class="text">
            <h3>Что такое пробиотики?</h3>
            <p class="crop-me">От прихожей до&nbsp;спальни, от&nbsp;фасада здания до&nbsp;бассейна. Продукты BFC помогут очистить любой предмет в&nbsp;вашем доме быстро</p>
          </div></a><a class="articles-item" href="http://bfc-pro.com/products-of-cleaning"><img src="i/clean_house-article-2.png" alt="">
          <div class="text">
            <h3>Как работают пробиотики</h3>
            <p class="crop-me">Периодически обрабатывая постельное белье средством для текстиля с&nbsp;пробиотиком, создаются неблагоприятные условия</p>
          </div></a><a class="articles-item" href="http://bfc-pro.com/cleaning-components"><img src="i/clean_house-article-3.png" alt="">
          <div class="text">
            <h3>О продуктах очистки</h3>
            <p class="crop-me">От прихожей до&nbsp;спальни, от&nbsp;фасада здания до&nbsp;бассейна. Продукты BFC помогут очистить любой предмет в&nbsp;вашем доме быстро От&nbsp;прихожей до&nbsp;спальни, от&nbsp;фасада здания до&nbsp;бассейна. Продукты BFC помогут очистить любой предмет в&nbsp;вашем доме быстро</p>
          </div></a><a class="articles-item" href="http://bfc-pro.com/problem-solving"><img src="i/clean_house-article-4.png" alt="">
          <div class="text">
            <h3>Как выбрать очиститель</h3>
            <p class="crop-me">От прихожей до&nbsp;спальни, от&nbsp;фасада здания до&nbsp;бассейна. Продукты BFC помогут очистить любой предмет в&nbsp;вашем доме быстро</p>
          </div></a></div>
    </div>
  </section>
  <section class="subnav"> <a href="/">Главная</a> / <a href="/directions">Направления</a> / Уборка в доме</section>
</section>

{{> footer-v2}}
{{> scripts-v2}}
