<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{{> menu-top isBlackText=true}}

<div class="main-container horeca">
    <header class="title">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/horeca-top.jpg">
        </div>

        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/horeca-top-mob.jpg">
        </div>

        <div class="container align-bottom">
            <div class="row">
                <div class="col-sm-10 col-xs-12">
                    <h1 class="">Простое решение <br class="pl-v-visible hidden">ежедневных задач</h1>

                </div>
            </div>
        </div>
    </header>

    <section class="text-banner bg-white">
        <div class="container text-center xs-text-left">

            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="lead">
                        Специфичность и&nbsp;сложность производства продуктов очистки для&nbsp;HORECA – многозадачность
                        и&nbsp;высокие санитарные требования. Учитывая, что во&nbsp;многом, именно уровень чистоты формирует
                        отношение клиента и&nbsp;влияет на&nbsp;имидж организации, работа в&nbsp;данной сфере одна из&nbsp;самых сложных
                        и&nbsp;ответственных. Замещение традиционных очистителей на&nbsp;продукты&nbsp;BFC снимает необходимость
                        использования большого количества продуктов, облегчает задачи очистки и&nbsp;устраняет риски
                        распространения инфекций. Теперь нет необходимости использования целого набора очистителей
                        во&nbsp;избежании порчи поверхностей и&nbsp;элементов декора при&nbsp;ежедневных уборках.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/cleaning-components" class="btn btn-primary btn-text-only">О продуктах очистки</a>
                    <a href="/products-of-cleaning" class="btn btn-primary btn-text-only">Как работают пробиотики</a>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small chistoe">
        <div class="image-container col-md-5 col-sm-3 pull-left">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/horeca-chistoe.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/horeca-chistoe-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Чистое пространство</h1>

                    <p class="lead">
                        Гостиничный бизнес включает в&nbsp;себя большое количество помещений: зоны приготовления
                        и&nbsp;потребления пищи, бассейны и&nbsp;SPA. В&nbsp;рамках одного объекта требуются различные решения,
                        от&nbsp;очистки ковров, текстиля, стекол и&nbsp;интерьера, до&nbsp;уборки санузлов и&nbsp;пищеблоков. Легкое
                        решение таких задач в&nbsp;наших продуктах серии&nbsp;PROFESSIONAL.</p>
                    <a href="/professional" class="btn btn-primary">О продуктах Professional</a><br>

                </div>

            </div>

        </div>
    </section>


    <section class="side-image text-heavy clearfix pad-small food">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/horeca-food.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/horeca-food-mob.jpg">
        </div>
        <div class="container align-vertical">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="">Успех ресторана, кафе, фастфуда – не&nbsp;только хорошо проработанное меню, качество еды,
                        приятный интерьер и&nbsp;место</h1>

                    <p class=" lead">
                        Качество уборки и&nbsp;соблюдение санитарно-гигиенических норм в&nbsp;зонах приготовления
                        и&nbsp;потребления пищи может напрямую влиять как&nbsp;на&nbsp;здоровье клиента, так&nbsp;и&nbsp;на&nbsp;сотрудников
                        предприятия. Отсутствие должного отношения способно повлечь отравление пищи и&nbsp;вызвать
                        последствия. Пробиотические продукты очищают, обеспечивают здоровую атмосферу и&nbsp;защиту
                        на&nbsp;микробиологическом уровне.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 align-vertical no-align-mobile clearfix">
                    <div class="col-md-3 col-sm-12 no-pad-left clearfix">
                        <div class="feature feature-icon-small text-center">
                            <i class="spray"></i>

                            <p>Полный спектр продуктов для&nbsp;решения задач очистки</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 no-pad-left clearfix">
                        <div class="feature feature-icon-small text-center">
                            <i class="valet"></i>

                            <p>Экономичные и&nbsp;эффективные в&nbsp;использовании</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 no-pad-left clearfix">
                        <div class="feature feature-icon-small text-center">
                            <i class="heart"></i>

                            <p>Формирование здорового пространства</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 no-pad-left clearfix">
                        <div class="feature feature-icon-small text-center">
                            <i class="leaf"></i>

                            <p>Безвредные и&nbsp;безопасные для&nbsp;экологии и&nbsp;человека</p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>

    <section class="visible-xs background-white hero-slider">
        <ul class="slides">
            <li class="overlay">
                <div class="feature feature-icon-small text-center">
                    <i class="spray"></i>

                    <p>Полный спектр продуктов для&nbsp;решения задач очистки</p>
                </div>
            </li>

            <li class="overlay">
                <div class="feature feature-icon-small text-center">
                    <i class="valet"></i>

                    <p>Экономичные и&nbsp;эффективные в&nbsp;использовании</p>
                </div>
            </li>

            <li class="overlay">
                <div class="feature feature-icon-small text-center">
                    <i class="heart"></i>

                    <p>Формирование здорового пространства</p>
                </div>
            </li>

            <li class="overlay">
                <div class="feature feature-icon-small text-center">
                    <i class="leaf"></i>

                    <p>Безвредные и&nbsp;безопасные для&nbsp;экологии и&nbsp;человека</p>
                </div>
            </li>


        </ul>
    </section>

    <section class="atmosphere">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/horeca-atmosphere.jpg">
        </div>
        <img class="visible-xs" alt="" src="img/horeca-atmosphere-mob.jpg">

        <div class="container align-vertical">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="">Здоровая атмосфера</h1>

                    <p class=" lead">
                        Постоянное скопление людей делает процесс уборки регулярным, требует больших затрат времени
                        и сил. Воздушное распространение пробиотических спор во всем пространстве обеззараживает
                        поверхности, формирует полезную микрофлору, способную к саморазвитию. Пробиотики, питаясь
                        органическими загрязнениями, разрушают биоплёнки, делают уборку легче.</p>
                    <a href="/air-clean" class="btn btn-primary">Об очистке воздуха</a>
                </div>
            </div>
        </div>
    </section>
</div>


{{> footer isHoreca=true}}
{{> scripts}}