<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top }}
<div class="main-container index">
<header class="fullscreen-element no-pad centered-text">
    <div class="background-image-holder parallax-background overlay">
        <img class="background-image" alt="Background Image" src="img/bfc_001.jpg">
    </div>
    <div class="container align-vertical">
        <div class="row">
            <div class="text-center col-md-12">
                <span class="text-white alt-font"> </span>

                <h1 id="bfc-main-header" class="text-white">
                    Новое качество жизни и&nbsp;забота о&nbsp;завтрашнем&nbsp;дне
                </h1>

                <p id="bfc-main-subheader" class="lead text-white">Безопасные решения очистки, гигиены и&nbsp;формирования
                    здорового окружения.</p>
            </div>
        </div>
    </div>
    <div class="arrow-down"><img class="bounce" alt="" src="img/arrow-down.png" onclick="scrollTo(0, $('.text-banner').offset().top)"></div>
</header>
<section class="text-banner">
    <div class="container text-center xs-text-left">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="center-block">Инновационный взгляд, новая глубина очистки</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <p class="lead">
                    Экология, ежедневно нарастающая бактериальная угроза, проблемы питания –&nbsp;факторы негативного
                    влияния на&nbsp;здоровье всего человечества. Понимание проблем и&nbsp;забота о&nbsp;завтрашнем дне,
                    привело к&nbsp;созданию новых решений, способных изменить ситуацию и&nbsp;развернуть её&nbsp;в&nbsp;правильном
                    направлении. Соединив инновации и&nbsp;естественные природные процессы, мы&nbsp;создали продукты,
                    способные стимулировать формирование здоровой окружающей среды, обеспечивать безопасность
                    поверхностей и&nbsp;укреплять иммуноустойчивость организма.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hidden-xs">
                <a href="/directions" class="btn btn-primary"
                   style="margin-left: 20px; margin-right: 20px; width: 156px">Направления работы</a>
                <a href="/innovation" class="btn btn-primary"
                   style="margin-left: 20px; margin-right: 20px; width: 156px">Наши инновации</a>
            </div>
            <div class="col-md-12 visible-xs">
                <a href="/directions" class="btn btn-primary">Направления</a>
                <a href="/innovation" class="btn btn-primary">Инновации</a>
            </div>
        </div>
    </div>
</section>
<section class="pad-middle legs">
    <div class="background-image-holder main-legs hidden-xs">
        <img class="background-image" alt="Background Image" src="img/bfc_002.jpg">
    </div>
    <div class="background-image-holder mobile-legs visible-xs">
        <img class="background-image" alt="Background Image" src="img/main-legs-mob.jpg">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7 col-xs-12 col-lg-5">
                <h1 class="">Для&nbsp;тех, кто&nbsp;выбирает настоящее</h1>

                <p class="lead">Продукты&nbsp;BFC для&nbsp;ухода за&nbsp;телом –&nbsp;живые решения на&nbsp;основе
                    натуральных компонентов и&nbsp;последних достижений в&nbsp;микробиологии, биохимии, дерматологии и&nbsp;фармакологии.</p>
                <div class="expand" data-expand=".facilities">Развернуть</div>
            </div>
        </div>
    </div>
</section>
<section class="duplicatable-content pad-xsmall facilities xs-expandable">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="feature">
                    <h5>Средства для&nbsp;ухода и&nbsp;гигиены</h5>

                    <p>Основаны на&nbsp;понимании природы. Специально разработанные составы с&nbsp;пробиотической
                        составляющей формируют защитный барьер и&nbsp;стимулируют развитие иммунитета, обладают
                        способностью глубокой и&nbsp;безопасной очистки, обеспечивают бережный уход.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature">
                    <h5>Косметические средства</h5>

                    <p>Созданы на&nbsp;основе знаний физиологии и&nbsp;биохимии кожи. Исключительно натуральные
                        компоненты природного происхождения. Косметическая линия&nbsp;BFC помогает восстановить
                        природный микробиологический баланс, положительно воздействуя на&nbsp;состояние кожи.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="effektivnaya">
    <div class="background-image-holder bp-0 hidden-xs">
        <img class="background-image" alt="Background Image" src="img/effektivnaya.jpg">
    </div>
    <div class="background-image-holder bp-0 visible-xs">
        <img class="background-image" alt="Background Image" src="img/effektivnaya-mob.jpg">
    </div>

    <div class="container align-vertical">
        <div class="row">
            <div class="col-md-6 col-pl-v-7 col-xs-12 col-lg-5">
                <h1 class="">Эффективная альтернатива традиционной химической очистки и&nbsp;дезинфекции</h1>

                <p class="lead">Биоразлагаемые, без&nbsp;фосфатов и&nbsp;растворителей, гипоаллергенные составы на&nbsp;водной
                    основе. Отсутствие агрессивных химических веществ и&nbsp;разрушительного воздействия на&nbsp;поверхность.</p>
                <div class="expand" data-expand=".external-clean">Развернуть</div>
            </div>
        </div>
    </div>
</section>
<section class="duplicatable-content external-clean xs-expandable">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="feature">
                    <h5>Внешняя очистка</h5>

                    <p>Способность глубокого проникновения и&nbsp;отделительные свойства составов&nbsp;BFC, позволяют
                        производить глубокую очистку и&nbsp;удаление загрязнений без&nbsp;разрушений и&nbsp;вреда для&nbsp;поверхностей.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature">
                    <h5>Микробиологическая очистка</h5>

                    <p>Колонизация полезных бактерий в&nbsp;процессе очистки пробиотикческими составами, обеззараживает
                        поверхности, создает защитный барьер пролонгированного действия.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature">
                    <h5>Защита от&nbsp;патогенов</h5>

                    <p>Регулярное применение моющих составов с&nbsp;пробиотиками стимулирует формирование
                        саморегулируемой антипатагенной флоры, полезной для&nbsp;человеческого организма.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="possibilities">
    <div class="background-image-holder bfc_005 hidden-xs">
        <img class="background-image" alt="Background Image" src="img/bfc_005.jpg">
    </div>

    <div class="container">
        <div class="row">
            <div class="pull-right align-vertical no-align-mobile col-pl-v-7 col-md-6">
                <h1>Неограниченные возможности и&nbsp;способы решений</h1>

                <p class="lead">
                    Накопленный опыт и&nbsp;знания, универсальность и&nbsp;многофункциональность продуктов&nbsp;BFC,
                    решает большое количество задач и&nbsp;постоянно наталкивает на&nbsp;новые, ранее неизвестные
                    решения.
                </p>

                <div class="row">
                    <div class="col-md-12">
                        <a href="/use-cases" class="btn btn-primary">Способы применения</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bfc_005 visible-xs">
        <img class="" alt="" src="img/bfc_005-mob.jpg">
    </div>
</section>
<section class="pad-middle ecological xs-text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 text-center col-xs-12">
                <div class="col-xs-offset-3 col-xs-6 visible-xs ico">
                    <img class="" alt="" src="img/ecological-ico.png">
                </div>

                <h1>Экологическая безопасность и&nbsp;возможность остановить разрушительные последствия</h1>
            </div>
        </div>
        <div class="row">
            <hr class="visible-xs">
            <div class="col-sm-6 col-md-3">
                <div class="feature feature-icon-large">
                    <h5>Отказ от&nbsp;химии</h5>

                    <p>
                        Переход от&nbsp;кислотных и&nbsp;щелочных продуктов, вызывающих ожоги и&nbsp;отравления, к&nbsp;совершенно
                        безопасным и&nbsp;нетоксичным.
                    </p>
                </div>
            </div>
            <em class="visible-xs"></em>
            <div class="col-sm-6 col-md-3">
                <div class="feature feature-icon-large">
                    <h5>Взгляд на&nbsp;здоровье</h5>

                    <p>Формирование чистой и&nbsp;здоровой атмосферы, сокращение аллергенов, помощь в&nbsp;развитии
                        иммунной системы.
                    </p>
                </div>
            </div>
            <em class="visible-xs"></em>
            <div class="col-sm-6 col-md-3">
                <div class="feature feature-icon-large">
                    <h5>Бережный подход</h5>

                    <p>
                        Снижение влияния и&nbsp;развития патогенов без&nbsp;уничтожения бактерий, стимулирования мутации
                        и&nbsp;появления новых видов.
                    </p>
                </div>
            </div>
            <em class="visible-xs"></em>
            <div class="col-sm-6 col-md-3">
                <div class="feature feature-icon-large">
                    <h5>Забота об&nbsp;экологии</h5>

                    <p>Отказ от&nbsp;разрушающих компонентов, таких как&nbsp;фосфаты, переход к&nbsp;биоразлагаемым
                        составам на&nbsp;водной основе.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<header class="page-header resume-header xs-text-center">
    <div class="background-image-holder parallax-background main-bfc_006 hidden-xs">
        <img class="background-image" alt="Background Image" src="img/bfc_006.jpg">
    </div>
    <div class="background-image-holder visible-xs bfc_006-mob">
        <img class="background-image" alt="Background Image" src="img/bfc_006-mob.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-gray space-bottom-medium">ПРИСОЕДИНЯЙТЕСЬ</h1>
                <span class="text-gray">Следите за&nbsp;новостями, узнавайте&nbsp;больше.</span>
                <ul class="social-icons">
                    <li>
                        <a href="https://vk.com/bfc.probiotic">
                            <i class="social-icon vk"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/bfc.probiotic/">
                            <i class="social-icon facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/bfc_probiotic/">
                            <i class="social-icon instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="social-icon youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
</div>
{{> footer}}
{{> scripts}}

