<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{{> menu-top }}

<div class="main-container innovation">
    <header class="page-header">
        <div class="background-image-holder parallax-background hidden-xs">
            <img class="background-image" alt="Background Image" src="img/innovation_1.jpg">
        </div>

        <div class="background-image-holder parallax-background visible-xs">
            <img class="background-image" alt="Background Image" src="img/innovation_1-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12">

                    <h1 class="text-white space-bottom-medium">
                        Мы&nbsp;глубоко убеждены: будущее человечества в&nbsp;осознании последствий и&nbsp;обдуманности
                        решений
                    </h1>

                </div>
            </div>
        </div>
    </header>


    <section class="side-image text-heavy clearfix padding-vertical-5p">

        <div class="wrapper">
            <div class="image-container col-md-6 col-pl-v-5 col-lg-5 col-sm-3 pull-right visible-lg visible-md visible-sm">
                <div class="background-image-holder">
                    <img class="background-image bp-0" alt="Background Image" src="img/innovation_2.png">
                </div>
            </div>
            <div class="container">

                <div class="row">

                    <div class="col-sm-8 content clearfix col-md-6 col-pl-v-7 xs-no-padding-bottom">
                        <h1>Губительный вектор</h1>

                        <p class="lead xs-no-margin-bottom">
                            Не&nbsp;задумываясь, люди дальше и&nbsp;дальше заходят в&nbsp;тупик. Желание подчинить себе
                            всё&nbsp;живое, уничтожить болезнетворные микроорганизмы, влияющие на&nbsp;здоровье,
                            получило серьезный отпор. Такой ошибочный подход ведёт к&nbsp;катастрофе. Каждый день
                            регистрируются новые лекарства, всё&nbsp;чаще мы&nbsp;слышим об&nbsp;очагах эпидемии,
                            образовании новых заболеваний, появлениях супербактерий и&nbsp;вирусов.
                        </p>

                    </div>
                    <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                        <img class="" alt="Background Image" src="img/innovation_2.png">
                    </div>
                </div>

            </div>
        </div>

    </section>


    <section class="side-image text-heavy clearfix">
        <div class="image-container col-md-6 col-sm-3 pull-left">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/innovation_3.png">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6 xs-no-padding-bottom">
                    <h1>Живые решения</h1>

                    <p class="lead">
                        Осознавая проблемы, мы&nbsp;предлагаем выход. Наши&nbsp;продукты одновременно решают две&nbsp;задачи:
                        обеспечивают эффективную поверхностную очистку, обеззараживают и&nbsp;формируют защиту. «Живые»&nbsp;технологии
                        с&nbsp;использованием спор пробиотических культур бактерий – стабильное решение, формирование
                        «здорового»&nbsp;пространства, положительное влияние на&nbsp;иммунную систему человека и&nbsp;всего
                        живого.</p>
                    <a href="/probiotic" class="btn btn-primary">Узнать о&nbsp;пробиотиках</a><br>

                </div>

                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/innovation_3-mob.png">
                </div>

            </div>

        </div>
    </section>

    <section class="inline-image-right pb-mob">
        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/innovation_4.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/innovation_4-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="text-white align-vertical content col-sm-6 col-pl-h-7 col-pl-v-7">
                    <h1 class="text-white">Здоровый воздух &nbsp;</h1>

                    <p class="lead">Используя пробиотики, мы&nbsp;научились на&nbsp;микробиологическом уровне очищать
                        воздушное пространство и&nbsp;одновременно обеззараживать окружающие поверхности. Мы&nbsp;не&nbsp;ловим
                        частицы пыли. Наше решение в&nbsp;обеззараживании воздушных каналов и&nbsp;создании на&nbsp;поверхностях
                        «здоровой» микрофлоры с&nbsp;защитным барьером. Пробиотический эффект не&nbsp;оставляет
                        возможности развития патогенной флоре. Отвоевав пространство в&nbsp;каналах и&nbsp;обеспечив
                        «здоровый»&nbsp;воздух, пробиотик перемещается в&nbsp;каждый уголок очищаемой зоны, создавая
                        защиту и&nbsp;вытесняя патогенные микроорганизмы уже на&nbsp;всех её&nbsp;поверхностях.</p>
                    <a href="/air-clean" class="btn btn-primary forward-blue btn-white">О системе очистки</a><br>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix">
        <div class="image-container col-sm-3 pull-left col-md-5 hidden-xs">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="img/innovation_5.jpg">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="pull-right col-sm-8 content clearfix col-md-6 col-pl-v-7 xs-no-padding-bottom">
                    <h1>Безопасная очистка</h1>

                    <p class="lead">Мы отказались от&nbsp;растворителей и&nbsp;предложили другой безопасный подход. Взяв
                        за&nbsp;основу большинства наших продуктов метод отделения, мы&nbsp;обеспечили безопасное
                        удаление загрязнений без&nbsp;химической реакции и&nbsp;разрушительного воздействия для&nbsp;поверхностей
                        и&nbsp;экологии. Данный подход решил проблемы очистки в&nbsp;условиях недопустимости
                        использования агрессивных составов. Именно экологическая составляющая и&nbsp;безопасность такого
                        подхода, позволила создать очистители нового поколения с&nbsp;пробитическим эффектом и&nbsp;перейти
                        на&nbsp;другую ступень более глубокой очистки.</p>
                    <a href="/cleaning-components" class="btn btn-primary">О продуктах очистки</a><br>
                </div>

                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/innovation_5-mob.jpg">
                </div>

            </div>

        </div>
    </section>

    <section class="inline-image-right padding-vertical-15p accuracy">
        <div class="background-image-holder bp-0 hidden-xs">
            <img class="background-image" alt="Background Image" src="img/innovation_6.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/innovation_6-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-5 col-pl-h-7 col-pl-v-7">
                    <h1>Аккуратность к&nbsp;поверхностям, внимание к&nbsp;человеку</h1>

                    <p class="lead">
                        Для&nbsp;решения очень узкого круга задач, например удаления солевых отложений, требуются
                        продукты с&nbsp;кислотными свойствами. Мы&nbsp;создаём эффективные, но&nbsp;при этом максимально
                        щадящие и&nbsp;безопасные продукты данного класса.</p>
                </div>

            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix">
        <div class="image-container col-md-5 col-sm-3 pull-left">
            <div class="background-image-holder">
                <img class="background-image bp-0" alt="Background Image" src="img/innovation_7.jpg">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6 xs-no-padding-bottom">
                    <h1>Чистая вода</h1>

                    <p class="lead xs-no-margin-bottom">
                        Вода – источник жизни. Загрязняя и&nbsp;отравляя воду, человек разрушает сам&nbsp;себя,
                        употребляя её&nbsp;обратно в&nbsp;пищу. Понимая огромное значение природного баланса и&nbsp;роль
                        микроорганизмов в&nbsp;воде, мы&nbsp;используем природу для&nbsp;решения проблем. Споры
                        бактерий, специально отобранные за&nbsp;свою способность быстро и&nbsp;в&nbsp;большом количестве
                        поглощать органические загрязнения, самостоятельно производят безопасную для&nbsp;экологии
                        очистку, останавливают развитие патогенных микроорганизмов в&nbsp;водных системах и&nbsp;прекращают
                        их&nbsp;негативное влияние на&nbsp;фауну.</p>
                    <br>


                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/innovation_7-mob.jpg">
                </div>
            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix">
        <div class="image-container col-md-6 col-lg-6 col-pl-h-7 col-sm-3 pull-right visible-sm visible-lg visible-md">
            <div class="background-image-holder bp-0">
                <img class="background-image" alt="Background Image" src="img/innovation_8.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-pl-h-8 col-pl-v-8 content clearfix col-md-6 xs-no-padding-bottom">
                    <h1>Здоровый сон и&nbsp;гарантия персональной безопасности</h1>

                    <p class="lead xs-no-margin-bottom">
                        Разработанные нами специализированные продукты, пробиотические очистители текстиля –
                        единственная возможность «сухого» удаления загрязнений и&nbsp;защиты иммунной системы человека.
                        Мелкодисперсные очистители переносят споры пробиотических культур бактерий в&nbsp;структуру
                        текстильных изделий и&nbsp;тканей. Пробиотики удаляют органические загрязнения, уменьшают
                        влияние патогенов, формируют здоровую микрофлору, создают неблагоприятные условия для&nbsp;обитания
                        пылевых клещей, сокращая их&nbsp;популяцию.</p>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/innovation_8-mob.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix hygiene">
        <div class="image-container col-md-5 col-sm-3 pull-left">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/innovation_9.jpg">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Гигиена и уход</h1>

                    <p class="lead">Мы&nbsp;не&nbsp;создаем химические продукты, привлекающие яркими красителями и&nbsp;ароматами
                        отдушек. В&nbsp;наших составах максимально сокращено их&nbsp;присутствие и&nbsp;как&nbsp;следствие
                        их&nbsp;влияние. Как&nbsp;для&nbsp;человека, так&nbsp;и&nbsp;для&nbsp;«живой» составляющей,
                        агрессивные компоненты губительны и&nbsp;для&nbsp;нас неприемлемы. Мельчайшие споры
                        пробиотических бактерий при&nbsp;контакте с&nbsp;кожей мгновенно проникают внутрь, обеспечивают
                        самую глубокую из&nbsp;возможных очисток и&nbsp;формируют защиту. Пробиотики стимулируют
                        иммунную систему к&nbsp;развитию и&nbsp;способствуют регенерации кожи.</p>
                    <a href="/body_care" class="btn btn-primary">Об уходе за телом</a><br>

                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/innovation_9-mob.jpg">
                </div>
            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix xs-background-white">
        <div class="image-container col-md-9 col-lg-9 col-sm-3 pull-right visible-sm visible-lg visible-md">
            <div class="background-image-holder bp-0">
                <img class="background-image" alt="Background Image" src="img/innovation_10.png">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-pl-h-7 content clearfix col-md-5 col-pl-v-7 xs-no-padding-bottom">
                    <h1>Живые ткани&nbsp;</h1>

                    <p class="lead">До&nbsp;сегодняшнего дня, эффективность традиционных составов для&nbsp;стирки
                        зависела от&nbsp;количества активных компонентов, но&nbsp;при&nbsp;этом разрушающих ткань и&nbsp;негативно
                        влияющих на&nbsp;здоровье человека. Соединив безопасную моющую составляющую с&nbsp;пробиотической,
                        мы&nbsp;получили уникальный продукт. Сегодня стало возможным одновременно произвести эффективную
                        стирку при&nbsp;бережном отношении к&nbsp;тканям и&nbsp;обеспечить безопасность здоровья
                        человека и&nbsp;экологии. Одежда после стирки приобретает «живую»&nbsp;защиту, становится щитом
                        от&nbsp;внешних атак патогенов.</p>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/innovation_10-mob.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix">
        <div class="image-container col-md-5 col-sm-3 pull-left">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/innovation_11.jpg">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6 xs-no-padding-bottom">
                    <h1>Возможность остановить разрушительные последствия</h1>

                    <p class="lead">Сегодня предлагаемые нами инновационные решения применяются практически во&nbsp;всех
                        отраслях промышленности, сферах услуг, персональной гигиене, медицине и&nbsp;сельском хозяйстве.
                        Не&nbsp;смотря на&nbsp;это, мы&nbsp;осознаем, что&nbsp;одна компания не&nbsp;способна создать
                        все&nbsp;продукты и&nbsp;технологии самостоятельно. Мы&nbsp;готовы генерировать решения и&nbsp;обмениваться
                        знаниями, ради создания новых, безопасных и&nbsp;эффективных решений, формирующих правильный
                        путь к&nbsp;здоровому обществу и&nbsp;экологической безопасности.</p>
                    <br class="hidden-xs">
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/innovation_11-mob.jpg">
                </div>
            </div>

        </div>
    </section>
</div>

{{> footer}}
{{> scripts}}