<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{{> menu-top isBlackText=true}}

<div class="main-container med">
    <section class="side-image clearfix atmosphere">
        <div class="image-container col-md-5 col-pl-v-5 hidden-xs pull-left">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="/img/bfc_032.jpg">
            </div>
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/bfc_032-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile pull-right content clearfix col-md-6 col-pl-v-7">
                    <br>

                    <h1>
                        Здоровая атмосфера, безопасность для&nbsp;пациентов, персонала и&nbsp;окружающей среды
                    </h1>

                    <p class="lead bfc-lead-near-doctor">
                        Резистентность к&nbsp;биоцидам и&nbsp;антибиотикам – проблема, требующая внимательного отношения
                        и&nbsp;полного пересмотра существующего подхода. Микроорганизмы, обладающие такими свойствами,
                        доставляют проблемы большинству больниц, являясь причиной заболеваний и&nbsp;даже смертельных
                        исходов среди больных.
                    </p>

                    <div class="visible-lg text-right">
                        <img class="pull-right" alt="Logo" width="25%" src="img/med_logo_dark.png"/>
                    </div>
                    <div class="visible-md text-right">
                        <img class="pull-right" alt="Logo" width="33%" src="img/med_logo_dark.png"/>
                    </div>
                    <div class="visible-sm text-right">
                        <img alt="Logo" width="30%" src="img/med_logo_dark.png"/>
                    </div>
                    <div class="visible-xs">
                        <img alt="Logo" width="60%" src="img/med_logo_dark.png"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pure-text-centered pad-large fight">
        <div class="container">
            <div class="row">
                <div class="col-pl-v-12 col-pl-h-12 col-pl-h-offset-0 col-md-offset-1 text-center col-md-10">

                    <h1>
                        Борьба с&nbsp;распространением внутрибольничных инфекций, формирование здоровой среды
                    </h1>

                    <p class="lead">
                        Заражение внутрибольничной среды и&nbsp;влияние патогенных микроорганизмов, таких&nbsp;как&nbsp;Salmonella,
                        Candida, E.&nbsp;coli, Legionella, Listeria, Campylobacter, Streptococcus, Clostridium,
                        Staphylococcus&nbsp;(MRSA), основательно изучено и&nbsp;подтверждена их&nbsp;способность
                        приспосабливаться, выживая в&nbsp;противостоянии дезинфицирующим средствам. Несмотря&nbsp;на&nbsp;то,&nbsp;что
                        резистентность к&nbsp;биоцидным продуктам считается не&nbsp;столь серьезной проблемой, как&nbsp;резистентность
                        к&nbsp;антибиотикам, их&nbsp;использование также требует осознанного применения. Именно поэтому
                        применяемые в&nbsp;условиях больниц препараты чистки помещений и&nbsp;дезинфицирующие средства
                        больше не&nbsp;могут считаться эффективными для&nbsp;удаления патогенных микроорганизмов.
                    </p>
                    <br class="hidden-xs">
                </div>
            </div>

        </div>
    </section>

    <section class="side-image clearfix pad-xsmall Dr-Willy">
        <div class="image-container col-sm-12 hidden-xs">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="img/bfc_033.jpg">
            </div>
        </div>

        <div class="container wood-divider">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="row">
                        <div class="align-vertical content clearfix col-xs-11 col-xs-offset-1">

                            <h3 class="text-white">
                                «Новое решение на&nbsp;практике доказало необходимость пересмотра подхода, замену
                                традиционных чистящих и&nbsp;дезинфицирующих средств, формирующих среду неестественной
                                стерильности»
                            </h3>
                            <br>
                            <br class="hidden-xs">
                            <br class="hidden-xs">

                            <h3 class="text-white sign">Prof.,&nbsp;Dr.&nbsp;Willy&nbsp;Verstraeten</h3>
                        </div>
                    </div>

                </div>

            </div>
            <div class="health-man">
                <img alt="Blank Phone" id="bfc-health-man" style="width: 680px;" src="img/bfc_034.png">
            </div>
        </div>

    </section>

    <section class="text-image-bottom bg-gray pad-middle test">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 text-center">
                    <h1>Положительный тест в&nbsp;сентябре&nbsp;2006&nbsp;г. в&nbsp;госпитале&nbsp;AZ&nbsp;Lokeren
                        явился первым шагом к&nbsp;дальнейшему исследованию очищающих препаратов, основанных на&nbsp;пробиотических
                        бактериях, в&nbsp;борьбе с&nbsp;патогенными микроорганизмами, включающих MRSA и&nbsp;Clostridium
                    </h1>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p class="lead">
                                Независимые микробиологические анализы и&nbsp;исследования Университета&nbsp;г.&nbsp;Гент
                                и&nbsp;компании&nbsp;AVECOM подтвердили формирование здоровой и&nbsp;стабильной
                                микрофлоры при&nbsp;обработке медицинских помещений пробиотическими препаратами. С&nbsp;этого
                                момента появилась возможность применения нового подхода, использующего пробиотики для&nbsp;уборки
                                помещений общего назначения и&nbsp;мест постоянного пребывания людей, полностью исключив
                                использование традиционных дезинфицирующих чистящих средств.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <section class="text-image-bottom bg-white pad-middle inject">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 hidden-xs">
                    <h1 class="lead text-center">
                        Внедрение пробиотической очистки сокращает и&nbsp;сдерживает рост численности вредоносных
                        микроорганизмов. Не&nbsp;оказывает биоцидного воздействия и&nbsp;не&nbsp;стимулирует
                        резистентность. В&nbsp;отличие от&nbsp;дезинфицирующих средств, дающих нестабильный и&nbsp;краткосрочный
                        эффект, наши&nbsp;продукты формируют слой пробиотических бактерий, ограничивают возможности
                        обитателей микрофлоры и&nbsp;провоцируют конкурентное вытеснение болезнетворных бактерий.
                    </h1>
                </div>
                <div class="col-xs-12 visible-xs">
                    <h1>
                        Внедрение пробиотической очистки сокращает и&nbsp;сдерживает рост численности вредоносных
                        микроорганизмов. Не&nbsp;оказывает биоцидного воздействия и&nbsp;не&nbsp;стимулирует
                        резистентность.
                    </h1>

                    <p class="lead">
                        В&nbsp;отличие от&nbsp;дезинфицирующих средств, дающих нестабильный и&nbsp;краткосрочный
                        эффект, наши&nbsp;продукты формируют слой пробиотических бактерий, ограничивают возможности
                        обитателей микрофлоры и&nbsp;провоцируют конкурентное вытеснение болезнетворных бактерий.
                    </p>
                </div>
            </div>

            <div class="text-center hidden-xs">
                <img alt="Freelancer Essentials" src="img/bfc_018.jpg">
            </div>
            <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                <img class="" alt="Background Image" src="img/bfc_018-mob.jpg">
            </div>
        </div>
    </section>
    <section class="text-image-bottom pt-0 bg-white pad-small">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-sm-10 col-sm-offset-1 text-center hidden-xs">
                    <h1 class="lead">
                        Пробиотики поглощают загрязнения. На&nbsp;поверхности уменьшается количество пиши для&nbsp;микроорганизмов,
                        а&nbsp;«чувство&nbsp;кворума» погружает их&nbsp;в&nbsp;пассивное, анабиозное состояние до&nbsp;нормализации
                        окружающей среды. Ослабевшие микроорганизмы уступают свое место активным пробиотикам,
                        восстановившимся из&nbsp;спорового состояния.
                    </h1>
                    <br/>
                    <br/>
                </div>
                <div class="col-xs-12 visible-xs">
                    <p class="lead">
                        Пробиотики поглощают загрязнения. На&nbsp;поверхности уменьшается количество пиши для&nbsp;микроорганизмов,
                        а&nbsp;«чувство&nbsp;кворума» погружает их&nbsp;в&nbsp;пассивное, анабиозное состояние до&nbsp;нормализации
                        окружающей среды. Ослабевшие микроорганизмы уступают свое место активным пробиотикам,
                        восстановившимся из&nbsp;спорового состояния.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="side-image clearfix effective-solution">
        <div class="image-container col-sm-12 hidden-xs pull-left">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="/img/med-prod.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="align-vertical no-align-mobile content clearfix col-sm-6">
                    <h1 class="space-bottom-medium">
                        Эффективное решение для&nbsp;медицинских учреждений
                    </h1>

                    <p class="lead space-bottom-medium">
                        При регулярном применении пробиотики являются стабильным решением проблем с&nbsp;патогенными
                        микроорганизмами, не&nbsp;стимулируют их&nbsp;мутацию и&nbsp;резистентность. Метод сохраняет
                        общую численность микроорганизмов на&nbsp;поверхности и&nbsp;формирует новую, здоровую
                        микрофлору.
                    </p>

                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/med-prod-mob.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="side-image clearfix">
        <div class="image-container col-md-5 col-sm-4 pull-left">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/side1.jpg">
            </div>
        </div>


    </section>

    <section class="duplicatable-content">

        <div class="container">

            <div class="row hidden-xs">
                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-streetsign icon-large"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Широкий спектр применения</h5>

                            <p>
                                Пробиотические продукты эффективно подавляют патогенные микроорганизмы, устраняют очаги
                                неприятных запахов, обладают хорошими моющими свойствами.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-wallet icon-large"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Экономическая целесообразность&nbsp;</h5>

                            <p>
                                Внедрение метода пробиотической очистки снижает риски перекрестного заражения больных,
                                персонала и&nbsp;посетителей, сокращает общие затраты на&nbsp;очистку и&nbsp;дезинфекцию.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-shield icon-large"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Абсолютная безопасность</h5>

                            <p>Метод, доказавший способность укреплять здоровье человека и&nbsp;животного, построен на&nbsp;использовании
                                пробиотических культур, применяемых в&nbsp;течение десятилетий в&nbsp;пищевой
                                промышленности и&nbsp;здравоохранении.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature feature-icon-large">
                        <div class="pull-left">
                            <i class="icon icon-hourglass icon-large"></i>
                        </div>
                        <div class="pull-right">
                            <h5>Быстрое и&nbsp;простое внедрение</h5>

                            <p>Пробиотическая очистка не&nbsp;требует специальных знаний, оборудования и&nbsp;дорогостоящих
                                инвестиций. Показывает стабильный результат с&nbsp;первых дней и&nbsp;на&nbsp;протяжении
                                всего периода применения.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row visible-xs">
                <div class="hero-slider">
                    <ul class="slides">
                        <li class="overlay">
                            <div class="feature feature-icon-large">
                                <i class="icon icon-streetsign icon-large"></i>
                                <h5>Широкий спектр применения</h5>

                                <p>
                                    Пробиотические продукты эффективно подавляют патогенные микроорганизмы, устраняют
                                    очаги
                                    неприятных запахов, обладают хорошими моющими свойствами.
                                </p>
                            </div>
                        </li>

                        <li class="overlay">
                            <div class="feature feature-icon-large">
                                <i class="icon icon-wallet icon-large"></i>
                                <h5>Экономическая целесообразность&nbsp;</h5>

                                <p>
                                    Внедрение метода пробиотической очистки снижает риски перекрестного заражения
                                    больных,
                                    персонала и&nbsp;посетителей, сокращает общие затраты на&nbsp;очистку и&nbsp;дезинфекцию.
                                </p>
                            </div>
                        </li>

                        <li class="overlay">
                            <div class="feature feature-icon-large">
                                <i class="icon icon-shield icon-large"></i>
                                <h5>Абсолютная безопасность</h5>

                                <p>Метод, доказавший способность укреплять здоровье человека и&nbsp;животного, построен
                                    на&nbsp;использовании
                                    пробиотических культур, применяемых в&nbsp;течение десятилетий в&nbsp;пищевой
                                    промышленности и&nbsp;здравоохранении.
                                </p>
                            </div>
                        </li>

                        <li class="overlay">
                            <div class="feature feature-icon-large">
                                <i class="icon icon-hourglass icon-large"></i>
                                <h5>Быстрое и&nbsp;простое внедрение</h5>

                                <p>Пробиотическая очистка не&nbsp;требует специальных знаний, оборудования и&nbsp;дорогостоящих
                                    инвестиций. Показывает стабильный результат с&nbsp;первых дней и&nbsp;на&nbsp;протяжении
                                    всего периода применения.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <section class="clients pad-middle">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-offset-1 col-sm-10">
                    <h1 class="space-bottom-medium">
                        Эффективность пробиотической очистки нашло своё применение во&nbsp;многих медицинских
                        учреждениях и&nbsp;одобрено ведущими европейскими университетами.
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-3 text-center">
                    <img alt="client" src="img/med_client_001.png">
                </div>

                <div class="col-xs-6 col-sm-3 text-center">
                    <img alt="client" src="img/med_client_002.png">
                </div>

                <div class="col-xs-6 col-sm-3 text-center">
                    <img alt="client" src="img/med_client_003.png">
                </div>

                <div class="col-xs-6 col-sm-3 text-center">
                    <img alt="client" src="img/med_client_004.png">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-3 text-center">
                    <img alt="client" src="img/med_client_005.png">
                </div>

                <div class="col-xs-6 col-sm-3 text-center">
                    <img alt="client" src="img/med_client_006.png">
                </div>

                <div class="col-xs-6 col-sm-3 text-center">
                    <img alt="client" src="img/med_client_007.png">
                </div>

                <div class="col-xs-6 col-sm-3 text-center">
                    <img alt="client" src="img/med_client_008.png">
                </div>
            </div>
        </div>
    </section>


</div>

{{> footer isMed=true}}
{{> scripts}}

        