
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    {{> menu-top }}
    <div class="main-container">
        <header class="page-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/hero14.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="text-center col-sm-12">
                        <img alt="logo" class="logo" src="img/logo-light.png">
                        <h1 class="text-white space-bottom-medium">Создан природой</h1>
                    </div>
                </div>
            </div>
        </header>
        <section class="primary-features duplicatable-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 clearfix col-md-4">
                        <div class="feature feature-icon-small">
                            <h6 class="text-white">Натуральные компоненты</h6>
                            <p class="text-white">
                                Все используемые нами компоненты являются исключительно натурального происхождения. Мы не используем традиционные консерванты, применяя систему самоконсервирования.&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix col-md-4">
                        <div class="feature feature-icon-small">
                            <h6 class="text-white">Эффективные компоненты</h6>
                            <p class="text-white">
                                Мы не применяем бесымленное использование разрекламированных ингредиентов. Каждый состав содержит необходимые пропорции компонентов и направленны на нужный результат.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix col-md-4">
                        <div class="feature feature-icon-small">
                            <h6 class="text-white">Полезные действия</h6>
                            <p class="text-white">Мы создаем ламмелярное строение эмульсий для максимального приближения к строению липидных пластов кожи с соединением необходимых и питательных компонентов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="inline-image-right">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <img alt="Product Image" class="product-image" src="img/devices.png">
                    </div>
                    <div class="align-vertical no-align-mobile col-sm-5">
                        <h1>Живой кожи – живая косметика.</h1>
                        <p class="lead">
                            Мы не обещаем мгновенного эффекта.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <header class="page-header resume-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/hero21.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h1 class="text-white space-bottom-medium">Всё для простого понимания</h1>
                        <span>Нам не нужны красивые названия и яркая упаковка. Мы сделали так, чтобы было удобно.</span>
                    </div>
                </div>
            </div>
        </header>
        <section class="product-right wood-divider">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/wood.jpg">
            </div>
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-5">
                        <h1 class="text-white">Мы не обещаем мгновенного и чудодейственного эффекта.</h1>
                        <p class="text-white lead">
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="product-image">
                <img alt="Blank Phone" src="img/phone-blank.png">
            </div>
        </section>
        <section class="no-pad-bottom projects-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                        <h1>Check out some of our<br>latest and greatest projects</h1>
                    </div>
                </div>
            </div>
            <div class="projects-wrapper clearfix">
                <div class="container">
                    <div class="row">
                        <ul class="filters">
                            <li data-filter="*" class="active">All</li>
                            <li data-filter=".branding">Branding</li>
                            <li data-filter=".development">Development</li>
                            <li data-filter=".print">Print Design</li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="projects-container column-projects">
                        <div class="col-sm-4 project development image-holder">
                            <div class="background-image-holder">
                                <img class="background-image" alt="Background Image" src="img/project1.jpg">
                            </div>
                            <div class="hover-state">
                                <div class="align-vertical">
                                    <h3 class="text-white"><strong>MS10</strong> UX</h3>
                                    <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 project branding image-holder">
                            <div class="background-image-holder">
                                <img class="background-image" alt="Background Image" src="img/project2.jpg">
                            </div>
                            <div class="hover-state">
                                <div class="align-vertical">
                                    <h3 class="text-white"><strong>Medium</strong> Blog Platform</h3>
                                    <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 project print image-holder">
                            <div class="background-image-holder">
                                <img class="background-image" alt="Background Image" src="img/project3.jpg">
                            </div>
                            <div class="hover-state">
                                <div class="align-vertical">
                                    <h3 class="text-white"><strong>Identity</strong> Mockup</h3>
                                    <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 project print image-holder">
                            <div class="background-image-holder">
                                <img class="background-image" alt="Background Image" src="img/project4.jpg">
                            </div>
                            <div class="hover-state">
                                <div class="align-vertical">
                                    <h3 class="text-white"><strong>Aurora</strong> App Icons</h3>
                                    <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 project branding image-holder">
                            <div class="background-image-holder">
                                <img class="background-image" alt="Background Image" src="img/project5.jpg">
                            </div>
                            <div class="hover-state">
                                <div class="align-vertical">
                                    <h3 class="text-white"><strong>Sketchbook</strong> Logo Mockup</h3>
                                    <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 project development image-holder">
                            <div class="background-image-holder">
                                <img class="background-image" alt="Background Image" src="img/project6.jpg">
                            </div>
                            <div class="hover-state">
                                <div class="align-vertical">
                                    <h3 class="text-white"><strong>Muzik</strong> Home Screen</h3>
                                    <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{> footer}}
    {{> scripts}}
