<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<noindex>
<div class="nav-container">
    <nav class="top-bar overlay-bar">
        <div class="container">


            <div class="row nav-menu">
                <div class="col-sm-2 columns">
                    <img class="logo logo-light" alt="Logo" src="img/logo-light.png">
                    <img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
                </div>

                <div class="col-sm-8 columns">
                    <ul class="menu">
                        <li><a href="#">кто я<br></a></li><li><a href="#">чем занимаюсь<br></a></li><li><a href="#">Как со мной связаться</a></li>


                    </ul>
                </div>

                <div class="col-sm-2 columns text-right">
                    <ul class="social-icons text-right">
                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>

        </div>
    </nav>

</div>

<div class="main-container">
    <header class="title">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/header1.jpg">
        </div>

        <div class="container align-bottom">
            <div class="row">
                <div class="col-xs-9">
                    <h1 class="text-white">Создаю здоровое будущее</h1>

                </div>
            </div>
        </div>
    </header>

    <section class="text-banner">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">

                    <h1 class="center-block">Я предприниматель</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="lead">Начиная с 2000 года моя работа была тесно связана с автомобильным бизнесом. Опираясь на свой характер, я всегда стремился к улучшению и развитию. Будучи студентом дневного отделения МАТИ, я совмещал обучение и работу в отделе маркетинга на авиационном предприятии, где и получил первый опыт. Мой предпринимательский путь начался после института с небольшой частной автомастерской и несколькими сотрудниками. В 2001 году был открыт Бош Авто Сервис, а в начале 2008-го дилерское предприятие марки SKODA. За это время я не раз посещал различные предприятия сборки автомобилей и производства компонентов, принимал непосредственное участие во внутренних проектах концерна Volkswagen, предоставлял площадку для проведения пилотных проектов.</p>
                </div>
            </div>

        </div>
    </section>

    <section class="hero-slider">
        <ul class="slides">
            <li class="overlay">
                <div class="background-image-holder parallax-background">
                    <img class="background-image" alt="Background Image" src="img/hero11.jpg">
                </div>

                <div class="container align-vertical">
                    <div class="row">
                        <div class="col-sm-9 col-md-6">
                            <h1 class="text-white">2012 год – время поиска, изучения новых возможностей и диверсификации&nbsp;</h1>


                        </div>
                    </div>
                </div>
            </li>

            <li class="overlay">
                <div class="background-image-holder parallax-background">
                    <img class="background-image" alt="Background Image" src="img/hero2.jpg">
                </div>

                <div class="container align-vertical">
                    <div class="row">
                        <div class="col-md-6 col-sm-9">
                            <h1 class="text-white">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>


                        </div>
                    </div>
                </div>
            </li>

            <li class="overlay">
                <div class="background-image-holder parallax-background">
                    <img class="background-image" alt="Background Image" src="img/hero7.jpg">
                </div>

                <div class="container align-vertical">
                    <div class="row">
                        <div class="col-md-6 col-sm-9">
                            <h1 class="text-white">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>


                        </div>
                    </div>
                </div>
            </li>

            <li class="overlay">
                <div class="background-image-holder parallax-background">
                    <img class="background-image" alt="Background Image" src="img/hero9.jpg">
                </div>

                <div class="container align-vertical">
                    <div class="row">
                        <div class="col-md-6 col-sm-9">
                            <h1 class="text-white">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>


                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section class="image-slider-section">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-sm-10 col-sm-offset-1 text-center col-md-8">
                    <h1>Смена курса на bfc</h1>
                    <p class="lead">
                        2014 год стал переломным и началом нового этапа. Объединяющий инновации и решение проблем для человечества, был запущен новый, совместный с бельгийскими партнерами проект – bfc. С этого момента всё внимание сфокусировалось на создании нового предприятия, в котором соединилось всё то, что искал. Сегодня я сократил присутствие в сторонних проектах и вышел из их долевого участия.</p>
                    <div class="image-slider image-gallery">
                        <ul class="slides">
                            <li><img alt="Image Slider Image" src="img/slider1.jpg"></li>
                            <li><img alt="Image Slider Image" src="img/slider2.jpg"></li>
                            <li><img alt="Image Slider Image" src="img/slider3.jpg"></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="text-image-bottom bg-white">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>Мы создаём инновации</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p class="lead">
                        Возможно это на генном уровне, но во мне заложено желание создавать новое и не подчиняться устоявшимся правилам. Знакомство с новыми партнерами, их работой и возможностями проекта полностью поглатило. Сегодня мы реализовываем совместный проект, частично переносим производство продуктов из Европы на территорию России и объединены целью закрепления bfc на международном рынке.&nbsp;</p>
                </div>

                <div class="col-sm-6">
                    <p class="lead">Наши решения формируют стабильное и безопасное окружение для комфортного обитания человека. Обеспечивая здоровую атмосферу, мы стимулируем иммунную систему к самовосстановлению, обеспечивая новое качество жизни. Это особо важно для медицины, сельского хозяйства и пищевой отрасли. Мы создаем простые решения, удобные для использования, в том числе и для бытового применения.&nbsp;</p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <img alt="Freelancer Essentials" src="img/bottom1.jpg">
        </div>
    </section>

    <section class="contact-center">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-sm-8 col-sm-offset-2 text-center col-md-6">
                    <h1>Я открыт и готов делиться знаниями</h1>
                    <p class="lead">
                        В основе наших решений лежит использование специально отобранных пробиотических бактерий, открывающих большие возможности. Обладая компетенциями и опытом, мы открыты к сотрудничеству, готовы консультировать, оказывать помощь в использовании и развитии бизнеса на их основе.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="form-wrapper clearfix">
                        <form class="form-contact email-form">
                            <div class="inputs-wrapper">
                                <input class="form-name validate-required" type="text" placeholder="Your Name" name="name">
                                <input class="form-email validate-required validate-email" type="text" name="email" placeholder="Your Email Address">
                                <textarea class="form-message validate-required" name="message" placeholder="Your Message"></textarea>
                            </div>
                            <input type="submit" class="send-form" value="Send Form">
                            <div class="form-success">
                                <span class="text-white">Message sent - Thanks for your enquiry</span>
                            </div>
                            <div class="form-error">
                                <span class="text-white">Please complete all fields correctly</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</noindex>

{{> footer}}
{{> scripts}}