<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{{> menu-top isBlackText=true}}

<div class="main-container pro-active">
    <section class="product-right top">

        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/proactive-top.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/proactive-top-mob.jpg">
        </div>

        <div class="container align-vertical">
            <div class="row">
                <div class="content col-sm-6 col-md-6">
                    <h1>Здоровая среда для&nbsp;клиента и&nbsp;сотрудников компании</h1>

                    <p class="lead">
                        Посещение спортивных учреждений сопровождается контактом с&nbsp;разного рода помещениями и&nbsp;большим
                        количеством поверхностей. При&nbsp;тренировках человек взаимодействует с&nbsp;предметами общего
                        пользования, поручнями и&nbsp;сиденьями тренажеров, ковриками для&nbsp;занятий, спортивным
                        оборудованием для&nbsp;тренировок.
                    </p>


                </div>
            </div>
        </div>


    </section>

    <section class="side-image text-heavy clearfix vneshnee">
        <div class="image-container col-sm-3 pull-left col-md-5 hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/proactive-vneshnee.jpg">
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1>Внешнее воздействие</h1>

                    <p class="lead">
                        При&nbsp;активных физических нагрузках человек потеет, формируется особая среда, способствующая
                        размножению бактерий. Кожа становится особенно уязвимой перед негативным влиянием различных
                        микроорганизмов. Возникает прямая угроза нанесения вреда здоровью человека.
                    </p>
                    <br class="hidden-xs">

                </div>

                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/proactive-vneshnee-mob.jpg">
                </div>
            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-middle bezop">
        <div class="image-container col-sm-12 pull-left col-md-12">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/proactive-bezop.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-6 content clearfix">
                    <h1 class="text-white">Безопасное окружение</h1>

                    <p class="lead text-white">В&nbsp;спортивных объектах большое количество различных по&nbsp;цели
                        эксплуатации помещений. Раздевалки, спортзалы, душевые, бассейны, сауна – в&nbsp;каждом
                        существуют свои&nbsp;скрытые угрозы, особенности уборки и&nbsp;очистки пространства.
                        Пробиотические продукты формируют безопасную среду для&nbsp;человека, снижают риск
                        распространения вирусов и&nbsp;патогенных микроорганизмов, удаляют загрязнения с&nbsp;любого
                        типа поверхностей.
                    </p>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/proactive-bezop-mob.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="stat">
        <div class="container">
            <div class="row">
                <div class="col-pl-v-12 col-pl-v-offset-0 col-sm-10 col-sm-offset-1 text-center pad-small pt-0 xs-text-left">
                    <h1 class="text-white">PRO&nbsp;ACTIVE – комплексное решение, разработанное для&nbsp;специализированных
                        спортивных учреждений, фитнесс-центров, стадионов, бассейнов</h1>
                </div>
                <div class="hidden-xs">
                    <div class="col-sm-6 col-md-3">
                        <h3 class="text-white text-left">Учитывает все&nbsp;особенности помещений</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 class="text-white text-left">Основано на&nbsp;пробиотической очистке</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 class="text-white text-left">Облегчает и&nbsp;удешевляет очистку поверхностей</h3>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 class="text-white text-left">Формирует здоровое и&nbsp;безопасное окружение</h3>
                    </div>
                </div>
                <div class="col-xs-12 visible-xs">
                    <ul class="text-white text-left">
                        <li>Учитывает все&nbsp;особенности помещений</li>
                        <li>Основано на&nbsp;пробиотической очистке</li>
                        <li>Облегчает и&nbsp;удешевляет очистку поверхностей</li>
                        <li>Формирует здоровое и&nbsp;безопасное окружение</li>
                    </ul>
                </div>
            </div>


        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small chistye">
        <div class="image-container col-sm-12 pull-left col-md-12 hidden-xs">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="img/proactive-chistye.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="content clearfix align-vertical no-align-mobile col-sm-6 col-pl-v-8">
                    <h1>Чистые покрытия</h1>

                    <p class="lead">
                        Следы от&nbsp;шайбы на&nbsp;бортах хоккейной площадки, полоски от&nbsp;кроссовок на&nbsp;покрытии
                        нарушают эстетику, требуют много времени для&nbsp;удаления, трудозатрат персонала и&nbsp;накладывают
                        дополнительные расходы на&nbsp;содержание игровой площадки. Использование продуктов с&nbsp;сильными
                        отделительными свойствами делают задачу очистки легче и&nbsp;дешевле.
                    </p>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/proactive-chistye-mob.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small svezhie">
        <div class="image-container col-md-12 col-sm-12">
            <div class="background-image-holder bp-0">
                <img class="background-image" alt="Background Image" src="img/proactive-svezhie.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs bp-0">
            <img class="background-image" alt="Background Image" src="img/proactive-svezhie-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix col-md-6">
                    <h1 class="text-white">Свежий воздух</h1>

                    <p class="lead text-white">
                        Очистка воздушного пространства обеспечивает комфортные условия для&nbsp;занятий спортом.
                        Пробиотики устраняют неприятные запахи в&nbsp;раздевалках, формируют здоровую атмосферу.
                    </p>
                    <a href="/air-clean" class="btn btn-primary">Об очистке воздуха</a><br>


                </div>

            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small personalnaya">
        <div class="image-container col-md-12 col-sm-12">
            <div class="background-image-holder bp-100">
                <img class="background-image" alt="Background Image" src="img/proactive-personalnaya.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 align-vertical no-align-mobile content clearfix">
                    <h1>Персональная гигиена</h1>

                    <p class="lead">
                        Обработка спортивной одежды и&nbsp;обуви пробиотическими средствами, пересмотр отношения к&nbsp;гигиене,
                        значительно снижает наличие вирусов и&nbsp;повышает иммунитет человека.
                    </p>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/proactive-personalnaya-mob.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix space">
        <div class="image-container col-sm-3 pull-left col-md-5 hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/proactive-obshee.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/proactive-obshee-mob.jpg">
        </div>
        <div class="container">

            <div class="row">

                <div class="col-sm-8 content clearfix col-md-6 pull-right">
                    <h1>Общее пространство</h1>

                    <p class="lead">
                        В&nbsp;основе PRO&nbsp;ACTIVE лежит серия продуктов&nbsp;PROFESSIONAL, решающая все&nbsp;задачи
                        обслуживания помещений общего назначения. Безопасные и&nbsp;экономичные в&nbsp;использовании,
                        они&nbsp;борются с&nbsp;грибками и&nbsp;плесенью, очищают душевые, сауны, бассейны, обеспечивают
                        пролонгированный пробиотический эффект очистки и&nbsp;обеззараживания поверхностей от&nbsp;вредоносных
                        микроорганизмов.
                    </p>
                    <a href="/professional" class="btn btn-primary">О профессиональной очистке</a><br>


                </div>

            </div>

        </div>
    </section>
</div>
{{> footer}}
{{> scripts}}
        