<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top }}
<div class="main-container probiotic">
    <header class="page-header">
        <div class="background-image-holder parallax-background hidden-xs">
            <img class="background-image" alt="Background Image" src="img/bfc_015.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/bfc_015-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h1 class="text-white">Бактерии – одни из&nbsp;первых организмов, появившихся на&nbsp;земле</h1>

                    <p class="text-white lead">Они&nbsp;играют важную роль и&nbsp;составляют большую часть обитателей
                        микрофлоры человека, отвечающую за&nbsp;пищеварение и&nbsp;защиту от&nbsp;болезней.</p>
                </div>
            </div>
        </div>
    </header>
    <section class="duplicatable-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature">
                        <h5>Мир бактерий</h5>

                        <p>
                            Мы&nbsp;предполагаем существование более миллиона видов бактерий, из&nbsp;которых изучено и&nbsp;описано
                            около десяти&nbsp;тысяч. Существует предположение, что&nbsp;именно они стали причиной
                            появления многоклеточных организмов. Мы&nbsp;живем в&nbsp;мире бактерий, они&nbsp;обитают в&nbsp;различных
                            средах: в&nbsp;космосе, на&nbsp;глубине океана и&nbsp;даже внутри живых организмов.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature">
                        <h5>Жизненный ритм</h5>

                        <p>
                            Бактерии способны размножаться, адаптироваться, видоизменяться и&nbsp;выживать в&nbsp;агрессивных
                            условиях. В&nbsp;тоже&nbsp;время, бактерии характеризуются коротким жизненным циклом и&nbsp;высокой
                            скоростью обновления биомассы. Одни способны жить бок&nbsp;о&nbsp;бок с&nbsp;организмом,
                            другие достаточно активно вступают во&nbsp;взаимодействие.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature">
                        <h5>Польза и&nbsp;разрушение</h5>

                        <p>
                            Одни виды бактерий вызывают болезни людей, животных, растений, другие играют важную роль в&nbsp;формировании
                            структуры и&nbsp;плодородия почв, разрушении растительной и&nbsp;живой мортмассы, являясь
                            природными утилизаторами процессов жизнедеятельности. Они&nbsp;поддерживают запасы
                            углекислого газа и&nbsp;кислорода в&nbsp;атмосфере.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="side-image clearfix">
        <div class="image-container col-sm-4 pull-left col-md-5 hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/bfc_016.jpg">
            </div>
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/bfc_016-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-6 col-sm-7 col-sm-offset-5 content clearfix col-md-6">
                    <h1>Мы живем в&nbsp;мире бактерий, контактируем и&nbsp;взаимодействуем. Они&nbsp;живут внутри нас и&nbsp;снаружи</h1>

                    <p class="lead">Многие годы считалось, что&nbsp;дезинфекция и&nbsp;уничтожение бактерий является
                        единственным способом гигиены, а&nbsp;лечение антибиотиками, эффективным и&nbsp;правильным
                        способом оздоровления организма. Регулярные атаки и&nbsp;попытки уничтожения бактерий, привели к&nbsp;их&nbsp;желанию
                        выжить и&nbsp;адаптироваться к&nbsp;новым, изменившимся условиям. Мутация и&nbsp;появление новых
                        видов патогенов, более агрессивных, отличающихся особой резистентностью, иммунитетом к&nbsp;антибиотикам
                        и&nbsp;средствам дезинфекции, всё&nbsp;больше и&nbsp;больше оказывают негативное влияние на&nbsp;иммунную
                        систему человека и&nbsp;экологическую безопасность. Сегодня очевидна необходимость радикального
                        изменения отношения и&nbsp;подхода к&nbsp;задачам очистки и&nbsp;здоровью.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bfc-0-padding-bottom">
        <div class="container visible-xs">
            <div class="row">
                <div class="content col-xs-12 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-1">
                    <h1>Переломное открытие, продиктованное самой природой</h1>

                    <p class="lead">
                        Пробиотическая очистка – единственная природная защита и&nbsp;разрушение патогенной флоры без
                        агрессивного воздействия и&nbsp;стимулирования мутаций. Пробиотики не&nbsp;способны убивать
                        микроорганизмы, но&nbsp;обеспечивают преобладание над&nbsp;патогенами и&nbsp;эффективно
                        нейтрализуют их&nbsp;активность, замедляют популяцию и&nbsp;существенно сокращают их&nbsp;распространение.
                    </p>
                </div>
                <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
                    <img class="" alt="Background Image" src="img/bfc_017-mob.png">
                </div>
            </div>
        </div>
        <div class="main-container hidden-xs bacterias">
            <div class="row">
                <div class="align-vertical col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-1">
                    <h1>Переломное открытие, продиктованное самой природой</h1>

                    <p class="lead">
                        Пробиотическая очистка – единственная природная защита и&nbsp;разрушение патогенной флоры без
                        агрессивного воздействия и&nbsp;стимулирования мутаций. Пробиотики не&nbsp;способны убивать
                        микроорганизмы, но&nbsp;обеспечивают преобладание над&nbsp;патогенами и&nbsp;эффективно
                        нейтрализуют их&nbsp;активность, замедляют популяцию и&nbsp;существенно сокращают их&nbsp;распространение.
                    </p>
                    <br/>
                </div>
                <div class="col-md-4 col-pl-v-8 hidden-xs col-md-offset-1 grass">
                    <img alt="Product Image" class="pull-right" src="img/bfc_017.png">
                </div>
            </div>
        </div>
    </section>
    <section class="text-image-bottom bg-white colony">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-sm-10 col-sm-offset-1 xs-text-left text-center col-md-8">
                    <h1>Колонизированные пробиотические бактерии безопасным и&nbsp;устойчивым образом формируют полезную
                        и&nbsp;здоровую флору</h1>
                </div>
                <div class="col-xs-12 visible-xs">
                    <img class="" alt="Background Image" src="img/bfc_018-mob.png">
                </div>
            </div>
        </div>
        <div class="text-center hidden-xs">
            <img alt="Бактерии" src="img/bfc_018.png">
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="container xs-text-left text-center">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <p class="lead">Регулярное использование пробиотических составов в&nbsp;задачах очистки снижает
                        влияние патогенов и&nbsp;уменьшает негативное воздействие на&nbsp;иммунную систему организма,
                        направляя её&nbsp;к&nbsp;восстановлению и&nbsp;развитию. Иммунная система – единственная,
                        эффективная и&nbsp;безопасная возможность сопротивляться вредоносным вирусам, способность
                        обезвреживать чужеродный и&nbsp;потенциально опасный биоматериал, орган поддержания баланса
                        организма.</p>
                </div>
            </div>
            <br class="hidden-xs"/>
            <br class="hidden-xs"/>

            <div class="row">
                <div class="col-md-12 xs-text-left">
                    <a href="/products-of-cleaning" class="btn btn-primary">
                        Как работают пробиотики
                    </a>
                    <a href="/safety" class="btn btn-primary btn-text-only">
                        Ответы на вопросы
                    </a>

                </div>
            </div>
            <br class="hidden-xs"/>
            <br class="hidden-xs"/>
        </div>
    </section>

</div>
{{> footer}}
{{> scripts}}

