<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> menu-top isBlackText=true}}
<div class="main-container problem-solving">
<section class="cleaning-components first-child">
    <div class="background-image-holder bp-0 hidden-xs">
        <img class="background-image" alt="" src="img/problem-solving-top.jpg">
    </div>
    <div class="background-image-holder visible-xs">
        <img class="background-image" alt="Background Image" src="img/problem-solving-top-mob.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-sm-10 col-sm-offset-1 col-md-6">
                <h1 class="">Проблема, подход, решение</h1>

                <p class="lead">Продукты&nbsp;BFC обладают большими возможностями и&nbsp;способны решать различные
                    задачи. Как&nbsp;и&nbsp;со&nbsp;стандартными очистителями, эффект напрямую зависит от&nbsp;сочетания
                    различных факторов и&nbsp;выбранного метода.</p>
            </div>
        </div>
    </div>
</section>
<section class="primary-features restrictions hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 clearfix col-md-3">
                <div class="feature feature-icon-small ico-zagryazn">
                    <h6 class="text-white">Загрязнение</h6>

                    <p class="text-white">
                        Определите тип и&nbsp;степень загрязнения. Выберите подходящий состав и&nbsp;его&nbsp;концентрацию.</p>
                </div>
            </div>
            <div class="col-sm-6 clearfix col-md-3">
                <div class="feature feature-icon-small ico-temper">
                    <h6 class="text-white">Температура</h6>

                    <p class="text-white">
                        Температура рабочей жидкости накладывает ограничения. Учитывайте условия окружающей атмосферы.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 clearfix col-md-3">
                <div class="feature feature-icon-small ico-vremya">
                    <h6 class="text-white">Время&nbsp;воздействия</h6>

                    <p class="text-white">
                        Учитывайте время. Это&nbsp;важный фактор, балансирующий между риском и&nbsp;усилением эффекта.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 clearfix col-md-3">
                <div class="feature feature-icon-small ico-sila">
                    <h6 class="text-white">Сила&nbsp;воздействия </h6>

                    <p class="text-white">
                        Учитывайте тип и&nbsp;свойства поверхности. Не&nbsp;применяйте чрезмерную силу, способную
                        нанести ущерб материалам.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="visible-xs restrictions hero-slider">
    <ul class="slides">
        <li class="overlay">
            <div class="feature feature-icon-small ico-zagryazn">
                <h6 class="text-white">Загрязнение</h6>

                <p>
                    Определите тип и&nbsp;степень загрязнения. Выберите подходящий состав и&nbsp;его&nbsp;концентрацию.</p>
            </div>
        </li>

        <li class="overlay">
            <div class="feature feature-icon-small ico-temper">
                <h6 class="text-white">Температура</h6>

                <p>
                    Температура рабочей жидкости накладывает ограничения. Учитывайте условия окружающей атмосферы.
                </p>
            </div>
        </li>

        <li class="overlay">
            <div class="feature feature-icon-small ico-vremya">
                <h6 class="text-white">Время&nbsp;воздействия</h6>

                <p>
                    Учитывайте время. Это&nbsp;важный фактор, балансирующий между риском и&nbsp;усилением эффекта.
                </p>
            </div>
        </li>

        <li class="overlay">
            <div class="feature feature-icon-small ico-sila">
                <h6 class="text-white">Сила&nbsp;воздействия </h6>

                <p>
                    Учитывайте тип и&nbsp;свойства поверхности. Не&nbsp;применяйте чрезмерную силу, способную
                    нанести ущерб материалам.
                </p>
            </div>
        </li>
    </ul>
</section>
<section class="pure-text choice">
    <div class="container">
        <div class="row">
            <div class="text-center col-sm-12 xs-text-left">
                <h1>Выбор продукта и&nbsp;зависимость от&nbsp;загрязнения</h1>
            </div>
            <div class="col-xs-12 visible-xs text-center">
                <img class="" alt="" src="img/choice_center_image-mob.jpg">
            </div>
        </div>
        <div class="row side-image">
            <div class="image-container col-md-offset-3 col-md-6 visible-sm visible-lg visible-md text-center col-xs-6">
                <img src="img/choice_center_image.png">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h6>Продукты с&nbsp;щелочными свойствами</h6>

                <p>Данная группа чаще всего применятся для&nbsp;удаления масляных и&nbsp;жировых загрязнений,
                    обезжиривания поверхностей и&nbsp;удаления загрязнений органического и&nbsp;неорганического
                    происхождения.</p>
            </div>
            <div class="col-md-offset-6 col-md-3 col-sm-6 col-xs-12">
                <h6>Пробиотические продукты</h6>

                <p>Применяются в&nbsp;целях замещения патогенов полезными бактериями и&nbsp;сокращения их&nbsp;негативного
                    влияния на&nbsp;организм, удаления источников неприятных запахов и&nbsp;органических загрязнений.
                </p>
            </div>
            <div class="col-md-3 cl-b col-sm-6 col-xs-12">
                <h6>Продукты с&nbsp;кислотными свойствами</h6>

                <p>
                    Применяются для&nbsp;очистки от&nbsp;солевых и&nbsp;известковых отложений, для&nbsp;борьбы с&nbsp;плесенью
                    и&nbsp;грибками. Используются для&nbsp;удаления ржавчины и&nbsp;других видов загрязнений.</p>
            </div>
            <div class="col-md-offset-6 col-md-3 col-sm-6 col-xs-12">
                <h6>Моющие пробиотики</h6>

                <p>
                    Эффективный и&nbsp;стабильный инструмент одновременной очистки и&nbsp;дезинфекции поверхностей с&nbsp;пробиотическим
                    действием. Формирует защитный барьер, разрушает биоплёнки, нейтрализует влияние патогенов.
                </p>
            </div>
        </div>
    </div>
</section>
<!--<section class="hero-slider">
    <ul class="slides">
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/bfc_019.jpg">
            </div>
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white bfc-ps-slide-header">
                            Безграничные возможности применения.
                        </h1>
                    </div>
                </div>
            </div>
        </li>
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/bfc_020.jpg">
            </div>
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white bfc-ps-slide-header">
                            Многозадачные свойства продуктов.
                        </h1>
                    </div>
                </div>
            </div>
        </li>
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/bfc_021.jpg">
            </div>
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white bfc-ps-slide-header">
                            Безопасное и бережное отношение.
                        </h1>
                    </div>
                </div>
            </div>
        </li>
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/bfc_022.jpg">
            </div>
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white bfc-ps-slide-header">Забота и вклад в здоровье общества.</h1>
                    </div>
                </div>
            </div>
        </li>
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/bfc_023.jpg">
            </div>
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white bfc-ps-slide-header">Забота и вклад в здоровье общества.</h1>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>-->
<section class="duplicatable-content pure-text recommendation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Общие рекомендации</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ico ico-jyvye">
                <h6>Живые продукты</h6>

                <p>Продукты, содержащие в&nbsp;своем составе живые микроорганизмы недопустимо смешивать и&nbsp;использовать
                    с&nbsp;химическими составами и&nbsp;антисептиками, так&nbsp;как&nbsp;это&nbsp;сопровождается
                    уничтожением пробиотиков. Концентрированное состояние пробиотических составов гарантирует сохранение
                    бактерий в&nbsp;споровом положении на&nbsp;протяжении всего срока годности состава. Разбавление
                    концентрата водой пробуждает и&nbsp;стимулирует бактерии к&nbsp;активности. В&nbsp;зависимости от&nbsp;продукта
                    активность может составлять незначительное время, по&nbsp;истечению которого, пробиотическая
                    составляющая теряет свою силу и&nbsp;погибает.</p>
            </div>
            <div class="col-sm-4 ico ico-germetichnost">
                <h6>Герметичность и&nbsp;упаковка</h6>

                <p>Не&nbsp;храните состав в&nbsp;открытом состоянии и&nbsp;не&nbsp;допускайте попадания посторонних
                    предметов. Это создает риск его&nbsp;заражения или&nbsp;активации с&nbsp;дальнейшим выходом из&nbsp;строя.
                    Выбор ампул в&nbsp;виде основной упаковки обусловлен именно этими причинами, гарантирующими
                    сохранение концентрата в&nbsp;герметичном и&nbsp;закрытом состоянии до&nbsp;момента необходимости
                    его&nbsp;использования.</p>
            </div>
            <div class="col-sm-4 ico ico-zvetoust">
                <h6>Цветоустойчивость поверхностей</h6>

                <p>Несмотря на&nbsp;то, что&nbsp;в&nbsp;составах полностью исключено присутствие растворителей, и&nbsp;они&nbsp;являются
                    абсолютно безопасными для&nbsp;любой моющейся и&nbsp;цветоустойчивой поверхности, риск порчи
                    сохраняется. Перед началом использования состава мы&nbsp;рекомендуем провести тестирование на&nbsp;небольшом
                    участке поверхности в&nbsp;малозаметном месте. Это&nbsp;позволит вам&nbsp;оценить цветоустойчивость
                    материала и&nbsp;его поведение при&nbsp;внешнем воздействии.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ico ico-prigotovlenie">
                <h6>Приготовление состава</h6>

                <p>Налейте сперва теплую воду и&nbsp;только потом добавляйте концентрат с&nbsp;бактериями. Помните о&nbsp;рабочей
                    температуре воды и&nbsp;не&nbsp;превышайте 40&nbsp;°C.  Наши пробиотики живые и&nbsp;не&nbsp;хотят
                    быть сваренными в&nbsp;кипятке. Всегда встряхивайте рабочий продукт перед применением для&nbsp;равномерного
                    распределения спор в&nbsp;жидкости.</p>
            </div>
            <div class="col-sm-4 ico ico-bezopasnost">
                <h6>Безопасность и&nbsp;защита</h6>

                <p>
                    В&nbsp;готовом к&nbsp;применению, разведенном состоянии, составы&nbsp;BFC являются абсолютно
                    безопасными и&nbsp;не&nbsp;требуют средств индивидуальной защиты. Несмотря на&nbsp;это,
                    концентрированные составы при&nbsp;длительном контакте с&nbsp;кожей способны вызвать обезвоживание и&nbsp;сухость,
                    а&nbsp;при&nbsp;прямом попадании в&nbsp;глаза – легкое раздражение и&nbsp;необходимость промыть
                    глаза водой.</p>
            </div>
            <div class="col-sm-4 ico ico-usloviya">
                <h6>Условия и&nbsp;срок хранения</h6>

                <p>Большая часть наших продуктов не&nbsp;требует специальные условия хранения. С&nbsp;целью сохранения
                    свойств, необходимо учитывать рекомендации и&nbsp;не&nbsp;допускать нарушений. Не&nbsp;используйте
                    состав с&nbsp;истекшим сроком годности, а&nbsp;также в&nbsp;случае его&nbsp;порчи. Условия хранения
                    и&nbsp;индивидуальные особенности продуктов описаны на&nbsp;упаковке товара.</p>
            </div>
        </div>
    </div>
</section>
</div>
{{> footer}}
{{> scripts}}

