
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    {{> menu-top }}
    <div class="main-container">
        <section class="product-right wood-divider">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="/img/bfc_024.jpg">
            </div>
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-white">PrimeBrush UNI</h1>
                    </div>
                </div>
            </div>
            <div class="product-image">
                <img alt="Blank Phone" src="/img/bfc_025.png">
            </div>
        </section>
        <section class="duplicatable-content pure-text">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Применение</h6>
                        <p>Применяется для микробиологической очистки поверхностей внутреннего пространства автомобиля. Производит глубокое удаление загрязнений, снижает влияние и риск развития патогенных микроорганизмов.</p>
                        <p>
                            <br>
                        </p>
                        <p>По окончанию жидкости - флакон можно пополнить использовав заправочные дозы с концентратом.</p>
                    </div>
                    <div class="col-sm-4">
                        <h6>Свойства продукта</h6>
                        <p>Применяется в разбавленном с водой состоянии. Состав универсален и безопасен для всех типов водостоки поверхностей, включая кожу и ткани. Не содержит растворители. Обладает отделительными и обезжиривающими свойствами. Содержит пробиотические культуры бактерий. Обеспечивает быструю и глубокую очистку с продленным эффектом. Формирует здоровую микрофлору. Способствует разложению органического загрязнения и устранению неприятных запахов. Поддается биологическому разложению. не горючий, не летучий.</p>
                    </div>
                    <div class="col-sm-4">
                        <h6>Состав</h6>
                        <p>Aqua, Anionic surfactants, non ionic surfactants, perfume, enzymes,bacillus ferment.</p>
                    </div>
                    <div class="col-sm-4">
                        <h6>Условия хранения</h6>
                        <p>Срок годности в концентрированном состоянии - 24 месяца. В разведенном с водой состоянии, хранить не более 90 дней с момента изготовления рабочего состава. Хранить при температуре от 0 до 45 C. Хранить в недоступном от детей месте.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-masonry bg-muted">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="blog-filters">
                            <li data-filter="*" class="active">Все</li>
                            <li data-filter=".branding">Уход</li>
                            <li data-filter=".development">Очистка</li>
                            <li data-filter=".print">Восстановление</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="blog-masonry-container">
                        <div class="col-md-4 col-sm-6 blog-masonry-item branding">
                            <div class="item-inner">
                                <a href="blog-single.html">
                                    <img alt="Blog Preview" src="/img/blog-masonry-1.jpg">
                                </a>
                                <div class="post-title">
                                    <h2>Layout out my writing gear as though I'll use it.</h2>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                                    </p>
                                    <div class="post-meta">
                                        <span class="sub alt-font">Posted on June 16th</span>
                                        <span class="sub alt-font">4 Minute Read</span>
                                    </div>
                                    <a href="blog-single.html" class="link-text">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 blog-masonry-item development">
                            <div class="item-inner quote-post">
                                <div class="post-title">
                                    <h1>"A camel is a horse designed by committee"</h1>
                                    <div class="post-meta">
                                        <span class="sub alt-font">Alec Issigonis</span>
                                        <span class="sub alt-font">1965</span>
                                    </div>
                                    <a href="blog-single.html" class="link-text">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 blog-masonry-item development">
                            <div class="item-inner">
                                <a href="blog-single.html">
                                    <img alt="Blog Preview" src="/img/blog-masonry-2.jpg">
                                </a>
                                <div class="post-title">
                                    <h2>Cooking up a batch of Ma's famous breadsticks</h2>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                                    </p>
                                    <div class="post-meta">
                                        <span class="sub alt-font">Posted on June 13th</span>
                                        <span class="sub alt-font">4 Minute Read</span>
                                    </div>
                                    <a href="blog-single.html" class="link-text">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 blog-masonry-item print">
                            <div class="item-inner">
                                <a href="blog-single.html">
                                    <img alt="Blog Preview" src="/img/blog-masonry-3.jpg">
                                </a>
                                <div class="post-title">
                                    <h2>Wearing my trendy straw hat at the farm.</h2>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                                    </p>
                                    <div class="post-meta">
                                        <span class="sub alt-font">Posted on June 11th</span>
                                        <span class="sub alt-font">4 Minute Read</span>
                                    </div>
                                    <a href="blog-single.html" class="link-text">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 blog-masonry-item branding">
                            <div class="item-inner">
                                <a href="blog-single.html">
                                    <img alt="Blog Preview" src="/img/blog-masonry-4.jpg">
                                </a>
                                <div class="post-title">
                                    <h2>Happy snaps in my hand-made raft at sunset</h2>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                                    </p>
                                    <div class="post-meta">
                                        <span class="sub alt-font">Posted on June 8th</span>
                                        <span class="sub alt-font">2 Minute Read</span>
                                    </div>
                                    <a href="blog-single.html" class="link-text">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 blog-masonry-item print">
                            <div class="item-inner">
                                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/154584032&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                                <div class="post-title">
                                    <h2>Henry Saiz - Anubis</h2>
                                    <div class="post-meta">
                                        <span class="sub alt-font">Posted on June 11th</span>
                                        <span class="sub alt-font">4 Minute Read</span>
                                    </div>
                                    <a href="blog-single.html" class="link-text">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 blog-masonry-item print">
                            <div class="item-inner video-post">
                                <iframe src="http://player.vimeo.com/video/106181453"></iframe>
                                <div class="post-title">
                                    <h2>Vimeo Video Post</h2>
                                    <div class="post-meta">
                                        <span class="sub alt-font">Posted on June 3rd</span>
                                        <span class="sub alt-font">2 Minute Read</span>
                                    </div>
                                    <a href="blog-single.html" class="link-text">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 blog-masonry-item development">
                            <div class="item-inner video-post">
                                <iframe src="http://www.youtube.com/embed/VdEVhE4X6x0"></iframe>
                                <div class="post-title">
                                    <h2>Youtube Video Post</h2>
                                    <div class="post-meta">
                                        <span class="sub alt-font">Posted on June 3rd</span>
                                        <span class="sub alt-font">2 Minute Read</span>
                                    </div>
                                    <a href="blog-single.html" class="link-text">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{> footer}}
    {{> scripts}}
