<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{{> menu-top isBlackText=true}}

<div class="main-container mobile-center cleaning">
    <section class="side-image text-heavy clearfix pad-large product">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="img/products-top.jpg">
        </div>
        <div class="container">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>Пробиотические очистители имеют свои особенности, но&nbsp;при&nbsp;этом они&nbsp;привычны и&nbsp;не&nbsp;требуют особых навыков</h1>
                </div>
            </div>


        </div>


    </section>

    <section class="inline-image-right">
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-6">
                    <h1>Поверхностная очистка</h1>

                    <p class="lead">При&nbsp;нанесении моющего состава на&nbsp;поверхность, продукт, используя сильные проникающие свойства, производит перемещение жидкости под&nbsp;загрязнение, ослабляя связи и&nbsp;отделяя загрязнение от&nbsp;поверхности очистки.</p>
                </div>


                <div class="col-sm-5 text-center col-md-offset-1">
                    <img alt="Product Image" class="product-image" src="img/it_work_1.png">
                </div>
            </div>
        </div>
    </section>

    <section class="inline-image-right">
        <div class="container">
            <div class="row">

                <div class="align-vertical no-align-mobile col-xs-12 col-md-5 pull-right">
                    <h1>Разрыв органических соединений</h1>

                    <p class="lead">
                        Ферменты, входящие в&nbsp;состав очистителей, попадая в&nbsp;поры поверхностей, проникают вглубь и&nbsp;начинают осуществлять органическую очистку. Они&nbsp;являются катализатором биохимических процессов и&nbsp;эффективно разрушают связи органических цепочек, способствуя образованию простых веществ и&nbsp;их&nbsp;легкому удалению с&nbsp;поверхности.</p>
                </div>
                <div class="col-md-5 col-xs-12 text-center pull-left">
                    <img alt="Product Image" class="product-image" src="img/it_work_2.png">
                </div>

            </div>
        </div>
    </section>

    <section class="inline-image-right">
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-5">
                    <h1>Новая глубина очистки</h1>

                    <p class="lead">
                        Споры пробиотических культур, попадая на&nbsp;предмет очистки, выходят из&nbsp;«сонного»&nbsp;состояния, формируя на&nbsp;поверхности новое, активное сообщество микроорганизмов с&nbsp;преобладанием пробиотиков. Органические загрязнения, являясь пищей для&nbsp;бактерий, обеспечивают ещё&nbsp;один уровень более глубокой очистки.
                    </p>

                </div>

                <div class="col-sm-6 text-center col-md-offset-1">
                    <img alt="Product Image" class="product-image" src="img/it_work_3.png">
                </div>
            </div>
        </div>
    </section>

    <section class="inline-image-right">
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-xs-12 col-md-5 pull-right">
                    <h1>Нейтрализация защиты патогенов</h1>

                    <p class="lead">
                        Использование специально подобранных видов бактерий, эффективно разрушающих биоплёнки, делает поверхность чистой и&nbsp;безопасной. Уничтожение «дома» и&nbsp;защиты патогенных микроорганизмов удаляет источники неприятных запахов, сокращается распространение инфекций.</p>
                </div>
                <div class="col-md-6 col-xs-12 text-center pull-left">
                    <img alt="Product Image" class="product-image" src="img/it_work_4.png">
                </div>

            </div>
        </div>
    </section>

    <section class="inline-image-right">
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-5">
                    <h1>Новая микрофлора</h1>

                    <p class="lead">
                        Преобладание пробиотиков на&nbsp;всём пространстве, ограничивает возможность для&nbsp;ранее существовавшей микрофлоры и&nbsp;провоцирует конкурентное вытеснение. Недостаток в&nbsp;пище и&nbsp;«чувство&nbsp;кворума» погружает микроорганизмы в&nbsp;анабиозное состояние до&nbsp;момента нормализации окружающей среды. Получив преимущества, высеянные микроорганизмы используют возможность для&nbsp;естественного замещения ослабленных патогенов, без&nbsp;вызова их&nbsp;защитной реакции.</p>
                </div>

                <div class="text-center col-sm-6 col-md-offset-1">
                    <img alt="Product Image" class="product-image" src="img/it_work_5.png">
                </div>
            </div>
        </div>
    </section>

    <section class="inline-image-right pb-0">
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-xs-12 col-md-5 pull-right">
                    <h1>Здоровое окружение без&nbsp;вызова резистентности</h1>

                    <p class="lead">
                        Удаление биоплёнок и&nbsp;формирование новой микрофлоры с&nbsp;преобладанием пробиотических культур обеспечивает природные, защитные свойства с&nbsp;пролонгированным эффектом очистки и&nbsp;развитием популяций полезных микроорганизмов.</p>
                </div>
                <div class="col-md-6 col-xs-12 text-center pull-left">
                    <img alt="Product Image" class="product-image" src="img/it_work_6.png">
                </div>

            </div>
        </div>
    </section>

    <section class="inline-image-right solvation">
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile col-sm-5">
                    <h1>Одно действие –&nbsp;два&nbsp;решения</h1>

                    <p class="lead">
                        Пробиотическая очистка поверхности обеспечивает двойной эффект, сопровождаемый очищением воздуха и&nbsp;обеззараживанием всего пространства.</p>
                </div>

                <div class="col-sm-6 text-center col-md-offset-1">
                    <img alt="Product Image" class="product-image" src="img/it_work_7.png">
                </div>
            </div>
        </div>
    </section>

    <section class="text-image-bottom bg-white it-work">
        <div class="container">

            <div class="row">
                <div class="col-md-offset-0 col-sm-10 col-sm-offset-1 text-center col-md-12 xs-text-center">
                    <h1>Создание комфортных условий для&nbsp;развития пробиотиков, с&nbsp;периодическим пополнением новыми, обеспечивает формирование «здоровой» саморегулируемой микрофлоры</h1>
                </div>
            </div>


        </div>

        <div class="text-center hidden-xs">
            <img alt="Freelancer Essentials" class="no-margin-top" src="img/it_work_8.jpg">
        </div>
        <div class="col-xs-12 visible-xs no-pad-left no-pad-right">
            <img class="" alt="Background Image" src="img/it_work_8-mob.jpg">
        </div>
    </section>
</div>
{{> footer}}
{{> scripts}}
        