<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{{> menu-top isBlackText=true}}

<div class="main-container professional">
    <section class="product-right top">

        <div class="background-image-holder hidden-xs">
            <img class="background-image" alt="Background Image" src="img/professional-top.jpg">
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/professional-top-mob.jpg">
        </div>

        <div class="container align-bottom">
            <div class="row">
                <div class="col-sm-6 col-md-7">
                    <h1>BFC&nbsp;PROFESSIONAL – эффективные решения, разработанные для&nbsp;бизнеса</h1>

                    <p class="lead">
                        Потребность в&nbsp;уборке существует во&nbsp;всех коммерческих помещениях, от&nbsp;небольших офисов, торговых залов, ресторанов, кафе, гостиниц до&nbsp;крупных производственных предприятий и&nbsp;медицинских учреждений.
                    </p>


                </div>
            </div>
        </div>


    </section>

    <section class="side-image text-heavy clearfix pad-small zamknutoe">
        <div class="image-container col-md-12 col-sm-12 hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/professional-zamknutoe.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/professional-zamknutoe-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile content clearfix col-sm-8 col-md-6 pull-right">
                    <h1 class="text-white">Замкнутое пространство</h1>

                    <p class="lead">
                        В&nbsp;общественных местах, офисах, на&nbsp;производстве всегда большое скопление людей, активно взаимодействующих друг&nbsp;с&nbsp;другом. Трафик в&nbsp;торговых центрах, аэропортах может достигать десятки и&nbsp;даже сотни&nbsp;тысяч человек в&nbsp;день.</p>
                </div>


            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-middle vneshnee">
        <div class="image-container col-sm-12 hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/professional-vneshnee.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/professional-vneshnee-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile content clearfix col-sm-6 col-pl-v-7">
                    <h1>Внешнее влияние</h1>

                    <p class="lead">Патогенные микроорганизмы вместе с&nbsp;пылью и&nbsp;грязью беспрепятственно проникают в&nbsp;помещения, создают прямую угрозу для&nbsp;его&nbsp;здорового функционирования. Продукты BFC&nbsp;PROFESSIONAL решают задачи внешней очистки, обеззараживают и&nbsp;защищают поверхности на&nbsp;микробиологическом уровне.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="milestones pad-middle slider">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Все&nbsp;наши&nbsp;продукты разработаны с&nbsp;учетом самых жестких требований к&nbsp;обработке и&nbsp;очистке внутреннего и&nbsp;внешнего пространства. Открывают возможности для&nbsp;бизнеса, создавая основу для&nbsp;нового уровня обслуживания</h1>

                </div>
            </div>

            <div class="row hidden-xs">
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="feature feature-icon-large">
                        <i class="spray"></i>

                        <span>Полный спектр продуктов для&nbsp;решения задач очистки</span>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 text-center">
                    <div class="feature feature-icon-large">
                        <i class="valet"></i>

                        <span>Экономичные и&nbsp;эффективные в&nbsp;использовании</span>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 text-center">
                    <div class="feature feature-icon-large">
                        <i class="heart"></i>

                        <span>Формирование здорового пространства</span>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 text-center">
                    <div class="feature feature-icon-large">
                        <i class="leaf"></i>

                        <span>Безвредные и&nbsp;безопасные для&nbsp;экологии и&nbsp;человека</span>

                    </div>
                </div>


            </div>
            <div class="visible-xs hero-slider">
                <ul class="slides">
                    <li class="overlay">
                        <div class="feature feature-icon-large">
                            <i class="spray"></i>

                            <span>Полный спектр продуктов для&nbsp;решения задач очистки</span>

                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-large">
                            <i class="valet"></i>

                            <span>Экономичные и&nbsp;эффективные в&nbsp;использовании</span>

                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-large">
                            <i class="heart"></i>

                            <span>Формирование здорового пространства</span>

                        </div>
                    </li>

                    <li class="overlay">
                        <div class="feature feature-icon-large">
                            <i class="leaf"></i>

                            <span>Безвредные и&nbsp;безопасные для&nbsp;экологии и&nbsp;человека</span>

                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </section>

    <section class="side-image text-heavy clearfix sovremenniy">
        <div class="image-container col-sm-12 hidden-xs">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/professional-sovremenniy.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/professional-sovremenniy-mob.jpg">
        </div>

        <div class="container">

            <div class="row">

                <div class="pull-right col-sm-8 content clearfix col-md-6 col-pl-v-7">
                    <h1>Современный метод очистки</h1>

                    <p class="lead">
                        Применение пробиотических чистящих средств является залогом достижения эффективного результата в&nbsp;вопросах уборки помещений. Снижаются риски заболевания сотрудников, формируется здоровая атмосфера, в&nbsp;торговых залах устраняются неприятные запахи и&nbsp;разрушительное воздействие патогенов на&nbsp;продукты питания, уменьшаются потери продукции и&nbsp;возможность её&nbsp;заражения, решается проблема перекрестных заболеваний в&nbsp;медицинских учреждениях.
                    </p>
                    <a href="/probiotic" class="btn btn-primary">Узнать о&nbsp;пробиотиках</a><br>


                </div>

            </div>

        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-small noviy">
        <div class="image-container col-sm-12">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/professional-noviy.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/professional-noviy-mob.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile content clearfix col-sm-6">
                    <h1>Новый взгляд и&nbsp;возможности</h1>

                    <p class="lead">
                        Продукты серии&nbsp;PROFESSIONAL расширяют границы привычного восприятия традиционных методов очистки. Осознание и&nbsp;использование новых технологий даёт возможность партнерам создать совершенно новый уровень сервиса, ориентированный в&nbsp;первую очередь на&nbsp;обеспечение здоровой и&nbsp;безопасной атмосферы для&nbsp;человека, получить конкурентные преимущества и&nbsp;дополнительный инструмент для&nbsp;развития бизнеса.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <section class="side-image text-heavy clearfix pad-xsmall bottom">
        <div class="image-container col-sm-5">
            <div class="background-image-holder">
                <img class="background-image" alt="Background Image" src="img/professional-bottom.jpg">
            </div>
        </div>
        <div class="background-image-holder visible-xs">
            <img class="background-image" alt="Background Image" src="img/professional-bottom-mob.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="align-vertical no-align-mobile content clearfix col-sm-6 pull-right">
                    <h1>Открытый потенциал для&nbsp;бизнеса</h1>

                    <p class="lead">
                        Бережная стирка текстильных изделий, без&nbsp;химического воздействия, обесцвечивания и&nbsp;разрушения тканей – реальность, дополненная пробиотическим действием микроорганизмов, обеззараживающими и&nbsp;формирующими защитный барьер от&nbsp;патогенов. Глубокая очистка на&nbsp;микробиологическом уровне открыла возможности для&nbsp;развития новых услуг и&nbsp;крайне важна для&nbsp;всего сектора сферы обслуживания, медицины и&nbsp;производств, предъявляющих жесткие требования к&nbsp;микробиологии.
                    </p>
                </div>


            </div>
        </div>
    </section>
</div>


{{> footer}}
{{> scripts}}

        