<div class="loader">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
</div>
        
{{> menu-top isBlackText=true}}

<div class="main-container safety">
<section class="hidden">
    
</section>

<section class="pure-text-center head" style="padding-top: 160px;">
    <div class="background-image-holder visible-xs">
        <img class="background-image" alt="Background Image" src="/img/safety-top.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-pl-v-10 col-pl-v-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-2 text-center col-md-8">
                
                <h1>"Живая" помощь самой природы</h1>
                <p class="lead">
                    Как&nbsp;и&nbsp;всё&nbsp;новое, пробиотическая очистка вызывает вопросы. Мы&nbsp;постарались ответить на&nbsp;основные, охватив её&nbsp;особенности.</p>
            </div>
        </div>

    </div>
</section>
    
    <section class="blog-list-3">
    
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <h1 class="">Что&nbsp;такое пробиотики</h1>
                        <p class="lead">Пробиотики – это&nbsp;безопасные и&nbsp;полезные микроорганизмы, способные оказывать положительное влияние на&nbsp;здоровье человека, животного или&nbsp;растения.
                        </p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <section class="blog-list-3">
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Что&nbsp;такое пробиотические очистители</h1>
                        <p class="lead">
                            Это&nbsp;чистящие и&nbsp;моющие средства нового поколения, совмещающие два&nbsp;действия одновременно: поверхностную и&nbsp;микробиологическую очистку. Данный класс очистителей содержит в&nbsp;своем составе споры пробиотических бактерий, которые&nbsp;обеспечивают пробиотический эффект очистки с&nbsp;пролонгированным действием.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
        
    </section>
    
    <section class="blog-list-3">
    
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Как&nbsp;работают пробиотические очистители</h1>
                        <p class="lead">
                            Как&nbsp;и&nbsp;традиционные, пробиотические очистители удаляют грязь и&nbsp;большую часть патогенных микроорганизмов при&nbsp;механическом воздействии, но&nbsp;с&nbsp;нанесением спор пробиотических культур на&nbsp;поверхность. Через&nbsp;некоторое время из&nbsp;спор появляются бактерии, обеспечивающие эффективную очистку на&nbsp;микробиологическом уровне, недоступном для&nbsp;традиционного подхода. В&nbsp;результате поверхность становится чистой, безопасной и&nbsp;защищенной от&nbsp;патогенов. Используемые в&nbsp;составах культуры пробиотических бактерий эффективно разрушают биоплёнки и&nbsp;нейтрализуют очаги неприятного запаха.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <section class="blog-list-3">
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Является&nbsp;ли пробиотический очиститель дезинфектантом</h1>
                        <p class="lead">Нет, пробиотические очистители не&nbsp;оказывают прямого биоцидного действия на&nbsp;бактерии. Как&nbsp;следствие не&nbsp;способствуют их&nbsp;видоизменению и&nbsp;обретению резистентности.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
        
    </section>
    
    <section class="blog-list-3">
    
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Где можно применять очистители</h1>
                        <p class="lead">
                            Применение пробиотической очистки ограничено не&nbsp;местом, а&nbsp;создаваемыми условиями для&nbsp;жизни микроорганизмов. Как&nbsp;и&nbsp;любое живое существо, используемые нами&nbsp;бактерии не&nbsp;способны жить в&nbsp;агрессивной среде, при&nbsp;высоких температурах, отсутствии кислорода и&nbsp;влаги. Эффективность результата напрямую зависит от&nbsp;понимания задачи, соблюдения условий и&nbsp;свойств выбранного продукта.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <section class="blog-list-3">
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Возможно&nbsp;ли совмещение пробиотиков с&nbsp;дезинфектантами</h1>
                        <p class="lead">
                            Нет, используемые бактерии – это&nbsp;микроорганизмы, против которых нацелены дезинфектанты. Они&nbsp;не&nbsp;способны им&nbsp;противостоять и&nbsp;подвергаются уничтожению. Поочередное использование возможно, но&nbsp;в&nbsp;крайних и&nbsp;экстренных случаях, с&nbsp;четким соблюдением порядка действий и&nbsp;временного интервала. Использование пробиотических составов после дизинфиктантов обеспечивает стабилизацию и&nbsp;формирование безопасного микробного сообщества.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
        
    </section>
    
    <section class="blog-list-3">
    
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Безопасны&nbsp;ли пробиотические продукты</h1>
                        <p class="lead">Мы&nbsp;используем только безопасные и&nbsp;проверенные штаммы микроорганизмов, применяемые в&nbsp;производстве продуктов питания и&nbsp;медицине. Сами&nbsp;продукты содержат в&nbsp;своем составе «живые» компоненты, не&nbsp;способные выжить в&nbsp;агрессивной среде. Это&nbsp;и&nbsp;есть настоящее подтверждение биологической безопасности, как&nbsp;для&nbsp;человека, так&nbsp;и&nbsp;окружающей среды.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <section class="blog-list-3">
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Что&nbsp;произойдет при&nbsp;прекращении использования пробиотиков</h1>
                        <p class="lead">
                            Выращенное пробиотическими составами на&nbsp;поверхностях микробное сообщество продолжит существовать и&nbsp;приносить пользу, но&nbsp;постепенно активность начнет затухать из-за&nbsp;воздействия внешнего окружения, попадания загрязнений и&nbsp;новых обитателей. С&nbsp;целью поддержания безопасной микрофлоры необходимо периодическое пополнение «свежими» пробиотиками.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
        
    </section>
    
    <section class="blog-list-3">
    
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Насколько данные продукты экологичны</h1>
                        <p class="lead">
                            Мы&nbsp;не&nbsp;используем компоненты, разрушающие природу, и&nbsp;работаем над&nbsp;созданием исключительно безопасных решений. Применяя микроорганизмы, являющиеся «чистящими» компонентами, мы&nbsp;получили возможность уменьшения требований к&nbsp;моющей составляющей, основанной и&nbsp;без&nbsp;того на&nbsp;самом лучшем сырье.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <section class="blog-list-3">
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Каковы последствия передозировки</h1>
                        <p class="lead">Отсутствие в&nbsp;составах растворителей гарантирует безопасность очистки поверхности даже при&nbsp;использовании в&nbsp;концентрированном состоянии. Превышение концентрации рабочей жидкости приведет к&nbsp;увеличению присутствия пробиотических бактерий на&nbsp;поверхности. Единственным результатом этого будет более выраженный пробиотический эффект и&nbsp;более длительное действие.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
        
    </section>
    
    <section class="blog-list-3">
    
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">В&nbsp;чём&nbsp;преимущество пробиотической очистки</h1>
                        <p class="lead">
                            Мы&nbsp;не&nbsp;знаем ни&nbsp;одного другого решения, способного создать здоровую атмосферу и&nbsp;эффективно решать вопросы, вызванные резистентными бактериями.
                        </p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <section class="blog-list-3">
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Что&nbsp;такое резинстентность микроорганизмов</h1>
                        <p class="lead">
                            Это&nbsp;приобретаемая способность микроорганизмов к&nbsp;устойчивости и&nbsp;невосприимчивости к&nbsp;воздействию внешних факторов. Примером могут служить антибиотики, которые перестают повторно оказывать воздействие на&nbsp;организмы, пережившие их&nbsp;атаку.&nbsp;</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
        
    </section>
    
    <section class="blog-list-3">
    
        <div class="blog-snippet-3">
            <div class="container">
                <div class="row">
                    <div class="col-pl-v-10 col-pl-v-offset-1 col-md-offset-3 col-sm-8 col-sm-offset-2 col-md-6">
                        <h1 class="">Кому необходимо это&nbsp;решение</h1>
                        <p class="lead">
                            Всем, каждой семье, животному и&nbsp;растению. Нахождение большей часть времени в&nbsp;замкнутом пространстве&nbsp;подвергает организм внешнему&nbsp;влиянию. Обеспечив здоровое окружение мы&nbsp;воздействуем на&nbsp;собственное самочувствие и&nbsp;формируем комфортные условия обитания.</p>
                        <br>
                        
                    </div>
                </div>
            </div>  
        </div>
        
        
        
    </section>
</div>

{{> footer}}                
{{> scripts}}                    