    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    {{> menu-top isBlackText=true}}
    <div class="main-container" data-region="content">
        <section class="blog-masonry bg-muted">
            
            <div class="container container-menu">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="blog-filters blog-filters-menu">
                                <li data-filter="*" class="active">Все</li>
                            {{#each menu}}
                                <li data-filter=".{{id}}">{{name}}</li>
                            {{/each}}                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container sub-menu-container sub-menu-container-empty invisible">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="blog-filters">
                                <li data-filter="*" class="active">Все</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            {{#each useCasesMenu}}
                <div class="container sub-menu-container sub-menu-container-{{id}} hidden">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <ul class="blog-filters">
                                <li data-filter=".{{id}}" class="active">Все</li>
                                {{#each this.sub}}
                                    <li data-filter=".{{id}}">{{name}}</li>
                                {{/each}}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-masonry-container">
                            {{#each useCases}}

                                {{#if _idYoutube}}
                                    {{> use-case-item-youtube this}}
                                {{else}}
                                    {{> use-case-item-default this}}
                                {{/if}}
                                
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-xs-12 hidden">
                        <div class="blog-sidebar">
                            <div class="sidebar-widget">
                                <h5>Продукты</h5>
                                <ul>
                                    <li><a href="#">Уход за телом<br><i class="icon arrow_right icon-lightbulb icon-large"></i></a></li>
                                    <li><a href="#">Косметика<br></a></li>
                                    <li><a href="#">Дом и сад<br></a></li>
                                    <li><a href="#">Домашние животные<br></a></li>
                                    <li><a href="#">Отраслевые решения<br></a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget">
                                <h5>Решения</h5>
                                <ul>
                                    <li><a href="#">BFC<br></a></li>
                                    <li><a href="#">TUUM<br></a></li>
                                    <li><a href="#">????<br></a></li>
                                    <li><a href="#">Technic<br></a></li>
                                    <li><a href="#">Pets<br></a></li>
                                    <li><a href="#">Villadge<i class="icon arrow_right"></i></a></li>
                                    <li><a href="#">ACSG<br></a></li>
                                    <li><a href="#">PrimeBrush<br></a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget">
                                <h5>Направления</h5>
                                <ul class="tags">
                                    <li><a href="#">Тело</a></li>
                                    <li><a href="#">Животные<br></a></li>
                                    <li><a href="#">Белье</a></li>
                                    <li><a href="#">Текстиль</a></li>
                                    <li><a href="#">Камень<br></a></li>
                                    <li><a href="#">Дерево</a></li>
                                    <li><a href="#">Стекло</a></li>
                                    <li><a href="#">Кафель</a></li>
                                    <li><a href="#">Автомобиль<br></a></li>
                                    <li><a href="#">Хозяйство<br></a></li>
                                    <li><a href="#">Бассейн<br></a></li>
                                    <li><a href="#">Посуда<br></a></li>
                                    <li><a href="#">Питание<br></a></li>
                                    <li><a href="#">Вода<br></a></li>
                                    <li><a href="#">Почва<br></a></li>
                                    <li><a href="#">Промышленность<br></a></li>
                                    <li><a href="#">Здания<br></a></li>
                                    <li><a href="#">Техника<br></a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget">
                                <h5>Instagram</h5>
                                <div class="instafeed" data-user-name="born_to_be_tasty">
                                    <ul></ul>
                                </div>
                            </div>
                            <div class="sidebar-widget">
                                <div id="tweets" data-widget-id="492085717044981760">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{> footer}}
    {{> scripts}}
