    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    {{> menu-top isBlackText=true}}
    <div class="main-container">
        {{{useCase.code}}}
    </div>
    {{> footer}}
    {{> scripts}}




                