body {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#bfc-main-header {
    font-size: 55px;
    line-height: 70px
}

#bfc-main-subheader {
    font-size: 24px
}

@media (max-width: 1100px) {
    #bfc-main-iphone {
        visibility: hidden;
        display: none
    }
}

#bfc .test {
    color: red
}

.lead-2 {
    font-size: 18px !important
}

.overlay-bar-black-text .menu li a {
    color: black
}

.overlay-bar-black-text .menu li a:hover {
    color: black
}

.overlay-bar-black-text .social-icons li a {
    color: black
}

.overlay-bar-black-text .social-icons li a:hover {
    color: black
}

.bg-med {
    background-color: #00ACBA
}

footer {
    padding: 0;
    > .tbl {
        height: 140px;
    }
    .tbl {
        padding: 0;
        display: table;
        width: 100%;
        > .cell {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            position: relative;
            .copyright {
                opacity: 0.42;
                font-size: 11px;
                color: #ffffff;
                letter-spacing: 0;
                position: absolute;
                left: 40px;
                bottom: 10px;
            }
            > .tbl {
                padding: 0 40px;
                > span {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0;
                    text-align: center;
                    > span {
                        padding: 0 5%;
                    }
                }
            }
            span > a,
            .mail > a,
            span.dropdown {
                opacity: 0.65;
                font-size: 14px;
                color: #ffffff;
                letter-spacing: 0;
                cursor: pointer;
                font-weight: 400;
            }
            span > a:hover {
                opacity: 1;
            }
            span.dropdown {
                opacity: 1;
                text-align: left;
                img {
                    margin-right: 5px;
                }
                .dropdown-menu {
                    margin-bottom: -45px;
                }
            }
            span > i {
                padding-right: 5px;
                vertical-align: middle;
                font-size: 16px;
            }

            &.tel {
                span > a {
                    opacity: 1;
                }
                border-left: 1px solid rgba(212, 212, 212, 0.18);
            }
            &.contact-action {
                div.mail > i {
                    padding-right: 5px;
                    vertical-align: initial;
                    font-size: 16px;
                }
                a {
                    opacity: 1;
                    > span > i {
                        padding-left: 5px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .contact-action {
        background: #202227
    }
}

footer.bg-med .contact-action {
    background-color: #00838e
}

.bg-acsg {
    background-color: #136480;
}

.bg-horeca {
    background-color: #655347;
    margin-top: -2px;
}

footer.bg-acsg .contact-action {
    background: #06222c;
}

.bfc-0-padding-bottom {
    padding-bottom: 0px
}

.page-header .bfc-image-container-wise-man {
    height: 510px
}

div.background-image-holder.main-legs {
    background-position: 90% 66% !important
}

body .clients-2 img {
    opacity: 1;
    max-height: 44px;
}

div.bp-0 {
    background-position-x: 0 !important;
}

div.bfc_005 {
    background-position: 50% 70% !important
}

div.main-bfc_006 {
    background-position: 70% 50% !important
}

div.bp-100 {
    background-position: 100% 0 !important;
}

div.bp-y-100 {
    background-position-y: 100% !important;
}

div.bp-y-0 {
    background-position-y: 0 !important;
}

@media (min-width: 1200px) {
    .page-header .bfc-image-container-wise-man {
        top: -120px;
        right: -75px
    }
}

@media (max-width: 1200px) {
    .bfc-lead-near-doctor {
        color: #3A3A3A
    }

    .med div.health-man {
        right: -171px;
    }
}

.bfc-health-bannel-link:hover {
    color: #428bca;
    text-decoration: underline
}

.top-bar .logo.logo-square {
    max-height: 44px;
    position: relative;
}

.open-nav.top-bar .logo.logo-square {
    bottom: 16px;
}

.nav-container .top-bar {
    .social-icons {
        margin-top: -2px;
    }
    .social-icons li a {
        font-size: 19px;
        .fa-vk {
            margin-top: -1px;
        }
    }
}

.logo.logo-wide {
    max-width: 140px;
    bottom: 12px;
    margin-bottom: -6px
}

.logo.logo-square {
    max-width: 100px;
    max-height: 44px;
    bottom: 16px;
    margin-bottom: 10px
}

.nav-sticky .logo-wide {
    bottom: 12px !important
}

.nav-sticky .logo-square {
    bottom: 16px !important
}

.hero-slider .slides li h1 {
    font-size: 58px;
    line-height: 62px
}

.double-bounce1, .double-bounce2 {
    background-color: #424651
}

.bg-primary {
    background-color: #424651 !important
}

.col-xs-offset-right-12 {
    margin-right: 100%;
}

.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-right-9 {
    margin-right: 75%;
}

.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-right-6 {
    margin-right: 50%;
}

.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-right-3 {
    margin-right: 25%;
}

.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}

.col-xs-offset-right-0 {
    margin-right: 0;
}

/*-------- custom css property----*/
.inline-image-right.pb-0 {
    padding-bottom: 0;
}

div.pt-0 {
    padding-top: 0;
}

.body-care section:first-child {
    padding-top: 127px !important;
    background: url('../img/care_1.jpg');
    background-size: cover;
    padding-bottom: 150px;
    background-position: 0;
}

.body-care section:nth-child(2) h1 {
    padding-top: 57px;
}

.body-care section .background-image-holder {
    background-clip: content-box !important;
}

.body-care section:nth-child(4) .background-image-holder {
    height: 84%;
    background-position: 0 0 !important;
}

.loader {
    display: none !important;
}

.body-care section:nth-child(4) .align-vertical.content.clearfix h1 {
    padding-top: 74px;
    margin-bottom: 14px;
}

.body-care section:nth-child(4) {
    padding-bottom: 36px;
}

.body-care section:nth-child(5) {
    padding-top: 80px;
}

.body-care section:nth-child(5) h1 {
    padding-top: 47px;
    margin-bottom: 18px;
}

.body-care section:nth-child(5) .align-vertical.content.clearfix {
    margin-bottom: 18px;
}

.body-care section:nth-child(5) .container {
    padding-bottom: 88px;
}

.body-care .zhivaya {
    padding: 30px 0;
}

.body-care section:nth-child(8) .content.clearfix {
    padding-top: 165px !important;
    padding-bottom: 100px;
}

.body-care section:nth-child(8) .background-image-holder {
    background-position: 0 50% !important;
}

.project-directions .image-holder:hover .background-image {
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
}

.project-directions .image-holder.active:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

section.background-white {
    background: white;
}

section.bg-gray {
    background: #f4f4f4;
}

div.bp-0 {
    background-position: 0 0 !important;
}

div.bp-100 {
    background-position: 100% 50% !important;
}

.pt-30 {
    padding-top: 30px;
}

section.padding-vertical-15p {
    padding: 15% 0;
}

section.padding-vertical-5p {
    padding: 5% 0;
}

.innovation {

    .wrapper {
        position: relative;
    }
    a.btn-white {
        color: #88C6FF;
    }
}

.resume-header ul.social-icons li {
    padding-top: 20px;
    margin-right: 22px;
}

.social ul.social-icons {
    margin-bottom: 0;
}

.resume-header ul.social-icons li:last-child {
    margin-right: 0;
}

.social-icon {
    height: 42px;
    width: 70px;
    background-image: url("../img/social_icons.png");
    background-size: cover;
    display: block;
}

.social-icon.youtube {
    background-position: 70px 0;
}

.social-icon.instagram {
    background-position: 164px 0;
}

.social-icon.facebook {
    background-position: 255px 0;
}

.social-icon.vk {
    background-position: 0 0;
}

.social-icon:hover {
    opacity: .7;
    transition: all .25s;
}

.main-container.gpd .image-container.pull-left .background-image-holder {
    background-position: 98% 0% !important;
}

.main-container.gpd .image-container.pull-right .background-image-holder {
    background-position: 0% 50% !important;
}

.main-container.gpd section:nth-child(2) .image-container.pull-left .background-image-holder {
    top: initial;
    bottom: 0;
    height: 90%;
}

.gpd a.btn {
    background: url('../img/forward.png') 98% 60% no-repeat;
}

.production-distribution .truck .content {
    padding-top: 160px;
    padding-bottom: 160px;
}

.overlay-bar.overlay-bar-black-text .menu .has-dropdown:after {
    color: black;
}

div.bp-0 {
    background-position: 0 0 !important;
}

div.bp-100 {
    background-position: 99% center !important;
}

.arrow-down {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: 3%;
    width: 100%;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@-ms-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -ms-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@media screen and (min-width: 1900px) {
    .col-xl-3 {
        width: 25%;
    }

    .med .effective-solution {
        padding: 120px 0;
    }
}

@media (min-width: 1200px) {
    .main-container.gpd .text-banner.first-child .container {
        width: 1205px;
    }
}

@media screen and (min-width: 1900px) {
    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }
}

.overlay-bar.overlay-bar-black-text .menu .has-dropdown:after {
    color: black;
}

.cleaning-components {
    .toxic {
        padding: 40px 0;
    }
    .btn {
        margin: 40px 0;
    }
    .new {
        padding: 100px 0;
    }
}

.cleaning-components .problem-solving-img {
    margin-left: -15px;
    margin-right: -15px;
}

.cleaning-components .problem-solving-img img {
    max-width: inherit;
    height: 280px;
}

.problem-solving {
    .cleaning-components.first-child .container {
        padding: 94px 0 146px;
    }
    .recommendation {
        .row:first-child {
            padding-bottom: 40px;
        }
    }
}

.ico-sila:before {
    display: block;
    height: 58px;
    width: 70px;
    content: '';
    background: url('/img/ico-sila.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-temper:before {
    display: block;
    height: 58px;
    width: 70px;
    content: '';
    background: url('/img/ico-temper.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-vremya:before {
    display: block;
    height: 53px;
    width: 70px;
    content: '';
    background: url('/img/ico-vremya.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-zagryazn:before {
    display: block;
    height: 66px;
    width: 70px;
    content: '';
    background: url('/img/ico-zagryazn.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-bezopasnost:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-bezopasnost.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-germetichnost:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-germetichnost.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-jyvye:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-jyvye.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-prigotovlenie:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-prigotovlenie.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-usloviya:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-usloviya.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.ico-zvetoust:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-zvetoust.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px;
}

.cl-b {
    clear: both;
}

.problem-solving .choice img {
    max-height: 100%;
}

.problem-solving .restrictions .col-sm-6.clearfix {
    height: 230px;
}

.page-header.no-overlay:before {
    display: none;
}

.home-cleaning .side-image {
    padding-top: 80px;
    padding-bottom: 80px;
}

.home-cleaning .cleaning-univers {
    background-position: 30% 50% !important;
}

a.btn {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: auto !important;
    text-transform: none;
    padding: 0 20px 0 0;
    border: 0;
    min-width: 0;
    color: #467ed7;
    background: url('../img/forward.png') 95% 60% no-repeat;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
}

a.btn.forward-blue {
    background: url('../img/forward-blue.png') 95% 100% no-repeat;
    background-size: 8px;
}

a.btn:hover {
    color: #467ed7;
    background: url('../img/forward.png') 100% 60% no-repeat;
}

a.btn.forward-blue:hover {
    background: url('../img/forward-blue.png') 100% 100% no-repeat;
    background-size: 8px;
}

a.btn-white {
    color: #fff;
}

a.btn + a.btn {
    margin-left: 20px;
}

.expand {
    display: none;
}

/* IPAD horizontal */
@media (min-width: 1000px) and (max-width: 1040px) {
    body .col-pl-h-offset-0 {
        margin-left: 0
    }

    body .col-pl-h-offset-1 {
        margin-left: 8.333333333333332%;
    }

    body .col-pl-h-1 {
        width: 8.333333333333332%;
    }

    body .col-pl-h-2 {
        width: 16.666666666666664%;
    }

    body .col-pl-h-3 {
        width: 25%;
    }

    body .col-pl-h-4 {
        width: 33.33333333333333%;
    }

    body .col-pl-h-5 {
        width: 41.66666666666667%;
    }

    body .col-pl-h-6 {
        width: 50%;
    }

    body .col-pl-h-7 {
        width: 58.333333333333336%;
    }

    body .col-pl-h-8 {
        width: 66.66666666666666%;
    }

    body .col-pl-h-9 {
        width: 75%;
    }

    body .col-pl-h-10 {
        width: 83.33333333333334%;
    }

    body .col-pl-h-11 {
        width: 91.66666666666666%;
    }

    body .col-pl-h-12 {
        width: 100%;
    }

    body .col-pl-h-bp-0 {
        background-position: 0 0 !important;
    }

    body .col-pl-h-bp-100 {
        background-position: 100% 0 !important;
    }

    .directions .page-header .background-image-holder {
        background-position: 67% 50% !important;
    }

    .home-cleaning .cleaning-uhod {
        width: 56%;
    }

    .pro-active .chistye div.background-image-holder {
        background-position: 85% center !important;
    }

    .pro-active .personalnaya div.background-image-holder {
        background-position: 85% center !important;
    }
}

/* IPAD vertical*/
@media (min-width: 768px) and (max-width: 1000px) {

    body .col-pl-v-offset-0 {
        margin-left: 0;
    }

    body .col-pl-v-offset-1 {
        margin-left: 8.333333333333332%;
    }

    body .col-pl-v-5 {
        width: 41.66666666666667%;
    }

    body .col-pl-v-6 {
        width: 50%;
    }

    body .col-pl-v-7 {
        width: 58.33333333%;
    }

    body .col-pl-v-8 {
        width: 66.66666667%;
    }

    body .col-pl-v-9 {
        width: 75%;
    }

    body .col-pl-v-10 {
        width: 83.33333333333334%;
    }

    body .col-pl-v-12 {
        width: 100%;
    }

    body .col-pl-v-bp-0 {
        background-position: 0 0 !important;
    }

    body .col-pl-v-bp-50 {
        background-position: 50% 0 !important;
    }

    body .col-pl-v-bp-100 {
        background-position: 100% 0 !important;
    }

    body .pl-v-text-center {
        text-align: center;
    }

    body .pl-v-visible {
        display: inherit !important;
    }

    .directions .page-header .background-image-holder {
        height: 100%;
        top: 0;
    }

    .home-cleaning .cleaning-top .background-image-holder {
        background-size: 215% !important;
        background-position: 37% 50% !important;
    }

    .air-clean .clean-novye .background-image-holder {
        background-position: 70% 50% !important;
    }

    .farm .product-right .product-image {
        right: -210px;
    }

    .farm .fish.product-right {
        height: auto;
    }

    .farm .fish .container.align-vertical {
        padding-top: 80px !important;
        padding-bottom: 410px;
    }

    .bacterias .grass {
        position: absolute;
        right: -20%;
        bottom: 0;
    }

    .pro-active .chistye div.background-image-holder {
        background-position: 45% center !important;
    }

    .pro-active .personalnaya div.background-image-holder {
        background-position: 75% center !important;
    }

}

.home-cleaning .pad-middle,
.pad-middle {
    padding: 120px 0;
}

.pad-small {
    padding: 80px 0;
}

.pad-xsmall {
    padding: 40px 0;
}

.no-margin-top {
    margin-top: 0px !important;
}

.air-clean .ubivaya {
    background: #f9f9f9;
    .simple {
        padding-top: 4vw;
    }
    .wide {
        padding-top: 4vw;
    }
}

.air-clean .prostoe {
    height: 98vw;
}

.air-clean .prostoe .container {
    padding-top: 5vw;
}

.gpd .knowledge .background-image-holder {
    background-position-y: 11% !important;
}

.safety {
    h1 {
        color: #0980ff;
        &.red {
            color: rgba(204, 0, 0, 0.84);
            &:before {
                content: "\2013";
                padding-right: 5px;
            }
        }
    }
}

/*.air-clean .space,
.animal-care .pet,
.med .atmosphere,
.cleaning .product,
.body-care section:first-child,
.professional section:first-child,
.duo section:first-child {
    min-height: 100vh;
}
*/
.animal-care {
    .pet .container {
        padding-top: 80px;
    }
}

.farm {
    header.pig {
        padding: 84px 0;
    }
}

.cleaning .product {
    padding: 25vh 0 25vh;
}

.body-care section:first-child .container {
    padding-top: 80px;
}

.med .atmosphere .container {
    padding-top: 60px;
}

.med .health-man {
    bottom: 0;
    position: absolute;
    right: 0;
}

.med .Dr-Willy {
    overflow: visible;
    padding: 0;
    .image-container {
        width: 100%;
        .background-image-holder {
            opacity: 1;
        }
    }
}

.med .wood-divider {
    position: relative;
    padding: 30px 0 40px;
}

.med .effective-solution {
    padding: 40px 0;
}

.air-clean .air-quality,
.air-clean .clean-goals {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    display: table;
}

.air-clean .air-quality .row,
.air-clean .clean-goals .row {
    display: table-row;
}

.air-clean .side-image.text-heavy .air-quality p.lead,
.air-clean .side-image.text-heavy .clean-goals p.lead {
    margin: 0;
}

.professional section:first-child .container .row {
    padding-bottom: 10vh;
}

div.horeca header.title:before {
    display: none;
}

div.horeca div.feature i,
div.professional div.feature i {
    border: 0;
    background-size: contain !important;
}

div.horeca div.feature i {
    width: 100px;
    height: 100px;
}

div.horeca div.chistoe .background-image-holder {
    background-position: 20% 50% !important;
}

.horeca .feature i.spray,
.professional .feature i.spray {
    background: url('../img/professional-icon-1.png') center no-repeat;
}

.horeca .feature i.valet,
.professional .feature i.valet {
    background: url('../img/professional-icon-2.png') center no-repeat;
}

.horeca .feature i.heart,
.professional .feature i.heart {
    background: url('../img/professional-icon-3.png') center no-repeat;
}

.horeca .feature i.leaf,
.professional .feature i.leaf {
    background: url('../img/professional-icon-4.png') center no-repeat;
}

.professional .feature span {
    margin-top: 30px;
}

.professional .noviy .background-image-holder {
    background-position: 73% 50% !important;
}

.index .duplicatable-content,
.body-care .duplicatable-content {
    padding: 45px 0 20px;
}

.index .facilities {
    background: rgba(239, 231, 220, 0.1);
}

.index .possibilities {
    padding: 120px 0;
}

.pro-active .stat {
    background-color: #eb5f00;
}

.pro-active .stat h3 {
    font-size: 25px;
}

.acsg {
    .kan {
        background: #8AB2CB;
        padding: 80px 0 0;
        table {
            width: 100%;
            tr {
                td {
                    vertical-align: bottom;
                }
                td:first-child,
                td:last-child {
                    padding: 15px;
                    width: 25%;
                }
            }
        }
    }
    .client-row img {
        opacity: 1;
        max-height: 70px;
        max-width: 170px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 370px) {
    body .index {
        .possibilities {
            p.lead {
                font-size: 13px;
            }
        }
        .ecological {
            h1 {
                font-size: 21px;
            }
        }
    }

}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    body section, body header {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .top-bar .logo.logo-square {
        bottom: 7px;
    }

    .xs-background-white {
        background: white !important;
    }

    h1 {
        font-size: 26px;
    }

    body .no-pad-left {
        padding-left: 0;
    }

    body p.lead {
        font-size: 13px;
        line-height: 18px;
    }

    a.btn {
        font-size: 14px;
    }

    .xs-menu-margin {
        margin-top: 80px;
    }

    .xs-no-padding-bottom {
        padding-bottom: 0 !important;
    }

    .xs-no-margin-bottom {
        margin-bottom: 0 !important;
    }

    .footer-container footer {
        .tbl > .cell {
            width: 50%;
            > .tbl,
            .contact-action {
                padding: 0 20px;
            }
            a {
                opacity: 1;
            }
        }
        .icon_phone {
            font-size: 20px;
            padding: 3px 0 3px;
        }
        i.icon.arrow_right {
            display: none;
        }

        .contact-action i.icon_mail {
            margin-right: 0;
            margin-bottom: 6px;
            display: block;
        }
        &.bg-horeca {
            background-color: #424651;
        }
    }

    .xs-expandable {
        display: none;
    }

    .expand {
        display: block;
    }

    .expand:before {
        font-family: ElegantIcons;
        content: '3';
        font-size: 30px;
        vertical-align: bottom;
        padding-right: 5px;
    }

    .nav-container {
        nav.top-bar.overlay-bar.overlay-bar-black-text {
            background: #ffffff;
        }
        .menu li a,
        .subnav,
        nav.top-bar {
            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
        }
        .mobile-toggle {
            top: 21px;
        }
        nav.open-nav {
            .container {
                margin-bottom: 76px;
                background: #f4f4f4;
            }
            .nav-menu {
                padding-top: 30px;
                a {
                    font-size: 14px;
                    font-weight: 300;
                }
                > div:first-child {
                    position: absolute;
                    bottom: -10px;
                }
                ul.menu {
                    padding-left: 17px;
                    li {
                        margin-bottom: 32px;
                    }
                    li.has-dropdown {
                        > a:first-child {
                            display: none;
                        }
                        ul.subnav {
                            padding: 0;
                            margin: 0;
                            display: block;
                            li {
                                margin-bottom: 14px;
                            }
                        }
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            .mobile-toggle {
                top: auto;
                bottom: 16px;
                .icon_menu:before {
                    content: "M";
                    font-size: 50px;
                }
            }
        }
    }

    body .clients-2 img {
        max-width: 100%;
    }

    .no-bg-mobile {
        display: none;
    }

    .no-pad-bottom-mobile {
        padding-bottom: 0 !important;
    }

    .no-mar-bottom-mobile {
        margin-bottom: 0 !important;
    }

    .social-icon {
        height: 30px;
        width: 45px;
    }

    .social-icon.youtube {
        background-position: 45px 0;
    }

    .social-icon.instagram {
        background-position: 117px 0;
    }

    .social-icon.facebook {
        background-position: 181px 0;
    }

    .social-icon.vk {
        background-position: 0 0;
    }

    .cleaning-components .primary-features.duplicatable-content .feature {
        padding: 0;
    }

    h1.text-gray.space-bottom-medium {
        font-size: 24px;
        line-height: 32px;
    }

    header.resume-header {
        padding: 70px 0px 300px;
    }

    header.resume-header div.bfc_006-mob {
        background-position: 67% 50% !important;
    }

    body .xs-text-center,
    div.xs-text-center {
        text-align: center;
    }

    body .xs-text-left,
    div.xs-text-left {
        text-align: left;
    }

    section div.background-image-holder.main-legs {
        background-position: 87% 0 !important;
        background-size: 276% !important;
    }

    .farm .pig .background-image-holder {
        background-position: 0% 50% !important;
    }

    .xs-opacity-04 {
        opacity: .4;
    }

    .home-cleaning .side-image {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .index {
        header {
            /*margin-top: 79px;*/
        }
        .legs {
            h1 {
                margin-bottom: 22px;
            }
            padding: 320px 0 22px 0;
        }
        .effektivnaya {
            h1 {
                font-size: 25px;
                margin-bottom: 22px;
            }
            padding: 200px 0 22px;
        }
        .possibilities {
            h1 {
                margin-bottom: 22px;
            }
            a.btn {
                margin-top: 0;
            }
            background-color: #fafafa;
            padding: 0;
        }
        .ecological {
            padding: 40px 0;
            .ico {
                padding-bottom: 30px;
            }
            h1 {
                font-size: 25px;
                margin-bottom: 0;
            }
            hr {
                width: 43px;
                height: 0;
                border: 2px solid #44c639;
            }
            em {
                width: 10px;
                height: 10px;
                background-color: #44c639;
                border-radius: 50%;
                display: inline-block !important;
                margin: 20px 0;
            }
        }
        header.page-header {
            padding: 50px 0 300px;
            h1 {
                margin-bottom: 0 !important;
            }
            span {
                font-weight: 500;
                font-size: 11px;
                margin-bottom: 10px;
            }
            .background-image-holder {
                height: 100%;
                top: 0;
            }
        }
    }

    .about {
        h1 {
            font-size: 27px;
            padding: 0 20px;
        }
        section,
        section.text-image-bottom.first-child {
            background-color: white !important;
        }
        .instafeed {
            margin-top: 30px;
        }
        .contact-thirds {
            padding-top: 0;
            padding-bottom: 10px;
            h1,
            .col-sm-4 {
                margin-bottom: 40px;
            }
            hr {
                margin-top: 40px;
                margin-bottom: 40px;
                border-top: 1px solid #c9c9c9;
            }
        }
    }

    .bg-about {
        .contact-action {
            display: none;
        }
        .container {
            width: 100% !important;
            .col-sm-12 {
                > span.text-white:first-child {
                    display: block !important;
                }
                > .tel {
                    display: none;
                }
            }
        }
    }

    .about section.first-child .container .row:nth-child(2) .col-xs-12:nth-child(2):before {
        content: '.';
        font-size: 65px;
        padding-bottom: 37px;
        clear: both;
        display: block;
        color: #333;
    }

    .about .instafeed ul li {
        width: 50%;
    }

    .about .clients-2 {
        display: none;
    }

    .about .contact-thirds .text-center {
        text-align: center;
    }

    .about a.phone {
        display: inline-block;
        border: 4px solid #d4d4d4;
        border-radius: 100px;
        padding: 10px 20px 10px 40px;
        background: url('../img/phone-ico.png') 20px center no-repeat;
        background-size: 12%;
        width: 80%;
    }

    .about a.phone.second {
        margin-top: 20px;
    }

    .about .address {
        display: block;
        padding-top: 20px;
    }

    .about .address:before {
        content: '';
        height: 38px;
        background: url('../img/map-ico.png') center center no-repeat;
        display: block;
        background-size: 8%;
        margin-bottom: 14px;
    }

    .about input[type='submit'] {
        background-color: #333;
        color: white;
        width: 80%;
        max-width: 80%;
    }

    .horeca {

        header.title {
            height: 500px;
        }

        a.btn + a.btn {
            margin-left: 0;
            margin-top: 45px;
        }
        .chistoe.side-image {
            color: white;
            padding-top: 470px;
            padding-bottom: 0;
            h1 {
                color: white;
            }
            .content {
                padding-bottom: 55px;
                a.btn {
                    margin: 0;
                }
            }
        }
        .food.side-image.text-heavy {
            padding-top: 360px;
            padding-bottom: 20px;
            h1 {
                font-size: 23px;
            }
        }

        .hero-slider {
            padding-top: 80px;
            .slides li {
                height: 310px;
                padding: 0 15px;
                color: #333;
                transition: none !important;
            }
            .slides li.overlay:before {
                background-color: white;
            }
            ol.flex-control-nav li a {
                width: 12px;
                height: 12px;
                border: 1px solid #979797;
                cursor: pointer;
            }
            .flex-direction-nav a.flex-prev {
                left: 0px;
                top: 40%;
            }
            .flex-direction-nav a.flex-prev:before {
                content: '4';
            }
            .flex-direction-nav a.flex-next {
                top: 40%;
                right: 0px;
            }
            .flex-direction-nav a.flex-next:before {
                content: '5';
            }
            .flex-direction-nav a:before {
                color: #bcbcbc;
            }
            ol.flex-control-nav li a.flex-active {
                background-color: #333;
                border: 1px solid #333;
            }
            ul.flex-direction-nav {
                display: block !important;
            }
        }

        .atmosphere {
            padding-top: 0;
            padding-bottom: 46px;
            .container {
                padding-top: 40px !important;
                h1 {
                    margin-bottom: 32px;
                }
                a.btn {
                    margin-top: 10px;
                }
            }
        }

    }

    .innovation {
        h1 {
            font-size: 19px;
            margin-bottom: 20px;
        }
        p.lead {
            font-size: 13px;
        }
        header {
            h1 {
                font-size: 22px;
            }
            .background-image-holder {
                height: 100%;
                top: 0;
            }
        }

        section.side-image,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 30px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .no-align-mobile {
                margin-top: 0;
            }
        }

        section.side-image.text-heavy h1 {
            margin-bottom: 20px;
        }

        section.inline-image-right.accuracy {
            padding-bottom: 260px;
            padding-top: 40px;
        }
        section.inline-image-right.hygiene .content {
            padding-bottom: 26px;
        }
    }

    .body-care {
        h1 {
            font-size: 22px;
            margin-bottom: 20px;
        }
        p.lead {
            font-size: 13px;
        }
        h6 {
            font-size: 15px;
        }
        section:first-child {
            margin-top: 79px;
            padding-top: 40px !important;
            padding-bottom: 190px;
            .container {
                padding-top: 0;
                padding-bottom: 80px;
            }
            h1 {
                font-size: 21px;
            }
        }
        section.side-image,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            &:nth-child(4) .align-vertical.content.clearfix h1,
            &:nth-child(5) .align-vertical.content.clearfix h1 {
                padding-top: 0;
                margin-bottom: 25px;
            }
            &:nth-child(5) .container {
                padding-bottom: 0;
            }
        }
        section.side-image.text-heavy.clearfix.properties {
            padding-top: 240px;
        }
        section.duplicatable-content {
            padding: 45px 0 0;
        }
        section.side-image.text-heavy h1 {
            margin-bottom: 20px;
        }
        section.side-image.zhivaya {
            padding: 160px 0 0 0;
        }
        section.side-image.regeneration {
            padding-bottom: 150px;
        }
        section.smells {
            padding-bottom: 150px;
            &:nth-child(8) .content.clearfix {
                padding-top: 40px !important;
                padding-bottom: 40px;
                margin-top: 0;
            }
        }
        section.side-image.external {
            padding-bottom: 300px;
        }
    }

    body div.main-container.home-cleaning {
        h1 {
            font-size: 22px;
            margin-bottom: 20px;
        }
        section,
        section.side-image,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        .atmosphere {
            padding-top: 40px !important;
            padding-bottom: 240px;
            margin-top: 80px;
        }
        section.side-image.microbiolog {
            padding-bottom: 160px;
            padding-top: 16px;
        }
        section.side-image.univers {
            padding-bottom: 190px;
            padding-top: 16px;
        }
        section.gigiena {
            padding-top: 16px;
            background-color: white;
            .content {
                padding-bottom: 30px;
            }
        }
        section.side-image.zdoroviy {
            padding: 100px 0;
        }
        section.side-image.vannaya {
            background-color: #f4f4f4;
        }
        section.zelenoe {
            padding-top: 200px;
        }
        section.cleaning {
            padding: 30px 0 240px;
        }
        section.side-image.vodoem {
            padding: 110px 0 190px;
        }
    }

    .directions {
        header.page-header {
            padding: 250px 0 45px !important;
            margin-top: 79px;
            h1 {
                font-size: 28px;
                line-height: 32px;
                margin-bottom: 20px;
            }
            p.lead {
                font-size: 13px;
            }
            .background-image-holder {
                height: 100%;
                top: 0;
            }
        }
    }

    .animal-care {
        h1 {
            font-size: 22px;
            margin-bottom: 20px !important;
        }
        p.lead {
            font-size: 13px;
        }
        h6 {
            font-size: 15px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        section.side-image,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        section.pet {
            padding-top: 30px !important;
            padding-bottom: 350px;
            margin-top: 79px;
            .container {
                padding-top: 0;
            }
        }
        section.bezop {
            padding-bottom: 350px;
        }
        section.purity {
            padding-bottom: 350px;
        }
        section.zdorovye {
            padding-bottom: 200px;
        }
        section.myagkaya {
            padding-bottom: 200px;
        }
        section.prozrachnaya {
            .content {
                padding-bottom: 0;
                z-index: 2;
                + .visible-xs {
                    margin-top: -30px;
                }
            }

        }
    }

    .farm {
        h1 {
            font-size: 22px;
            margin-bottom: 20px !important;
        }
        p.lead {
            font-size: 13px;
        }
        h6 {
            font-size: 15px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        section.side-image,
        section.product-right,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        .product-right.first-child {
            height: 600px;
            padding-top: 110px !important;
        }
        section.pig {
            padding-bottom: 250px;
        }
        section.economical {
            background-color: #faf9f9;
        }
        section.tomato {
            background-color: white;
            .content {
                padding-top: 40px !important;
                padding-bottom: 0;
            }
            .col-xs-12.visible-xs {
                margin-bottom: -200px;
            }
        }
        section.fish {
            height: auto;
            padding-bottom: 100px;
        }
    }

    .gpd {
        h1 {
            font-size: 19px;
            margin-bottom: 20px !important;
        }
        p.lead {
            font-size: 13px;
        }
        h6 {
            font-size: 15px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 30px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
        section.top {
            background-color: white;
            padding-top: 80px !important;
            padding-bottom: 20px;
            h1, p.lead {
                text-align: left;
            }
        }
        section.cow {
            .container {
                clear: both;
            }
        }

        section.bacteria {
            background-color: #f4f4f4;
            .content {
                clear: both;
                padding-top: 30px !important;
            }
        }

        section.tomato {
            .content {
                clear: both;
            }
        }
        section.knowledge.side-image.text-heavy.clearfix {
            padding-top: 300px !important;
            padding-bottom: 40px !important;
        }
    }

    .acsg {
        h1 {
            font-size: 19px;
            margin-bottom: 20px !important;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 10px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        header.title {
            padding-top: 40px;
            margin-top: 79px;
        }
        section.boy {
            padding-top: 40px;
            padding-bottom: 300px;
        }
        section.acsg-sh {
            h1 {
                text-align: left;
            }
        }
        section.acsg-tx {
            padding: 120px 0 180px 0;
            p {
                color: white;
            }
            text-align: center;
        }
        section.kan {
            h1 {
                text-align: left;
            }
            h2 {
                font-size: 18px;
                font-weight: 400;
            }
            p.lead {
                color: white;
            }
            padding: 40px 0 200px;
            .visible-xs + .visible-xs {
                padding-top: 40px;
            }
        }
        section.clients {
            h2 {
                font-size: 19px;
                font-weight: 300;
            }
        }
    }

    .problem-solving {
        margin-top: 79px;
        h1 {
            font-size: 19px;
            margin-bottom: 20px !important;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        .cleaning-components.first-child {
            .container {
                padding: 200px 15px 0;
            }
        }
        .hero-slider {
            background-color: #424651;
            padding-top: 20px;
            padding-bottom: 40px;
            .slides li {
                height: 310px;
                padding: 0 15px;
                color: #333;
                transition: none !important;
                text-align: center;
                h6 {
                    font-size: 18px;
                    font-weight: 600;
                }
                p {
                    color: white;
                    font-size: 13px;
                    font-weight: 300;
                }
                .feature:before {
                    height: 70px;
                    margin: 40px auto;
                    background-position: center !important;
                }
            }
            .slides li.overlay:before {
                display: none;
            }
            ol.flex-control-nav li a {
                width: 12px;
                height: 12px;
                border: 1px solid #979797;
                cursor: pointer;
            }
            .flex-direction-nav a.flex-prev {
                left: 0px;
                top: 45%;
            }
            .flex-direction-nav a.flex-prev:before {
                content: '4';
            }
            .flex-direction-nav a.flex-next {
                top: 45%;
                right: 0px;
            }
            .flex-direction-nav a.flex-next:before {
                content: '5';
            }
            .flex-direction-nav a:before {
                color: #bcbcbc;
            }
            ol.flex-control-nav li a.flex-active {
                background-color: #333;
                border: 1px solid #333;
            }
            ul.flex-direction-nav {
                display: block !important;
                a {
                    border: 0;
                    visibility: hidden;
                    &:before {
                        visibility: visible;
                    }
                }
            }
        }
        .choice {
            padding: 40px 0 0;
            h1 {
                font-size: 24px;
                text-align: center;
            }
            .row + .side-image {
                padding-top: 40px;
            }
        }
        .recommendation {
            background-color: white;
            .ico {
                &:before {
                    margin-bottom: 20px;
                    display: inline-block;
                    width: 70px;
                    vertical-align: middle;
                }
                &.ico-germetichnost:before {
                    width: 80px;
                }
                &.ico-prigotovlenie:before {
                    width: 86px;
                }
                &.ico-usloviya:before {
                    width: 80px;
                }
                h6 {
                    padding-left: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 160px;
                }
            }
        }
    }

    .production-distribution {
        h1 {
            font-size: 19px;
            margin-bottom: 20px !important;
            line-height: 25px;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        .bacteria {
            margin-top: 79px;
            background-color: white;
            margin-bottom: 20px;
            h1,
            p.lead {
                text-align: left;
            }
        }
        .quality {
            padding: 0 0 40px 0;
            background-color: #f3f3f3;
            .container {
                overflow: hidden;
            }
            h1 {
                padding-top: 30px;
                color: #333;
            }
            p.lead {
                font-size: 13px;
                line-height: 18px;
            }
        }
        .technology {
            background-color: white;
            padding-bottom: 0;
            .hero-slider {
                background-color: white;
                padding-top: 20px;
                padding-bottom: 80px;
                .slides li {
                    height: 310px;
                    padding: 0 15px;
                    color: #333;
                    transition: none !important;
                    text-align: center;
                    h5 {
                        font-size: 15px;
                        font-weight: 600;
                        width: 70%;
                        margin: 0 auto;
                        padding-bottom: 20px;
                        line-height: 19px;
                    }
                    p {
                        font-size: 13px;
                        font-weight: 300;
                    }
                    .feature-icon-large i {
                        height: 90px;
                        width: 90px;
                        border: none;
                        padding-top: 20px;
                        margin: 0 auto;
                    }
                }
                .slides li.overlay:before {
                    display: none;
                }
                ol.flex-control-nav {
                    bottom: 20px;
                }
                ol.flex-control-nav li a {
                    width: 12px;
                    height: 12px;
                    border: 1px solid #979797;
                    cursor: pointer;
                }
                .flex-direction-nav a.flex-prev {
                    left: 0px;
                    top: 30%;
                }
                .flex-direction-nav a.flex-prev:before {
                    content: '4';
                }
                .flex-direction-nav a.flex-next {
                    top: 30%;
                    right: 0px;
                }
                .flex-direction-nav a.flex-next:before {
                    content: '5';
                }
                .flex-direction-nav a:before {
                    color: #bcbcbc;
                }
                ol.flex-control-nav li a.flex-active {
                    background-color: #333;
                    border: 1px solid #333;
                }
                ul.flex-direction-nav {
                    display: block !important;
                    a {
                        border: 0;
                        visibility: hidden;
                        &:before {
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .store {
            background-color: #f0f7ec;
            .content {
                clear: both;
                p.lead {
                    margin-bottom: 0;
                }
            }
        }
        .truck {
            background-color: white;
            .content {
                clear: both;
                p.lead {
                    margin-bottom: 0;
                }
            }
        }
        .beer {
            .content {
                clear: both;
            }
        }
    }

    .med {
        margin-top: 79px;
        h1 {
            font-size: 19px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        .pad-middle {
            padding: 40px 0;
        }
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px !important;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        .atmosphere {
            h1 {
                font-size: 20px;
            }
        }
        section.fight {
            h1,
            p {
                text-align: left;
            }
            padding: 40px 0 20px;
        }
        section.Dr-Willy {
            background-color: #3f5f7f;
            .wood-divider {
                position: relative;
                padding: 0 0 400px;
                h3 {
                    font-size: 19px;
                    line-height: 23px;
                    &.sign {
                        font-size: 14px;
                    }
                }
            }
        }
        section.test {
            h1,
            p {
                text-align: left;
            }
        }
        .inject {
            padding: 40px 0 0;
            img {
                margin-top: 50px;
            }
        }
        .pad-small {
            padding: 40px 0;
        }
        section.effective-solution {
            padding-top: 40px;
            background-color: #e7e7e7;
            p.lead {
                margin-bottom: 0 !important;
            }
        }
        section.duplicatable-content {
            background-color: white;
            padding-bottom: 0;
            padding-top: 0;
            .hero-slider {
                background-color: #f3f3f3;
                padding-top: 80px;
                padding-bottom: 40px;
                .slides li {
                    height: 310px;
                    padding: 0 15px;
                    color: #333;
                    transition: none !important;
                    text-align: center;
                    h5 {
                        font-size: 15px;
                        font-weight: 600;
                        width: 70%;
                        margin: 0 auto;
                        padding-bottom: 20px;
                        line-height: 19px;
                    }
                    p {
                        font-size: 13px;
                        font-weight: 300;
                    }
                    .feature-icon-large i {
                        height: 90px;
                        width: 90px;
                        border: none;
                        padding-top: 20px;
                        margin: 0 auto;
                    }
                }
                .slides li.overlay:before {
                    display: none;
                }
                ol.flex-control-nav {
                    bottom: 20px;
                }
                ol.flex-control-nav li a {
                    width: 12px;
                    height: 12px;
                    border: 1px solid #979797;
                    cursor: pointer;
                }
                .flex-direction-nav a.flex-prev {
                    left: 0px;
                    top: 30%;
                }
                .flex-direction-nav a.flex-prev:before {
                    content: '4';
                }
                .flex-direction-nav a.flex-next {
                    top: 30%;
                    right: 0px;
                }
                .flex-direction-nav a.flex-next:before {
                    content: '5';
                }
                .flex-direction-nav a:before {
                    color: #bcbcbc;
                }
                ol.flex-control-nav li a.flex-active {
                    background-color: #333;
                    border: 1px solid #333;
                }
                ul.flex-direction-nav {
                    display: block !important;
                    a {
                        border: 0;
                        visibility: hidden;
                        &:before {
                            visibility: visible;
                        }
                    }
                }
            }
        }
        section.clients {
            .col-xs-6 {
                height: 81px;
            }
        }
    }

    .air-clean {
        margin-top: 79px;
        .side-image.text-heavy h1,
        h1 {
            font-size: 19px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        .pad-middle {
            padding: 40px 0;
        }
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px !important;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        section.space {
            padding: 50px 0 110px;
            h1 {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
        section.side-image.text-heavy .air-quality {
            position: relative;
            background-color: #f7f7f7;
            .content {
                padding-bottom: 0;
                z-index: 10;
            }
            .visible-xs img {
                margin-top: -80px;
            }
        }
        .clean-goals {
            background-color: white;
            position: relative;
            h1 {
                margin-bottom: 20px;
                width: 80%;
            }
            p {
                margin-bottom: 0;
            }
        }
        section.prostoe {
            height: auto;
            background-color: white;
            .container {
                padding: 0 15px;
            }
            .simple {
                position: absolute;
                padding: 24vh 5vh 0 19vh;
                h1 {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 24px;
                }
            }
            .wide {
                padding-top: 40px !important;
                h1 {
                    width: 80%;
                }
            }
        }
        section.approaches {
            background-color: #eee;
            padding-top: 40px;
            .text {
                z-index: 10;
            }
            img {
                margin-top: -40px;
            }
        }
        section.clean-novye {
            background-color: #fefefa;
            padding-top: 40px;
        }
    }

    .pro-active {
        margin-top: 79px;
        .side-image.text-heavy h1,
        h1 {
            font-size: 19px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        .pad-middle {
            padding: 40px 0;
        }
        section,
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px !important;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        section.top {
            height: auto;
            padding-bottom: 150px;
        }
        section.vneshnee {
            .content {
                padding-bottom: 0;
            }
        }
        section.bezop {
            padding-top: 40px;
            .content {
                padding-bottom: 0;
            }
            h1 {
                color: #333;
            }
        }
        section.stat {
            padding-bottom: 40px;
            .pad-small {
                padding: 40px 15px;
                h1 {
                    margin-bottom: 0 !important;
                }
            }
            ul {
                list-style: inherit;
                padding-left: 20px;
                li {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    padding: 15px 0;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        section.chistye {
            padding-top: 40px;
            .content {
                padding-bottom: 0;
                z-index: 10;
            }
            img {
                margin-top: -40px;
            }
        }
        section.svezhie {
            padding-bottom: 250px;
            a.btn {
                color: #88c6ff;
                background: url('../img/forward-blue.png') 95% 100% no-repeat;
                background-size: 8px;
            }
            a.btn:hover {
                color: #88c6ff;
                background: url('../img/forward-blue.png') 100% 100% no-repeat;
                background-size: 8px;
            }
        }
        section.personalnaya {
            padding-top: 40px;
            .content {
                padding-bottom: 0;
                p {
                    margin-bottom: 0 !important;
                }
            }
        }
        section.space {
            padding-bottom: 320px;
            h1,
            p {
                color: white;
            }
            a.btn {
                color: #88c6ff;
                background: url('../img/forward-blue.png') 95% 100% no-repeat;
                background-size: 8px;
            }
            a.btn:hover {
                color: #88c6ff;
                background: url('../img/forward-blue.png') 100% 100% no-repeat;
                background-size: 8px;
            }
        }
    }

    .professional {
        margin-top: 79px;
        .side-image.text-heavy h1,
        h1 {
            font-size: 19px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        .pad-middle {
            padding: 40px 0;
        }
        section,
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            &.pb-mob {
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 20px;
            }
            a.btn {
                margin-top: 0;
            }
            padding: 0;
            .content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        section.top {
            height: auto;
            padding-top: 150px;
            .container .row {
                padding-bottom: 20px;
            }
        }
        section.zamknutoe {
            padding-top: 320px;
            p.lead {
                margin-bottom: 0;
            }
        }
        section.vneshnee {
            padding-top: 250px;
            p.lead {
                margin-bottom: 0;
            }
        }
        section.slider.pad-middle {
            padding: 0;
            padding-top: 40px;
        }
        .hero-slider {
            padding-top: 40px;
            .slides li {
                height: 310px;
                padding: 0 15px;
                color: #333;
                transition: none !important;
                span {
                    text-align: center;
                    margin: 0 auto;
                    padding-top: 20px;
                    display: block;
                    width: 70%;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 19px;
                }
            }
            .slides li.overlay:before {
                background-color: white;
            }
            ol.flex-control-nav li a {
                width: 12px;
                height: 12px;
                border: 1px solid #979797;
                cursor: pointer;
            }
            .flex-direction-nav a.flex-prev {
                left: 0px;
                top: 40%;
            }
            .flex-direction-nav a.flex-prev:before {
                content: '4';
            }
            .flex-direction-nav a.flex-next {
                top: 40%;
                right: 0px;
            }
            .flex-direction-nav a.flex-next:before {
                content: '5';
            }
            .flex-direction-nav a:before {
                color: #bcbcbc;
            }
            ol.flex-control-nav li a.flex-active {
                background-color: #333;
                border: 1px solid #333;
            }
            ul.flex-direction-nav {
                display: block !important;
            }
        }
        section.sovremenniy {
            padding-top: 300px;
        }
        section.noviy {
            padding-top: 300px;
            p.lead {
                margin-bottom: 0;
            }
        }
        section.bottom {
            padding-top: 300px;
            p.lead {
                margin-bottom: 0;
            }
        }
    }

    .cleaning {
        .side-image.text-heavy h1,
        h1 {
            font-size: 19px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        .pad-middle {
            padding: 40px 0;
        }
        section,
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right {
            padding: 40px 0;
            text-align: left;
        }
        section.pb-0 {
            padding-bottom: 0;
        }
        section.product {
            margin-top: 50px;
            padding: 180px 0 160px 0;
        }
        section.it-work,
        section.solvation {
            padding-bottom: 0;
        }
    }

    .probiotic {
        .side-image.text-heavy h1,
        h1 {
            font-size: 19px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        .pad-middle {
            padding: 40px 0;
        }
        section,
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right,
        section.text-image-bottom {
            padding-top: 0;
            padding-bottom: 0;
            text-align: left;
            .content {
                overflow: hidden;
                padding-top: 40px;
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 0px;
            }
            img {
                margin-top: 0px;
            }
        }
        section.pb-0 {
            padding-bottom: 0;
        }
        header.page-header {
            margin-top: 79px;
            padding: 130px 0 120px;
            .background-image-holder {
                height: 100%;
                top: 0;
            }
            p.lead {
                color: white;
                font-size: 13px;
                font-weight: 300;
                line-height: 18px;
            }
        }
        section.duplicatable-content {
            padding: 40px 0 0;
            background-color: white;
            .feature {
                padding: 0;
            }
        }
        section.colony {
            padding-top: 40px;
            padding-bottom: 40px;
            img {
                padding-bottom: 20px;
            }
            .col-md-12 {
                a + a {
                    margin-left: 0;
                }
            }
        }
    }

    .safety {
        h1 {
            font-size: 19px;
            line-height: 25px;
        }
        .head {
            margin-top: 40px;
            padding: 160px 0;
            h1 {
                font-size: 30px;
                line-height: 35px;
                margin-bottom: 25px;
            }
            h1,
            p.lead {
                color: #ffffff;
            }
        }
        .blog-snippet-3 {
            padding: 40px 0;
        }
        section:nth-of-type(even) {
            background: #f4fafd;
        }
        section,
        section:nth-of-type(odd) {
            background-color: white;
        }
        br {
            display: none;
        }
    }
    .cleaning-components {
        h1 {
            font-size: 19px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        h5 {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
        }
        p {
            color: #777;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
        }
        .no-align-mobile {
            margin-top: 0;
        }
        .pad-middle {
            padding: 40px 0;
        }
        section,
        section.side-image,
        section.product-right,
        section.text-banner,
        section.inline-image-right,
        section.text-image-bottom {
            padding-top: 0;
            padding-bottom: 0;
            text-align: left;
            .content {
                overflow: hidden;
                padding-top: 40px;
                padding-bottom: 40px;
            }
            p.lead {
                margin-bottom: 0px;
            }
            img {
                margin-top: 0px;
            }
        }
        section.pb-0 {
            padding-bottom: 0;
        }
        section.slider {
            background-color: white;
            .hero-slider {
                clear: both;
                padding-top: 0px;
                .slides li {
                    height: 370px;
                    padding: 0 15px;
                    color: #333;
                    transition: none !important;
                    text-align: center;
                    .side-image.text-heavy .feature {
                        margin-top: 40px;
                    }
                    span {
                        text-align: center;
                        margin: 0 auto;
                        padding-top: 20px;
                        display: block;
                        width: 70%;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 19px;
                    }
                }
                .slides li.overlay:before {
                    background-color: white;
                }
                ol.flex-control-nav li a {
                    width: 12px;
                    height: 12px;
                    border: 1px solid #979797;
                    cursor: pointer;
                }
                .flex-direction-nav a.flex-prev {
                    left: 0px;
                    top: 35%;
                }
                .flex-direction-nav a.flex-prev:before {
                    content: '4';
                }
                .flex-direction-nav a.flex-next {
                    top: 35%;
                    right: 0px;
                }
                .flex-direction-nav a.flex-next:before {
                    content: '5';
                }
                .flex-direction-nav a:before {
                    color: #bcbcbc;
                }
                ol.flex-control-nav li a.flex-active {
                    background-color: #333;
                    border: 1px solid #333;
                }
                ul.flex-direction-nav {
                    display: block !important;
                }
            }
        }
        section.first-child {
            margin-top: 80px;
            .content {
                padding-top: 30px;
            }
        }
        section.side-image.toxic {
            padding: 0 0 40px 0;
        }

        section.new {
            .btn {
                margin: 20px 0 0;
            }
        }

        section.duplicatable-content.primary-features {
            padding-top: 40px;
            p {
                color: white;
            }
        }
        section.ph.side-image {
            background-color: #f4f2f2;
            .content {
                padding-bottom: 0;
                .btn {
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 992px) {
    .air-clean .space,
    .animal-care .pet,
    .med .atmosphere {
        height: auto;
    }

    .med .atmosphere .container {
        padding-top: 50px;
    }

    .air-clean .approaches .background-image-holder {
        background-position: 33% 50% !important;
    }

    .animal-care .purity .background-image-holder {
        background-position: 33% 50% !important;
    }

    .sm-text-left {
        text-align: left;
    }

    /*    div.sm-text-center {
            text-align: center;
        }*/
}

@media (min-width: 768px) {
    div.main-bfc_006 {
        background-position: 70% 50% !important
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 96%;
    }
}

@media (min-width: 768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%;
    }

    .col-sm-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-sm-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-sm-offset-right-9 {
        margin-right: 75%;
    }

    .col-sm-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-sm-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-sm-offset-right-6 {
        margin-right: 50%;
    }

    .col-sm-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-sm-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-sm-offset-right-3 {
        margin-right: 25%;
    }

    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-sm-offset-right-0 {
        margin-right: 0;
    }

    /*   Переопределяем для айпадов  */
    .col-md-1 {
        width: 8.333333333333332%;
    }

    .col-md-2 {
        width: 16.666666666666664%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333333333333%;
    }

    .col-md-5 {
        width: 41.66666666666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.333333333333336%;
    }

    .col-md-8 {
        width: 66.66666666666666%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333333333334%;
    }

    .col-md-11 {
        width: 91.66666666666666%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-push-1 {
        left: 8.333333333333332%;
    }

    .col-md-push-2 {
        left: 16.666666666666664%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-4 {
        left: 33.33333333333333%;
    }

    .col-md-push-5 {
        left: 41.66666666666667%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-7 {
        left: 58.333333333333336%;
    }

    .col-md-push-8 {
        left: 66.66666666666666%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-10 {
        left: 83.33333333333334%;
    }

    .col-md-push-11 {
        left: 91.66666666666666%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-pull-1 {
        right: 8.333333333333332%;
    }

    .col-md-pull-2 {
        right: 16.666666666666664%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-4 {
        right: 33.33333333333333%;
    }

    .col-md-pull-5 {
        right: 41.66666666666667%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-7 {
        right: 58.333333333333336%;
    }

    .col-md-pull-8 {
        right: 66.66666666666666%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-10 {
        right: 83.33333333333334%;
    }

    .col-md-pull-11 {
        right: 91.66666666666666%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }

    .col-md-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-md-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666666666666%;
    }
}

@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }

    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-md-offset-right-9 {
        margin-right: 75%;
    }

    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-md-offset-right-6 {
        margin-right: 50%;
    }

    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-md-offset-right-3 {
        margin-right: 25%;
    }

    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-md-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    div.col-lg-bp-0 {
        background-position: 0% 0 !important;
    }

    .col-lg-offset-right-12 {
        margin-right: 100%;
    }

    .col-lg-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-lg-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-lg-offset-right-9 {
        margin-right: 75%;
    }

    .col-lg-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-lg-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-lg-offset-right-6 {
        margin-right: 50%;
    }

    .col-lg-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-lg-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-lg-offset-right-3 {
        margin-right: 25%;
    }

    .col-lg-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-lg-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-lg-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 1600px) {
    .col-xlg-offset-right-12 {
        margin-right: 100%;
    }

    .col-xlg-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-xlg-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-xlg-offset-right-9 {
        margin-right: 75%;
    }

    .col-xlg-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-xlg-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-xlg-offset-right-6 {
        margin-right: 50%;
    }

    .col-xlg-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-xlg-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-xlg-offset-right-3 {
        margin-right: 25%;
    }

    .col-xlg-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-xlg-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-xlg-offset-right-0 {
        margin-right: 0;
    }
}