@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helvetica-neue-light-webfont.eot');
    src: url('../fonts/helvetica-neue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-neue-light-webfont.woff') format('woff'),
         url('../fonts/helvetica-neue-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../fonts/helvetica-neue-cyr-thin.otf');
   
    font-weight: normal;
    font-style: normal;

}