.rdm-fw {
  width: 100%;
}


.rdm-color-success {
  color: #4fa550;
}

.info-window-content {
  img {
    max-width: 50px;
    max-height: 28px;
    margin-right: 5px;
  }
}

.service-point-details {
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.service-point-detail {
  // font-weight: 300;
  // font-size: 13px;
}