
[data-region="content"] {
  min-height: 100%;
}

[data-region="events"] {
  min-height: 100%;
}

[data-region="map"] {
  width: 100%;
  height: 550px;

  > div {
    width: 100%;
    height: 550px;
  }
}

[data-region="map-sm"] {
  width: 100%;
  height: 250px;

  > div {
    width: 100%;
    height: 250px;
  }
}

