@menu-btn-size: 200px;


.screen-1 {
  min-height: 100%;

  &-bg{
    background: url("../imgs/bgs/bg_001.jpg") no-repeat center;
    background-size: cover;
    min-height: 500px;
    height: 60%;
  }


  &-menu {
    padding-top: 45px;

    &-logo {
      .make-lg-column(6);
      .make-md-column(4);
      .make-sm-column(3);
      .make-xs-column(3);

      @media (max-width: 640px) {       
        .make-xs-column(12);      
        .text-center();    
      }
    }

    &-btns {
      .make-lg-column(6);
      .make-md-column(8);
      .make-sm-column(9);
      .make-xs-column(9);  

      @media (max-width: 640px) {       
        .make-xs-column(12);          
        .text-center();
        margin-top: 20px;    
      }
    }
  }
}




.screen-1-menu-btn {
    color: rgb(51, 147, 255);
    font-family: helveticaneuecyrlight;
    font-size: 16px;
    margin-left: 15px;
    width: @menu-btn-size;
    float: right;
    @media (max-width: 640px) {       
      float: none;
      
      
      margin-bottom: 20px;    
      .text-center();
    }
}

.screen-1-menu-btn-active {
  padding-left: 21px;
  padding-right: 19px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 18px;
  border: 1px solid rgb(51, 147, 255);
}

.screen-1-header {

    padding-left: 10px;
    padding-right: 10px;

    margin-top: 100px;
    
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
    letter-spacing: 1.3px;
    line-height: 1.18;
    font-size: 54px;


    font-family: helveticaneuecyrthin;

    @media (max-width: @screen-sm-max) { 
      padding-top: 30px;
      font-size: 36px;
    }

}


.screen-1-header-sub {
  color: rgb(100, 100, 100);
  font-size: 23px;
  font-family: helveticaneuecyrthin;  
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
}

.screen-1-text { 
  

  margin-top: 50px;
  text-align: center;
  color: rgb(160, 160, 160);
  font-size: 19px;
  font-family: helveticaneuecyrlight;
  
  letter-spacing: 0.3px;
  line-height: 27px;
  font-weight: 300;  
  
}