.screen-002 {
    min-height: 100%;
    padding-top: 40px;
    &-illustration {
      max-width: 100%;
    }

    &-header {
        margin-top: 0px;
        margin-bottom: 18px;
        color: rgb(51, 51, 51);
        font-size: 44px;
        font-family: helveticaneuecyrlight;
        width: 300px;
        font-weight: 300;
        letter-spacing: 0.4px;

        @media (max-width: @screen-sm-max) {
          width: 100%;
        }
    }

    &-about {

        &-btn {
          background-color: white;
          border-radius: 3px;
          color: #0078ff;
          cursor: pointer;
          border: 1px solid rgb(0, 140, 255); 
          font-family: helveticaneuecyrlight;
          font-size: 17px;
          margin-top: 24px;
          margin-bottom: 14px;
          padding: 7px 16px;

          &:hover{
            border: 1px solid #005fcd; 
            color: #005fcd;
          }

          &:focus {
            outline: 0;
          }
        }

        &-btn.active {
            border: 1px solid #008cff; 
            background-color: #008cff;
            color: white;

            &:hover {
              border: 1px solid #0073f5;
              background-color: #0073f5;
            }
        }



  
        &-text {
            color: rgb(119, 119, 119);
            font-size: 17px;
            font-family: helveticaneuecyrlight;
            line-height: 25px;
            letter-spacing: 0.1px;
        }
        &-image {

        }
    }
}
