.details {
    padding-top: 60px;
    background-color: #f8f8f7;

    .list-container {
        padding-left: 55px;


        @media (max-width: @screen-md-max) {
            padding-left: 0px;
        }
    }

    p {
        color: #5a5450;
        font-size: 15px;
        line-height: 22px;
        font-family: helveticaneuecyrlight;
    }

    hr {
        margin-top: 55px;
        margin-bottom: 45px;
    }

    h3 {
        color: #585450;
        font-size: 23px;
        font-family: helveticaneuecyrlight;
    }

    h4 {
        color: #585450;
        font-size: 19px;
        font-family: helveticaneuecyrlight;
    }

    ul {        
        padding-left: 1px;
        list-style-position: inside;
        color: #585450;
        li {
            font-family: helveticaneuecyrlight;
            font-size: 15px;
            line-height: 25px;
            @media (max-width: @screen-md-max) {
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
}