@modal-content-bg: black;
@modal-content-border-color: black;
@modal-content-fallback-border-color: black;

@modal-lg: 100%;
@modal-md: 100%;
@modal-sm: 100%;
@modal-xs: 100%;

@modal-about-gray: rgb(200, 200, 200);

.modal-lg{
    min-height: 100%;
    height: 100%;
    margin: 0;
    

    h1 {
    
          font-size: 45px;
          font-family: helveticaneuecyrlight;
          font-weight: 300;
          color: rgb(255, 255, 255);    
    }


    ul.list-of-goods {

        li {
            font-size: 17px;
            font-family: helveticaneuecyrlight;
            margin-top: 10px;
            letter-spacing: 0.2px;
            color: rgb(173, 173, 173);
        }
    }
    h2 {
      font-size: 25px;
      font-family: helveticaneuecyrlight;
      font-weight: 300;
      color: @modal-about-gray;
    }

    h3 { 
        font-size: 21px;
        font-family: helveticaneuecyrlight;
        font-weight: 300;
        color: rgb(255, 255, 255);
    }
    .modal-header {
        margin-top: 4%;
        margin-right: 4%;
        border-bottom: 0;
    }
    .modal-content {
        min-height: 100%; 
    }
    .nav-about {
        li {
            

            a {

                font-size: 16px;
                font-family: helveticaneuecyrlight;
                &:hover {                
                    background: #0f1e2d;
                    color: #0078ff;
                    border-radius: 18px;
                }

                &:focus {                
                    background: rgb(0, 120, 255);
                    color: rgb(0, 0, 0);
                    border-radius: 18px;
                }
            }   

            a.active {
                &:hover {                
                    background: rgb(0, 120, 255);
                    color: rgb(0, 0, 0);
                    border-radius: 18px;
                }    
            } 
        }
        
    }


    .close {
        opacity: 0.95;
        color: rgb(0, 120, 255);
        font-size: 20px;
    }

    a {
        color: rgb(0, 120, 255);
        
    }
    a.active {        
        background: rgb(0, 120, 255);
        color: rgb(0, 0, 0);
        border-radius: 18px;
        &:hover {
            text-decoration: none;
        }
    }
    p {          
        color: @modal-about-gray;
        font-size: 17px;
        text-align: center;
        line-height: 25px;
        font-family: helveticaneuecyrlight;
        margin-top: 22px;
    }
}