<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>BFC</title>
    <meta name="description" content="">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta id="viewport" name='viewport'>-->
    <script>
        function changeViewport() {
            var viewport = document.getElementById('viewport'),
                content = viewport.getAttribute("content"),
                initialScale = content ? content.match(/(?!:initial-scale=)\d\.?\d/) : null,
                initialNum = initialScale ? parseFloat(initialScale[0]) : null,
                scale = initialNum ? initialNum : 1,
                width = scale * window.innerWidth;
            if (width <= 980 && width > 700) {
                viewport.setAttribute("content", "width=device-width, initial-scale=0.8");
                //alert('вертикальный режим');
            } else {
                viewport.setAttribute("content", "width=device-width, initial-scale=1");
                //alert('горизонтальный режим');
            }
            //alert(scale + ' | ' + width);
        }
        window.addEventListener("orientationchange", function() {
            changeViewport();
        }, false);

        changeViewport();
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter35917370 = new Ya.Metrika({
                        id:35917370,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/35917370" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74813937-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link href="/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme-{{theme}}.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.zzzik.bfc.css" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src="//st.yagla.ru/js/y.c.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>