<div class="col-sm-4 text-center">
    <p class="lead">
        <a class="phone" href="tel:+88002000999">
            8 800 200-09-99
        </a>
        <br class="hidden-xs">
        <a class="phone second" href="tel:+74955490111">
            + 7 (495) 549-01-11
        </a>
        <br>
        <span class="address">142800, Россия, Московская область,<br> г. Ступино, Ул. Транспортная, вл.9</span>
    </p>
</div>