<div class="page__footer">
  <footer class="footer">
    <div class="footer-leftside">
      <div class="cell n1"><a class="country-link" href="">Россия</a></div>
      <div class="cell n2">
        <div class="bottom-menu-wrapper">
          <ul class="bottom-menu row">
            <li class="col1-3"><a href="/innovation">Наши направления</a></li>
            <li class="col1-3"><a href="/buy">Продукты</a></li>
            <li class="col1-3"><a href="/about">Контакты</a></li>
          </ul>
        </div>
      </div><a class="cell button tel" href="tel:8-800-200 09 99"><i class="icon text-white icon_phone"> </i><span>8-800-200 09 99</span></a><a class="cell button mail" href="/about#contact"><i class="icon text-white icon_mail"> </i><span>Напишите нам</span></a>
    </div>
    <div class="copyright">&copy; 2015 bfc</div>
  </footer>
</div>