<div class="footer-container">
    {{#if isMed }}
    <footer class="bg-med ">

    {{else if isAcsg }}
    <footer class="bg-acsg">

    {{else if isHoreca }}
    <footer class="bg-horeca">

    {{else if isAbout }}
    <footer class="bg-about bg-primary">

    {{else}}
    <footer class="bg-primary">
    {{/if}}
        <div class="tbl">
            <div class="cell">
                <div class="tbl">
                    <span class="dropdown dropup hidden-xs">
                        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="/img/flag-russia.png" alt="">
                            Россия
                            <span class="hidden caret"></span>
                        </div>
                        <ul class="dropdown-menu hidden" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Камбоджа</a></li>
                            <li><a href="#">Аргентина</a></li>
                            <li><a href="#">США</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Украина</a></li>
                        </ul>
                    </span>
                    <span>
                        <span class="text-white hidden-xs"><a href="/directions">Наши направления</a></span>
                        <span class="text-white hidden-xs"><a href="#">Продукты</a></span>
                        <span class="text-white hidden-xs"><a href="/about">Контакты</a></span>
                        <span class="text-white hidden">
                            <!--<a href="mailto:acsg@bfc-pro.com ">bfc@bfc-pro.com</a>-->
                        </span>
                        <span class="text-white hidden">
                            <a href="tel:+7-495-549-01-11">+7 (495) 549-01-11</a>
                        </span>
                    </span>
                    <span class="text-white tel visible-xs">
                        <i class="icon text-white icon_phone visible-xs"></i>
                        <a href="tel:8-800-200 09 99">8 800 200 09 99</a>
                    </span>
                    <span class="text-white hidden">
                        Ул. Транспортная, вл. 9, г. Ступино, Московская область, 142800, Россия.
                    </span>
                </div>
                <div class="copyright hidden-xs">
                    © 2015 bfc
                </div>
            </div>
            <div class="cell tel hidden-xs">
                <span class="text-white">
                    <i class="icon text-white icon_phone"></i>
                    <a href="tel:8-800-200 09 99">8 800 200 09 99</a>
                </span>

            </div>
            <div class="cell contact-action">
                <div class="mail">
                    <i class="icon text-white icon_mail"></i>
                    <a href="/about#contact" class="text-white"><span class="text-white">Напишите нам<i class="icon hidden arrow_right"></i></span></a>
                </div>
            </div>
        </div>
    </footer>
</div>