<div class="col-sm-4">

  <div class="form-wrapper clearfix">
    <form class="form-contact email-form xs-text-center">
      <div class="inputs-wrapper">
        <input class="xs-text-center form-name validate-required" type="text" placeholder="Имя" name="name">
        <input class="xs-text-center form-email validate-required validate-email" type="text" placeholder="E-mail" name="email">
        <textarea class="xs-text-center form-message validate-required" name="message" placeholder="Сообщение"></textarea>
      </div>
      <input type="submit" class="send-form" value="Отправить">
      <div class="form-success">
        <span class="text-white">Сообщение отправлено</span>
      </div>
      <div class="form-error">
        <span class="text-white">Заполните все поля</span>
      </div>
    </form>
  </div>
</div>