{{#if isBlackText}}
 <header class="header black">
 {{else}}
<header class="header">
{{/if}}


  <ul class="main-menu">
    <li><a class="first" href="#">Мир BFC<img class="svg arrow" src="i/arrow.svg" alt=""></a>
      <ul>
        <li><a href="/about">О нас</a></li>
        <li><a href="/directions">Информация</a></li>
        <li><a href="/innovation">Направления</a></li>
        <li><a href="/probiotic">Пробиотики</a></li>
      </ul>
    </li>
    <li><a href="/buy">Продукция</a></li>
    <li><a href="/use-cases">Информация и&nbsp;применение</a></li>
  </ul>
  <div class="header-buttons">
   <a class="header-logo" href="/"><img src="/i/logo.svg" alt=""></a>
   <a class="show-menu" id="nav-icon" href="#">
    <span></span><span></span><span></span><span></span>
   </a>
  </div>
  <div class="social">
      <a class="vk" href="https://vk.com/bfc.probiotic" target="_blank"></a>
      <a class="in" href="https://www.instagram.com/bfc_probiotic/" target="_blank"></a>
      <a class="fb" href="https://www.facebook.com/bfc.probiotic/#" target="_blank"></a>
  </div>

</header>