<div class="nav-container">
      <nav class="top-bar">
        <div class="container">
        
          <div class="row nav-menu">
            <div class="col-sm-2 columns">
              <a href="/health">
                <img class="logo logo-light" alt="Logo" src="/img/med_logo_light.png">
                <img class="logo logo-dark" alt="Logo" src="/img/med_logo_dark.png">
              </a>
            </div>
          
            <div class="col-sm-8 columns">
              <ul class="menu">
                <li>
                  <a href="#">Задачи очистки</a>
                </li>
                <li>
                  <a href="#">Как работает<br></a>
                </li>
                <li>
                  <a href="#">Связаться с нами</a>
                </li>                
              </ul>
            </div>            
            <div class="col-sm-2 columns text-right">
              <ul class="social-icons text-right">
                <li>
                  <a href="#">
                    <i class="icon social_googleplus icon-large"></i>
                  </a>
                </li>
              
                <li>
                  <a href="#">
                    <i class="icon social_youtube icon-large"></i>
                  </a>
                </li>
              
                <li>
                  <a href="#">
                    <i class="icon social_facebook icon-large"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="mobile-toggle">
            <i class="icon icon_menu"></i>
          </div>
          
        </div>
      </nav>

    </div>