<div class="nav-container">

    {{#if isBlackText}}
    <nav class="top-bar overlay-bar overlay-bar-black-text vig">
    {{else}}
    <nav class="top-bar overlay-bar vig">
    {{/if}}
        <div class="container">
            <div class="row nav-menu">
                <div class="col-sm-2 columns">
                    <a href="/">
                        <img class="logo logo-light" alt="Logo" src="/img/bfc_logo_light.png">
                        <img class="logo logo-dark" alt="Logo" src="/img/bfc_logo_dark.png">
                        <!--
                        <img class="logo logo-light" alt="Logo" src="img/logo-light.png">
                        <img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
                        -->
                    </a>
                </div>
                <div class="col-sm-8 columns">
                    <ul class="menu">

                        <li class="has-dropdown">
                            <a href="#">Мир BFC</a>
                            <ul class="subnav">
                                <li>
                                    <a href="/about">О нас</a>
                                </li>
                                <li>
                                    <a href="/directions">
                                        Направления
                                    </a>
                                </li>
                                <li>
                                    <a href="/innovation">
                                        Инновации
                                    </a>
                                </li>
                                <li class="hidden">
                                    <a href="/cleaning-components">
                                        Средства для ухода
                                    </a>
                                </li>
                                <li class="hidden">
                                    <a href="/body_care">
                                        Средства для мытья
                                    </a>
                                </li>
                                <li>
                                    <a href="/probiotic">
                                        Пробиотики
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/buy">Продукция</a>
                        </li>
                        <li>
                            <a href="/use-cases">Информация и применение</a>
                        </li>
                        <li class="has-dropdown hidden">
                            <a href="#">Новости и применение</a>
                            <div class="subnav subnav-fullwidth">
                                <div class="col-md-3">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="alt-font">Продукция</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 columns text-right">
                    <ul class="social-icons text-right">
                        <li>
                            <a href="https://vk.com/bfc.probiotic">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/bfc_probiotic/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/bfc.probiotic/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mobile-toggle" data-icon-name="hamburgerCross">
            </div>
        </div>
    </nav>
</div>