        <a href="/use-cases/{{id}}">
<div class="col-md-4 col-sm-6 blog-masonry-item {{tagsStr}}">
    <div class="item-inner">

            {{#if image}}
                <img alt="Image" src="{{image}}">
            {{else}}
                <img alt="Image" src="/img/blog-masonry-1.jpg">
            {{/if}}
        
        <div class="post-title">
            <a href="/use-cases/{{id}}">
                <h2>{{title}}</h2>
            </a>
            <p>{{description}}</p>
            <div class="post-meta">
                <span class="sub alt-font">{{dPublishedAt}}</span>
                <!--
                <span class="sub alt-font">4 Minute Read</span>
                -->
            </div>
            <!--
            <a href="/use-cases/{{id}}" class="link-text">Читать</a>
            -->
        </div>
    </div>
</div>
</a>