<div class="col-md-4 col-sm-6 blog-masonry-item {{tagsStr}}">
    <div class="item-inner video-post">
        <iframe width="600" height="400" allowfullscreen src="http://www.youtube.com/embed/{{_idYoutube}}"></iframe>
        <div class="post-title">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <div class="post-meta">
                <span class="sub alt-font">{{dPostedAt}}</span>
                <!--
                <span class="sub alt-font">2 Minute Read</span>
                -->
            </div>
            <!--
            <a target="_blank" href="https://www.youtube.com/watch?v={{_idYoutube}}" class="link-text">Смотреть на YouTube</a>
            -->
        </div>
    </div>
</div>