body {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

#bfc-main-header {
    font-size: 55px;
    line-height: 70px
}

#bfc-main-subheader {
    font-size: 24px
}

@media (max-width:1100px) {
    #bfc-main-iphone {
        visibility: hidden;
        display: none
    }
}

#bfc .test {
    color: #f00
}

.lead-2 {
    font-size: 18px !important
}

.overlay-bar-black-text .menu li a {
    color: #000
}

.overlay-bar-black-text .menu li a:hover {
    color: #000
}

.overlay-bar-black-text .social-icons li a {
    color: #000
}

.overlay-bar-black-text .social-icons li a:hover {
    color: #000
}

.bg-med {
    background-color: #00acba
}

footer.short-2.bg-med .contact-action {
    background-color: #00838e
}

.bg-acsg {
    background-color: #136480
}

.bg-horeca {
    background-color: #655347;
    margin-top: -2px
}

footer.short-2.bg-acsg .contact-action {
    background: #06222c
}

.bfc-0-padding-bottom {
    padding-bottom: 0
}

.page-header .bfc-image-container-wise-man {
    height: 510px
}

div.background-image-holder.main-legs {
    background-position: 90% 66% !important
}

body .clients-2 img {
    opacity: 1;
    max-height: 44px
}

div.bp-0 {
    background-position-x: 0 !important
}

div.bfc_005 {
    background-position: 50% 70% !important
}

div.main-bfc_006 {
    background-position: 70% 50% !important
}

div.bp-100 {
    background-position: 100% 0 !important
}

div.bp-y-100 {
    background-position-y: 100% !important
}

div.bp-y-0 {
    background-position-y: 0 !important
}

@media (min-width:1200px) {
    .page-header .bfc-image-container-wise-man {
        top: -120px;
        right: -75px
    }
}

@media (max-width:1200px) {
    .bfc-lead-near-doctor {
        color: #3a3a3a
    }

    .med div.health-man {
        right: -171px
    }
}

.bfc-health-bannel-link:hover {
    color: #428bca;
    text-decoration: underline
}

.top-bar .logo {
    max-height: 44px;
    position: relative;
    bottom: 7px
}

.nav-container .top-bar .social-icons {
    margin-top: -2px
}

.nav-container .top-bar .social-icons li a {
    font-size: 19px
}

.nav-container .top-bar .social-icons li a .fa-vk {
    margin-top: -1px
}

.logo.logo-wide {
    max-width: 140px;
    bottom: 12px;
    margin-bottom: -6px
}

.logo.logo-square {
    max-width: 100px;
    max-height: 44px;
    bottom: 16px;
    margin-bottom: 10px
}

.nav-sticky .logo-wide {
    bottom: 12px !important
}

.nav-sticky .logo-square {
    bottom: 16px !important
}

.hero-slider .slides li h1 {
    font-size: 58px;
    line-height: 62px
}

.double-bounce1, .double-bounce2 {
    background-color: #424651
}

.bg-primary {
    background-color: #424651 !important
}

footer.short-2 .contact-action {
    background: #202227
}

.col-xs-offset-right-12 {
    margin-right: 100%
}

.col-xs-offset-right-11 {
    margin-right: 91.66666667%
}

.col-xs-offset-right-10 {
    margin-right: 83.33333333%
}

.col-xs-offset-right-9 {
    margin-right: 75%
}

.col-xs-offset-right-8 {
    margin-right: 66.66666667%
}

.col-xs-offset-right-7 {
    margin-right: 58.33333333%
}

.col-xs-offset-right-6 {
    margin-right: 50%
}

.col-xs-offset-right-5 {
    margin-right: 41.66666667%
}

.col-xs-offset-right-4 {
    margin-right: 33.33333333%
}

.col-xs-offset-right-3 {
    margin-right: 25%
}

.col-xs-offset-right-2 {
    margin-right: 16.66666667%
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%
}

.col-xs-offset-right-0 {
    margin-right: 0
}

.inline-image-right.pb-0 {
    padding-bottom: 0
}

div.pt-0 {
    padding-top: 0
}

.body-care section:first-child {
    padding-top: 127px !important;
    background: url('../img/care_1.jpg');
    background-size: cover;
    padding-bottom: 150px;
    background-position: 0
}

.body-care section:nth-child(2) h1 {
    padding-top: 57px
}

.body-care section .background-image-holder {
    background-clip: content-box !important
}

.body-care section:nth-child(4) .background-image-holder {
    height: 84%;
    background-position: 0 0 !important
}

.loader {
    display: none !important
}

.body-care section:nth-child(4) .align-vertical.content.clearfix h1 {
    padding-top: 74px;
    margin-bottom: 14px
}

.body-care section:nth-child(4) {
    padding-bottom: 36px
}

.body-care section:nth-child(5) {
    padding-top: 80px
}

.body-care section:nth-child(5) h1 {
    padding-top: 47px;
    margin-bottom: 18px
}

.body-care section:nth-child(5) .align-vertical.content.clearfix {
    margin-bottom: 18px
}

.body-care section:nth-child(5) .container {
    padding-bottom: 88px
}

.body-care section:nth-child(8) .content.clearfix {
    padding-top: 165px !important;
    padding-bottom: 100px
}

.body-care section:nth-child(8) .background-image-holder {
    background-position: 0 50% !important
}

.project-directions .image-holder:hover .background-image {
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%)
}

.project-directions .image-holder.active:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
    z-index: 2
}

section.background-white {
    background: white
}

section.bg-gray {
    background: #f4f4f4
}

div.bp-0 {
    background-position: 0 0 !important
}

div.bp-100 {
    background-position: 100% 50% !important
}

.pt-30 {
    padding-top: 30px
}

section.padding-vertical-15p {
    padding: 15% 0
}

section.padding-vertical-5p {
    padding: 5% 0
}

.innovation .wrapper {
    position: relative
}

.innovation a.btn-white {
    color: #88C6FF
}

.resume-header ul.social-icons li {
    padding-top: 20px;
    margin-right: 22px
}

.social-icon {
    height: 42px;
    width: 70px;
    background-image: url("../../../img/social_icons.png");
    background-size: cover;
    display: block
}

.social-icon.youtube {
    background-position: 70px 0
}

.social-icon.instagram {
    background-position: 164px 0
}

.social-icon.facebook {
    background-position: 255px 0
}

.social-icon.vk {
    background-position: 0 0
}

.social-icon:hover {
    opacity: .7;
    transition: all .25s
}

.main-container.gpd .image-container.pull-left .background-image-holder {
    background-position: 98% 0% !important
}

.main-container.gpd .image-container.pull-right .background-image-holder {
    background-position: 0% 50% !important
}

.main-container.gpd section:nth-child(2) .image-container.pull-left .background-image-holder {
    top: initial;
    bottom: 0;
    height: 90%
}

.gpd a.btn {
    background: url('../img/forward.png') 98% 60% no-repeat
}

.production-distribution .truck .content {
    padding-top: 160px;
    padding-bottom: 160px
}

.overlay-bar.overlay-bar-black-text .menu .has-dropdown:after {
    color: black
}

div.bp-0 {
    background-position: 0 0 !important
}

div.bp-100 {
    background-position: 99% center !important
}

.arrow-down {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: 3%;
    width: 100%
}

@-webkit-keyframes bounce {
    0%,20%,50%,80%,100%

{
    -webkit-transform: translateY(0)
;
    -moz-transform: translateY(0)
;
    -ms-transform: translateY(0)
;
    transform: translateY(0)
}
40
%
{
    -webkit-transform: translateY(-20px)
;
    -moz-transform: translateY(-20px)
;
    -ms-transform: translateY(-20px)
;
    transform: translateY(-20px)
}
60
%
{
    -webkit-transform: translateY(-10px)
;
    -moz-transform: translateY(-10px)
;
    -ms-transform: translateY(-10px)
;
    transform: translateY(-10px)
}
    }

@-moz-keyframes bounce {
    0%,20%,50%,80%,100%

{
    -webkit-transform: translateY(0)
;
    -moz-transform: translateY(0)
;
    -ms-transform: translateY(0)
;
    transform: translateY(0)
}
40
%
{
    -webkit-transform: translateY(-20px)
;
    -moz-transform: translateY(-20px)
;
    -ms-transform: translateY(-20px)
;
    transform: translateY(-20px)
}
60
%
{
    -webkit-transform: translateY(-10px)
;
    -moz-transform: translateY(-10px)
;
    -ms-transform: translateY(-10px)
;
    transform: translateY(-10px)
}
    }

@-ms-keyframes bounce{0%,20%,50%,80%,100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}40%{-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}60%{-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}} @keyframes bounce {
                                                                                                                                                                                                                                                                                                                                                                                                                                           0%,20%,50%,80%,100%

{
    -webkit-transform: translateY(0)
;
    -moz-transform: translateY(0)
;
    -ms-transform: translateY(0)
;
    transform: translateY(0)
}
40
%
{
    -webkit-transform: translateY(-20px)
;
    -moz-transform: translateY(-20px)
;
    -ms-transform: translateY(-20px)
;
    transform: translateY(-20px)
}
60
%
{
    -webkit-transform: translateY(-10px)
;
    -moz-transform: translateY(-10px)
;
    -ms-transform: translateY(-10px)
;
    transform: translateY(-10px)
}
    }

.bounce {
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -ms-animation: bounce 2s infinite;
    animation: bounce 2s infinite
}

@media screen and (min-width:1900px) {
    .col-xl-3 {
        width: 25%
    }

    .med .effective-solution {
        padding: 120px 0
    }
}

@media (min-width:1200px) {
    .main-container.gpd .text-banner.first-child .container {
        width: 1205px
    }
}

@media screen and (min-width:1900px) {
    .col-xl-3 {
        width: 25%
    }

    .col-xl-4 {
        width: 33.33333333%
    }
}

.overlay-bar.overlay-bar-black-text .menu .has-dropdown:after {
    color: black
}

.cleaning-components .btn {
    margin: 40px 0
}

.cleaning-components .problem-solving-img {
    margin-left: -15px;
    margin-right: -15px
}

.cleaning-components .problem-solving-img img {
    max-width: inherit;
    height: 280px
}

.problem-solving .cleaning-components.first-child .container {
    padding: 94px 0 146px
}

.ico-sila:before {
    display: block;
    height: 58px;
    width: 70px;
    content: '';
    background: url('/img/ico-sila.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-temper:before {
    display: block;
    height: 58px;
    width: 70px;
    content: '';
    background: url('/img/ico-temper.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-vremya:before {
    display: block;
    height: 53px;
    width: 70px;
    content: '';
    background: url('/img/ico-vremya.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-zagryazn:before {
    display: block;
    height: 66px;
    width: 70px;
    content: '';
    background: url('/img/ico-zagryazn.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-bezopasnost:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-bezopasnost.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-germetichnost:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-germetichnost.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-jyvye:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-jyvye.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-prigotovlenie:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-prigotovlenie.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-usloviya:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-usloviya.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.ico-zvetoust:before {
    display: block;
    height: 66px;
    content: '';
    background: url('/img/ico-zvetoust.png') 9px 0 no-repeat;
    background-size: contain;
    margin-bottom: 38px
}

.cl-b {
    clear: both
}

.problem-solving .choice img {
    max-height: 100%
}

.problem-solving .restrictions .col-sm-6.clearfix {
    height: 230px
}

.page-header.no-overlay:before {
    display: none
}

.home-cleaning .side-image {
    padding-top: 80px;
    padding-bottom: 80px
}

.home-cleaning .cleaning-univers {
    background-position: 30% 50% !important
}

a.btn {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: auto !important;
    text-transform: none;
    padding: 0 20px 0 0;
    border: 0;
    min-width: 0;
    color: #467ed7;
    background: url('../../../img/forward.png') 95% 60% no-repeat;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px
}

a.btn.forward-blue {
    background: url('../../../img/forward-blue.png') 95% 60% no-repeat
}

a.btn:hover {
    color: #467ed7;
    background: url('../../../img/forward.png') 100% 60% no-repeat
}

a.btn.forward-blue:hover {
    background: url('../../../img/forward-blue.png') 100% 60% no-repeat
}

a.btn-white {
    color: #fff
}

a.btn+a.btn {
    margin-left: 20px
}

@media (min-width:1000px) and (max-width:1040px) {
    body .col-pl-h-offset-0 {
        margin-left: 0
    }

    body .col-pl-h-offset-1 {
        margin-left: 8.333333333333332%
    }

    body .col-pl-h-1 {
        width: 8.333333333333332%
    }

    body .col-pl-h-2 {
        width: 16.666666666666664%
    }

    body .col-pl-h-3 {
        width: 25%
    }

    body .col-pl-h-4 {
        width: 33.33333333333333%
    }

    body .col-pl-h-5 {
        width: 41.66666666666667%
    }

    body .col-pl-h-6 {
        width: 50%
    }

    body .col-pl-h-7 {
        width: 58.333333333333336%
    }

    body .col-pl-h-8 {
        width: 66.66666666666666%
    }

    body .col-pl-h-9 {
        width: 75%
    }

    body .col-pl-h-10 {
        width: 83.33333333333334%
    }

    body .col-pl-h-11 {
        width: 91.66666666666666%
    }

    body .col-pl-h-12 {
        width: 100%
    }

    body .col-pl-h-bp-0 {
        background-position: 0 0 !important
    }

    body .col-pl-h-bp-100 {
        background-position: 100% 0 !important
    }

    .directions .page-header .background-image-holder {
        background-position: 67% 50% !important
    }

    .home-cleaning .cleaning-uhod {
        width: 56%
    }

    .pro-active .chistye div.background-image-holder {
        background-position: 85% center !important
    }

    .pro-active .personalnaya div.background-image-holder {
        background-position: 85% center !important
    }
}

@media (min-width:768px) and (max-width:1000px) {
    body .col-pl-v-offset-0 {
        margin-left: 0
    }

    body .col-pl-v-offset-1 {
        margin-left: 8.333333333333332%
    }

    body .col-pl-v-5 {
        width: 41.66666666666667%
    }

    body .col-pl-v-6 {
        width: 50%
    }

    body .col-pl-v-7 {
        width: 58.33333333%
    }

    body .col-pl-v-8 {
        width: 66.66666667%
    }

    body .col-pl-v-9 {
        width: 75%
    }

    body .col-pl-v-10 {
        width: 83.33333333333334%
    }

    body .col-pl-v-12 {
        width: 100%
    }

    body .col-pl-v-bp-0 {
        background-position: 0 0 !important
    }

    body .col-pl-v-bp-50 {
        background-position: 50% 0 !important
    }

    body .col-pl-v-bp-100 {
        background-position: 100% 0 !important
    }

    body .pl-v-text-center {
        text-align: center
    }

    body .pl-v-visible {
        display: inherit !important
    }

    .directions .page-header .background-image-holder {
        height: 100%;
        top: 0
    }

    .home-cleaning .cleaning-top .background-image-holder {
        background-size: 215% !important;
        background-position: 37% 50% !important
    }

    .air-clean .clean-novye .background-image-holder {
        background-position: 70% 50% !important
    }

    .farm .product-right .product-image {
        right: -210px
    }

    .farm .fish.product-right {
        height: auto
    }

    .farm .fish .container.align-vertical {
        padding-top: 80px !important;
        padding-bottom: 410px
    }

    .bacterias .grass {
        position: absolute;
        right: -20%;
        bottom: 0
    }

    .pro-active .chistye div.background-image-holder {
        background-position: 45% center !important
    }

    .pro-active .personalnaya div.background-image-holder {
        background-position: 75% center !important
    }
}

.home-cleaning .pad-middle, .pad-middle {
    padding: 120px 0
}

.pad-small {
    padding: 80px 0
}

.pad-xsmall {
    padding: 40px 0
}

.no-margin-top {
    margin-top: 0px !important
}

.air-clean .ubivaya {
    background: #f9f9f9
}

.air-clean .prostoe {
    height: 98vw
}

.air-clean .prostoe .container {
    padding-top: 5vw
}

.gpd .knowledge .background-image-holder {
    background-position-y: 11% !important
}

.safety h1.red {
    color: rgba(204, 0, 0, 0.84)
}

.safety h1.red:before {
    content: "\2013";
    padding-right: 5px
}

.cleaning .product {
    padding: 25vh 0 25vh
}

.body-care section:first-child .container {
    padding-top: 80px
}

.med .atmosphere .container {
    padding-top: 60px
}

.med .health-man {
    bottom: 0;
    position: absolute;
    right: 0
}

.med .Dr-Willy {
    overflow: visible;
    padding: 0
}

.med .Dr-Willy .image-container {
    width: 100%
}

.med .Dr-Willy .image-container .background-image-holder {
    opacity: 1
}

.med .wood-divider {
    position: relative;
    padding: 30px 0 40px
}

.med .effective-solution {
    padding: 40px 0
}

.air-clean .air-quality, .air-clean .clean-goals {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    display: table
}

.air-clean .air-quality .row, .air-clean .clean-goals .row {
    display: table-row
}

.air-clean .side-image.text-heavy .air-quality p.lead, .air-clean .side-image.text-heavy .clean-goals p.lead {
    margin: 0
}

.professional section:first-child .container .row {
    padding-bottom: 10vh
}

div.horeca header.title:before {
    display: none
}

div.horeca div.feature i, div.professional div.feature i {
    border: 0;
    background-size: contain !important
}

div.horeca div.feature i {
    width: 100px;
    height: 100px
}

div.horeca div.chistoe .background-image-holder {
    background-position: 20% 50% !important
}

.horeca .feature i.spray, .professional .feature i.spray {
    background: url('../img/professional-icon-1.png') center no-repeat
}

.horeca .feature i.valet, .professional .feature i.valet {
    background: url('../img/professional-icon-2.png') center no-repeat
}

.horeca .feature i.heart, .professional .feature i.heart {
    background: url('../img/professional-icon-3.png') center no-repeat
}

.horeca .feature i.leaf, .professional .feature i.leaf {
    background: url('../img/professional-icon-4.png') center no-repeat
}

.professional .feature span {
    margin-top: 30px
}

.professional .noviy .background-image-holder {
    background-position: 73% 50% !important
}

.index .duplicatable-content, .body-care .duplicatable-content {
    padding: 45px 0 20px
}

.index .facilities {
    background: rgba(239, 231, 220, 0.1)
}

.pro-active .stat {
    background-color: #eb5f00
}

.pro-active .stat h3 {
    font-size: 25px
}

.acsg .kan {
    background: #8AB2CB;
    padding: 80px 0 0
}

.acsg .kan table {
    width: 100%
}

.acsg .kan table tr td {
    vertical-align: bottom
}

.acsg .kan table tr td:first-child, .acsg .kan table tr td:last-child {
    padding: 15px;
    width: 25%
}

.acsg .client-row img {
    opacity: 1;
    max-height: 70px;
    max-width: 170px
}

@media only screen and (min-width:320px) and (max-width:768px) {
    body .clients-2 img {
        max-width: 100%
    }

    .no-bg-mobile {
        display: none
    }

    .no-pad-bottom-mobile {
        padding-bottom: 0 !important
    }

    .no-mar-bottom-mobile {
        margin-bottom: 0 !important
    }

    .social-icon {
        height: 30px;
        width: 45px
    }

    .social-icon.youtube {
        background-position: 45px 0
    }

    .social-icon.instagram {
        background-position: 117px 0
    }

    .social-icon.facebook {
        background-position: 181px 0
    }

    .social-icon.vk {
        background-position: 0 0
    }

    .cleaning-components .primary-features.duplicatable-content .feature {
        padding: 0
    }

    h1.text-gray.space-bottom-medium {
        font-size: 24px;
        line-height: 32px
    }

    header.resume-header {
        padding: 70px 0px 160px
    }

    header.resume-header div.main-bfc_006 {
        background-position: 67% 50% !important
    }

    div.xs-text-center {
        text-align: center
    }

    div.xs-text-left {
        text-align: left
    }

    section div.background-image-holder.main-legs {
        background-position: 87% 0 !important;
        background-size: 276% !important
    }

    .farm .pig {
        background-position: 0% 50% !important
    }

    .xs-opacity-04 {
        opacity: .4
    }

    .home-cleaning .side-image {
        padding-top: 0px;
        padding-bottom: 0px
    }
}

@media (min-width:320px) and (max-width:992px) {
    .air-clean .space, .animal-care .pet, .med .atmosphere {
        height: auto
    }

    .med .atmosphere .container {
        padding-top: 50px
    }

    .air-clean .approaches .background-image-holder {
        background-position: 33% 50% !important
    }

    .animal-care .purity .background-image-holder {
        background-position: 33% 50% !important
    }

    .sm-text-left {
        text-align: left
    }
}

@media (min-width:768px) {
    div.main-bfc_006 {
        background-position: 70% 50% !important
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        width: 96%
    }
}

@media (min-width:768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%
    }

    .col-sm-offset-right-11 {
        margin-right: 91.66666667%
    }

    .col-sm-offset-right-10 {
        margin-right: 83.33333333%
    }

    .col-sm-offset-right-9 {
        margin-right: 75%
    }

    .col-sm-offset-right-8 {
        margin-right: 66.66666667%
    }

    .col-sm-offset-right-7 {
        margin-right: 58.33333333%
    }

    .col-sm-offset-right-6 {
        margin-right: 50%
    }

    .col-sm-offset-right-5 {
        margin-right: 41.66666667%
    }

    .col-sm-offset-right-4 {
        margin-right: 33.33333333%
    }

    .col-sm-offset-right-3 {
        margin-right: 25%
    }

    .col-sm-offset-right-2 {
        margin-right: 16.66666667%
    }

    .col-sm-offset-right-1 {
        margin-right: 8.33333333%
    }

    .col-sm-offset-right-0 {
        margin-right: 0
    }

    .col-md-1 {
        width: 8.333333333333332%
    }

    .col-md-2 {
        width: 16.666666666666664%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33333333333333%
    }

    .col-md-5 {
        width: 41.66666666666667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.333333333333336%
    }

    .col-md-8 {
        width: 66.66666666666666%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33333333333334%
    }

    .col-md-11 {
        width: 91.66666666666666%
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-push-1 {
        left: 8.333333333333332%
    }

    .col-md-push-2 {
        left: 16.666666666666664%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-4 {
        left: 33.33333333333333%
    }

    .col-md-push-5 {
        left: 41.66666666666667%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-7 {
        left: 58.333333333333336%
    }

    .col-md-push-8 {
        left: 66.66666666666666%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-10 {
        left: 83.33333333333334%
    }

    .col-md-push-11 {
        left: 91.66666666666666%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-pull-1 {
        right: 8.333333333333332%
    }

    .col-md-pull-2 {
        right: 16.666666666666664%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-4 {
        right: 33.33333333333333%
    }

    .col-md-pull-5 {
        right: 41.66666666666667%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-7 {
        right: 58.333333333333336%
    }

    .col-md-pull-8 {
        right: 66.66666666666666%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-10 {
        right: 83.33333333333334%
    }

    .col-md-pull-11 {
        right: 91.66666666666666%
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    .col-md-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-md-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-md-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-md-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-md-offset-11 {
        margin-left: 91.66666666666666%
    }
}

@media (min-width:992px) {
    .col-md-offset-right-12 {
        margin-right: 100%
    }

    .col-md-offset-right-11 {
        margin-right: 91.66666667%
    }

    .col-md-offset-right-10 {
        margin-right: 83.33333333%
    }

    .col-md-offset-right-9 {
        margin-right: 75%
    }

    .col-md-offset-right-8 {
        margin-right: 66.66666667%
    }

    .col-md-offset-right-7 {
        margin-right: 58.33333333%
    }

    .col-md-offset-right-6 {
        margin-right: 50%
    }

    .col-md-offset-right-5 {
        margin-right: 41.66666667%
    }

    .col-md-offset-right-4 {
        margin-right: 33.33333333%
    }

    .col-md-offset-right-3 {
        margin-right: 25%
    }

    .col-md-offset-right-2 {
        margin-right: 16.66666667%
    }

    .col-md-offset-right-1 {
        margin-right: 8.33333333%
    }

    .col-md-offset-right-0 {
        margin-right: 0
    }
}

@media (min-width:1200px) {
    div.col-lg-bp-0 {
        background-position: 0% 0 !important
    }

    .col-lg-offset-right-12 {
        margin-right: 100%
    }

    .col-lg-offset-right-11 {
        margin-right: 91.66666667%
    }

    .col-lg-offset-right-10 {
        margin-right: 83.33333333%
    }

    .col-lg-offset-right-9 {
        margin-right: 75%
    }

    .col-lg-offset-right-8 {
        margin-right: 66.66666667%
    }

    .col-lg-offset-right-7 {
        margin-right: 58.33333333%
    }

    .col-lg-offset-right-6 {
        margin-right: 50%
    }

    .col-lg-offset-right-5 {
        margin-right: 41.66666667%
    }

    .col-lg-offset-right-4 {
        margin-right: 33.33333333%
    }

    .col-lg-offset-right-3 {
        margin-right: 25%
    }

    .col-lg-offset-right-2 {
        margin-right: 16.66666667%
    }

    .col-lg-offset-right-1 {
        margin-right: 8.33333333%
    }

    .col-lg-offset-right-0 {
        margin-right: 0
    }
}

@media (min-width:1600px) {
    .col-xlg-offset-right-12 {
        margin-right: 100%
    }

    .col-xlg-offset-right-11 {
        margin-right: 91.66666667%
    }

    .col-xlg-offset-right-10 {
        margin-right: 83.33333333%
    }

    .col-xlg-offset-right-9 {
        margin-right: 75%
    }

    .col-xlg-offset-right-8 {
        margin-right: 66.66666667%
    }

    .col-xlg-offset-right-7 {
        margin-right: 58.33333333%
    }

    .col-xlg-offset-right-6 {
        margin-right: 50%
    }

    .col-xlg-offset-right-5 {
        margin-right: 41.66666667%
    }

    .col-xlg-offset-right-4 {
        margin-right: 33.33333333%
    }

    .col-xlg-offset-right-3 {
        margin-right: 25%
    }

    .col-xlg-offset-right-2 {
        margin-right: 16.66666667%
    }

    .col-xlg-offset-right-1 {
        margin-right: 8.33333333%
    }

    .col-xlg-offset-right-0 {
        margin-right: 0
    }
}