a.btn {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: auto !important;
  text-transform: none;
  padding: 0 20px 0 0;
  border: 0;
  min-width: 0;
  color: #467ed7;
  background: url('../img/forward.png') 95% 60% no-repeat;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0px;
}

a.btn.forward-blue {
  background: url('../img/forward-blue.png') 95% 60% no-repeat;
}

a.btn:hover {
  color: #467ed7;
  background: url('../img/forward.png') 100% 60% no-repeat;
}

a.btn.forward-blue:hover {
  background: url('../img/forward-blue.png') 100% 60% no-repeat;
}

a.btn-white {
  color: #fff;
}

a.btn + a.btn {
  margin-left: 20px;
}