/************* Reset Styles *************/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;}ins{color:#000;text-decoration:none}mark{color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/************* Helper Styles *************/

.text-white{ color: #fff; }
.vhq{ transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; }
.left-mrv{ float: left; }
.vix{ float: right; }
.vih{ display: none !important; }
.vig{ width: 100% !important; }
.vdw { outline: 1px solid #333 !important; }
.mail-list-form { display: none !important; }
.vaz{ display: none !important; }
.ui-sortable div { cursor: move; }
.vje { background-color: #eee; outline: 1px dashed #ccc; display: inline-block; float: left !important; border-radius: 10px; opacity: 0.7 }
body [contenteditable] { cursor: text; }
.vba{ opacity: 0 !important; }
/*   Allows hovering on email-forms to edit the success and failure messages.   */
.email-form:hover .form-success, .email-form:hover .form-error{ opacity: 1; display: block; }

/************* Splash Styles *************/

.vhc{ position: fixed; width: 100%; height: 100%; z-index: 9999; background: #2F343C; font-family: "Helvetica Neue", "Helvetica", Helvetica, "Arimo", Arial, sans-serif !important; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; opacity: 1; }
.vhb{ position: absolute; top: 50%; left: 50%; width: 100px; height: 100px; margin-left: -50px; margin-top: -50px; z-index: 2; }
.vhb img{ width: 100%; }
.vha{ position: absolute; bottom: 40px; left: 50%; width: 200px; margin-left: -100px; text-align: center; color: #fff; font-size: 13px; }
.mrare-logo-mrv{ max-width: 100%; display: inline-block; margin-bottom: 32px; }

.vjg,
.vjg:before,
.vjg:after {
  border-radius: 50%;
}
.vjg:before,
.vjg:after {
  position: absolute;
  content: '';
}
.vjg:before {
  width: 5.2em;
  height: 10.2em;
  background: #2F343C;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 1s infinite ease 1.5s;
  animation: load2 1s infinite ease 1.5s;
}
.vjg {
  font-size: 11px;
  text-indent: -99999em;
  margin: 5em auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #FFF;
  top: 50%;
  margin-top: -5em;
  -webkit-animation: colourChange 2s infinite ease alternate;
  animation: colourChange 2s infinite ease alternate;
}
.vjg:after {
  width: 5.2em;
  height: 10.2em;
  background: #2F343C;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 1s infinite ease;
  animation: load2 1s infinite ease;
}

@keyframes colourChange {
	0% { box-shadow: inset 0 0 0 1em #FFF; }
	25% { box-shadow: inset 0 0 0 1em #ef4b4b; }
	50% { box-shadow: inset 0 0 0 1em #efb74b; }
	75% { box-shadow: inset 0 0 0 1em #d2ef4b; }
	100% { box-shadow: inset 0 0 0 1em #90ef4b; }
}

@-webkit-keyframes colourChange {
	0% { box-shadow: inset 0 0 0 1em #FFF; }
	25% { box-shadow: inset 0 0 0 1em #ef4b4b; }
	50% { box-shadow: inset 0 0 0 1em #efb74b; }
	75% { box-shadow: inset 0 0 0 1em #d2ef4b; }
	100% { box-shadow: inset 0 0 0 1em #90ef4b; }
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/************* Instructions modal Styles *************/

.vek{ position: fixed; width: 100%; height: 100%; z-index: 9998; background: rgba(255,255,255,0.7); top: 0px; left: 0px; overflow: hidden; }
.vel{ position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(47,52,60,0.9); font-family: "Helvetica Neue", "Helvetica", Helvetica, "Arimo", Arial, sans-serif !important; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; overflow: hidden; text-align: center;  }
.vel li{ }
.vel img{ height: 660px; display: block; margin: 0px auto; }
.vel .flex-prev{ display: none; }
.vel .flex-control-nav{ bottom: 32px; }
.vat{  position: relative;  }


/************* Structure Styles *************/

.vhv{ overflow: hidden; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; }

.vjc{ width: 250px; height: 100%; position: absolute; left: 0px; background: #2F343C; color: #fff; font-size: 14px; z-index: 200; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; }
.vjc ul{ margin: 0px; padding: 0px; list-style: none; overflow: hidden; }

.viu{ width: 800px; height: 100%; position: absolute; right: 0px; background: #eee; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; overflow-y: scroll}

.vjc, .vin, .vjq, .vhe, .vjr{ font-family: "Helvetica Neue", "Helvetica", Helvetica, "Arimo", Arial, sans-serif !important; }

/************* Button Styles *************/

.vhs{ display: inline-block; text-align: center; color: #fff; min-width: 96px; font-size: 12px; font-weight: bold; padding: 16px; cursor: pointer; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; line-height: 1 !important; }

.vak{ background-color: #58b551;  }
.vak:hover{ background: #6dc966; color: #fff; }
.val{ background-color: #D74B4B; }
.val:hover{ background: #e26060; color: #fff; }
.vaj{ background-color: #3498db; }
.vaj:hover{ background-color: #67bdf7; }

.vhm{ text-align: center; position: absolute; width: 320px; top: 50%	; margin-top: -200px; left: 50%; margin-left: -160px; z-index: 10; }
.vhe{ display: inline-block; width: 100%; height: 180px; padding: 12px; font-size: 24px; font-weight: bold; color: #aaa; border: 1px dashed #aaa; margin-bottom: 32px; cursor: pointer; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; }
.vhe span{ display: block; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.vhe:last-child{ margin-bottom: 0px; }
.vhe:hover{ background: rgba(255,255,255,0.4); }


/************* Sidebar Styles *************/

.sidebar-padding{ padding: 24px; display: inline-block; }
.vdu{ transform: translateX(-250px); -webkit-transform: translateX(-250px); -moz-transform: translateX(-250px); }

.vgu{ padding: 24px; position: relative; overflow: hidden; }
.vfp{ font-size: 24px; cursor: pointer; float: right; position: absolute; right: 24px; top: 21px; cursor: pointer; transform: rotate(0deg);  }
.vfp:hover{ transform: rotate(90deg); }
.vei{ font-weight: bold; }

.vfh{ margin-bottom: 16px; }

.vho{ padding-top: 16px; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; border-top: 1px solid rgba(255,255,255,0.1); border-bottom: 1px solid rgba(255,255,255,0.1);  }
.vho:hover{ background: #383E47; }
.vho span{ display: block; padding: 0px 24px 16px 24px; cursor: pointer; font-weight: bold; opacity: 0.7; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; }
.vho span:hover{ opacity: 1; }
.vho ul{ transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; max-height: 0px; }
.vho li{ font-size: 11px; text-transform: uppercase; color: #aaa; cursor: pointer; font-weight: bold; padding: 8px 24px; overflow: hidden; position: relative; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; }
.vho li:last-child{ margin-bottom: 0px; }
.vho li:first-child{ }
.vho li:hover{ color: #fff; }
.vho.vhr{ background-color: #383E47; padding-bottom: 16px; }
.vho.vhr span{ opacity: 1; }
.vho.vhr ul{ max-height: 400px; }

.vby, .vbx{ position: absolute; right: 0px; height: 34px; width: 34px; line-height: 34px; top: 0px; font-size: 22px; color: #fff; text-align: center; cursor: pointer; background: #D74B4B; transform: translateX(100px); -webkit-transform: translateX(100px); -moz-transform: translateX(100px);  }
.vho li:hover .vby, .vho li:hover .vbx{ transform: translateX(0px); -webkit-transform: translateX(0px); -moz-transform: translateX(0px); }

.vay{ overflow-y: auto !important; }
.vho .vax{ float: left; height: 12px;}
.vay span{ margin: 0px; padding: 0px; display: none; }
.vay li { margin-bottom: 8px; }

.vac{ text-align: center; padding: 24px; cursor: pointer; }
.vac i{ display: block; width: 100%; height: 96px; font-size: 36px; line-height: 96px; border: 2px dashed rgba(255,255,255,0.4); opacity: 0.5; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; background: rgba(255,255,255,0); box-sizing: border-box; }
.vac i:hover{ opacity: 0.9; background: rgba(255,255,255,0.1); }

.vem{ overflow-y: auto; }
.vaa{ cursor: move; padding-right: 24px; position: relative; height: 40px; overflow-x: hidden; line-height: 40px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
.vaa span{ font-size: 14px; color: #fff; }
.vab{ display: inline-block; max-width: 160px; overflow: hidden; }
.vab span{ text-overflow: ellipsis; cursor: text;}

.type-image-mrv:before, .type-text-mrv:before{ position: relative; bottom: 15px; content: ''; width: 10px; height: 10px; border-radius: 50%; margin-left: 24px; margin-right: 8px; display: inline-block; cursor: move; }
.type-image-mrv:before{ background-color: #E6A015; }
.type-text-mrv:before{ background-color: #59c5d2; }
.vaa span.vhz:before{ content: '\e641 '; margin-right: 8px; display: inline-block; font-family: 'Variant Icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.vaa span.vir:before{ content: ''; }
.vaa span:focus{ z-index: 9999 }
.vca{ position: absolute; right: 0px; height: 40px; width: 40px; line-height: 40px; top: 0px; font-size: 24px; color: #fff; text-align: center; cursor: pointer; background: #D74B4B; transform: translateX(100px); -webkit-transform: translateX(100px); -moz-transform: translateX(100px);  }
.vaa:hover .vca{ transform: translateX(0px); -webkit-transform: translateX(0px); -moz-transform: translateX(0px); }
.vaa:hover{ background: #383E47; }

.vcs{ padding: 24px; font-size: 12px; font-weight: bold; text-transform: uppercase; }

.vgz{ padding: 0px; overflow: hidden; position: absolute; bottom: 0px; width: 100%; }
.vgr, .vdq, .vdv{ line-height: 1 !important; width: 50%; height: 56px; border-radius: 0%; text-align: center; cursor: pointer; position: relative; overflow: hidden; }
.vgr i, .vdq i, .vdv i{ color: #fff; font-size: 32px; position: relative; top: 12px; }
.vgr span, .vdq span, .vdv span{ position: absolute; transform: translateX(100px); -webkit-transform: translateX(100px); -moz-transform: translateX(100px); display: block; width: 100%; font-size: 12px; font-weight: bold; margin-top: -9px; }
.vgr:hover i, .vdq:hover i, .vdv:hover i{ translateX(-100px); -webkit-transform: translateX(-100px); -moz-transform: translateX(-100px);  }
.vgr:hover span, .vdq:hover span, .vdv:hover span{ transform: translateX(0px); -webkit-transform: translateX(0px); -moz-transform: translateX(0px); }

.vgr{ float: left; background: #D74B4B; }
.vdv{ float: left; background: #fff; color: #D74B4B; }
.vdv i{ color: #D74B4B; }
.vdq{ float: right; background: #58b551; }

.vgw{ position: absolute; bottom: 56px; right: -48px; width: 48px; height: 48px; border-radius: 0px 8px 8px 0px; background: rgba(0,0,0,0.5); color: #fff; font-size: 24px; text-align: center; cursor: pointer;   }
.vgw i{ position: relative; top: 12px; }
.vgw:hover{ background: rgba(0,0,0,0.8); }

/************* Modal Styles *************/

.vjq{ width: 350px; background: rgba(47,52,60,0.9); height: 100%; overflow: hidden; position: absolute; left: 250px; border-left: 1px solid rgba(255,255,255,0.2); font-size: 14px; transform: translateX(-600px); -webkit-transform: translateX(-600px); -moz-transform: translateX(-600px); transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; z-index: 100; }
.vjq .vjl{ display: block; padding: 24px; color: #fff; font-weight: bold; background: #2F343C; margin-bottom: 24px; }
.vjq .vgt{ position: relative; padding-bottom: 24px; border-bottom: 1px solid rgba(255,255,255,0.2); }
.vjq .vhs{ margin-left: 24px; }
.vjq .vex, .vin .vex{ position: absolute; color: #fff; cursor: pointer; right: 24px; top: 20px; font-size: 24px; }

.vhn{ padding-top: 24px; border-top: 1px solid rgba(255,255,255,0.2); }
.vhn .vhs{ margin-bottom: 24px; }

.vfw{ height: 0px; overflow-y: auto; }

.ves{ max-height: 38px; height: 38px; line-height: 38px; padding: 0px 24px; width: 100%; color: #fff; cursor: pointer; background: none; position: relative; overflow: hidden; display: inline-block; box-sizing: border-box; }
.ves span{ font-size: 14px; }
.ves:hover{ background: rgba(255,255,255,0.1); }
.vfx{ font-size: 14px; }
.vgc{ float: left; }
.vfr .vgt{ overflow: hidden; }

.ved{ margin-right: 24px; }
.vef{ width: 0px; height: 0px; overflow: hidden; }
.vdi{ margin-right: 24px; margin-top: 24px; }
.vah{ margin-top: 24px; }

.vbz, .vdj{ position: absolute; right: 0px; height: 40px; width: 40px; line-height: 40px; top: 0px; font-size: 24px; color: #fff; text-align: center; cursor: pointer; background: #D74B4B; transform: translateX(100px); -webkit-transform: translateX(100px); -moz-transform: translateX(100px);  }
.vdj{ background: #3498db; }
.ves:hover .vbz{ transform: translateX(0px); -webkit-transform: translateX(0px); -moz-transform: translateX(0px); }
.ves:hover .vdj{ transform: translateX(-40px); -webkit-transform: translateX(-40px); -moz-transform: translateX(-40px); }
.ves .variant-file{ font-size: 26px; position: relative; top: 6px; margin-right: 12px; }

.vad .vjl{ margin-bottom: 0px; }
.vad .vgt{ border: none; padding-bottom: 0px; }
.vgi{ overflow: hidden; background: #3498db; }
.vgh{ text-transform: uppercase; color: #fff; cursor: pointer; padding: 12px 12px 14px 12px; float: left; font-size: 10px; line-height: 10px; font-weight: bold; background: #3498db; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; }
.vgh.vhr{ background: #2980b9; }
.vgh:hover{ background: #2980b9; }

.vgm{ height: 0px; overflow-y: auto; overflow-x: hidden; }
.vgl{ cursor: pointer; margin: 24px 24px 0px 24px; position: relative; }
.vgl .vjl{ padding: 12px; }
.vgl img{ width: 100%; }
.vgl .vgj{ right: 0; height: 35px; width: auto; position: absolute; bottom: 5px; right: 5px; }

.vgq{ transform: translateX(0px); -webkit-transform: translateX(0px); -moz-transform: translateX(0px); }

.vds{ width: 400px; }
.vdo{ width: 800px; }

.vin{ -webkit-font-smoothing: antialiased; font-smoothing: antialiased;  background: rgba(47,52,60,0.9); display: none; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; }
.vin .vfa{ cursor: move; padding: 24px; background: #2F343C; color: #fff; font-weight: bold; font-size: 14px; position: relative;  }
.vin .vew{ padding: 24px; }
.vew p{ color: #fff; font-size: 14px; line-height: 24px; margin-bottom: 24px; }
.vew p:last-child{ margin-bottom: 24px;  }

.vin input[type="text"]{ border-radius: 0px !important; background: #fff !important; color: #333 !important; max-width: 100% !important; }

.vez{ margin: 0px !important; padding: 0px !important; height: 40px !important; width: 100% !important; padding-left: 8px !important; box-sizing: border-box !important; box-shadow: none !important; border: none !important; font-size: 14px !important; }
.vez:focus{ outline: none; border: 1px solid #3498db;  }

.vjp{ padding: 0px 24px 24px 24px; overflow: hidden; clear: both; }
.vjp .vex{ position: relative; top: 0px; right: 0px; font-size: 12px; }


.vej{ overflow: hidden; margin-bottom: 24px; }
.vej span{ font-size: 14px; color: #ffffff; font-weight: bold; line-height: 40px; display: inline-block; width: 40%; float: left; }
.vej .vez{ width: 60% !important; float: right; }
.vej .vja{ width: 60%; float: right; height: 40px; border-radius: 0px; font-size: 14px; }
.vej:last-child{ margin-bottom: 0px; }

.vcl .vew{ overflow: hidden; }
.vcl .vjp{ padding: 1px; width: 100% !important; margin-top: 1px; }
.vhp{ float: none; margin-bottom: 24px; min-width: 124px; }
.vey{ width: 50%; float: left; }
.vey input{ margin-bottom: 24px !important; }
.vey input:last-child{ margin-bottom: 0px; }

.vcm{ padding-left: 24px; text-align: center; cursor: pointer; }
.vcm .veb{ color: #fff; font-weight: bold; font-size: 12px; }
.vcp{ max-height: 220px; max-width: 100%; }
.vee{ margin-left: 24px; } 
.vch{ width: 0px; height: 0px; overflow: hidden; }
.veb{ display: block; margin-top: 8px; margin-bottom: 24px; }
.vdx{ height: 450px; overflow: hidden; overflow-y: scroll; }
.vdy{ height: 100px; max-width: 300px; overflow: hidden; position: relative; margin-right: 24px; margin-bottom: 24px; float: left; background: url('../img/checkerboard.png'); }
.vdy img{ max-height: 100%; cursor: pointer; }
.vdy.no-image{ background-image: none !important; background-color: #D74B4B; color: #fff !important; cursor: pointer; padding: 12px; line-height: 20px; }
.vec{ position: absolute; z-index: 2; bottom: 8px; right: 8px; color: #fff; font-weight: bold; font-size: 12px; text-shadow: 1px 1px 2px #333;  }

.vce{ overflow: hidden; max-height: 500px; overflow-y: auto; }
.vam{ width: 44px; height: 44px; margin: 0px 8px 8px 0px; font-size: 28px; color: #fff; text-align: center; float: left; cursor: pointer; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; line-height: 48px; }
.vam:hover{ background: #2F343C; }

.vft{ width: 100%; height: 420px; overflow: auto; }
.vfu{ width: 2000px; box-sizing: border-box; height: 420px; margin: 0px; background: none; border: none; box-shadow: none; font-size: 12px; font-family: 'Courier New'; line-height: 18px; color: #fff; }
.vfu:focus{ outline: none; border: 1px solid #3498db;  }
.vgy{ margin-left: 24px;}

/************* Context Menu Styles *************/

.vjr { position: absolute; display: none; border: #c0c0c0 solid 1px; z-index: 1000;}
.vau{ padding: 15px; background: #33393d; color: #fff; font-size: 16px; font-weight: bold; text-align: center;}
.vaw { padding: 15px; background-color: #f0f0f0; font-size: 14px; border-top: 1px solid #ddd; min-width: 150px; color: #666;}
.vav:hover { cursor: pointer; background-color: #58b551; color: #ffffff;}

.bfc-bg > span {
    display: block;
    padding: 15px;
    background-color: #f0f0f0;
    font-size: 14px;
    border-top: 1px solid #ddd;
    min-width: 150px;
    color: #666;
}
.bfc-bg > div {
    border-top: 1px solid #eee;
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.bfc-bg > div > span {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 5px 0;
}

.bfc-bg > div > span.active {
    border: 1px solid #7d7d7d;
}
.bfc-bg > div > span.bg-gray {
    background: #f4f4f4;
}
.bfc-bg > div > span.bg-white {
    background: #FFFFFF;
}
/************* Context Menu Styles *************/

.vib{ display: none !important; }
.vjb{ opacity: 0.5; border: 1px solid #e26060; }

/************* Template Specific Style Fixes *************/


/** PIVOT **/

.video-wrapper video{ width: 130% !important; }
.main-container{ opacity: 1 !important; }
nav{ opacity: 1 !important; }

/************* Embedded Videos *************/

.vju:before{ content: ''; position: absolute; top: 0px; left: 0px; height: 80%; z-index: 2; background: none; opacity: 0; width: 100%; }
